extends ../layout

block content
  section#content(ng-app="listaAsistencia" ng-controller="listaAsistenciaController")
    #page-content-wrapper.rm-transition
      #page-content
        h2(style="margin-left: 42%; margin-top: 5%;")
            | {{alumno.Nombre}} {{alumno.Apellidos}}
        img(src='http://drive.google.com/uc?export=view&id={{alumno.Foto}}' style=" width: 200px; margin-left: 42%; margin-top: 1%; margin-bottom: 1%; border: aqua;  border-radius: 9px 9px 9px 9px;  -moz-border-radius: 9px 9px 9px 9px;    -webkit-border-radius: 9px 9px 9px 9px;    border: 4px solid #857d85;")
        .button-pane(style="background: none !important;")
          button.btn.btn-success.btn-border.btn-sm.br-2.mb-10(ng-click='getURL()')
            |  Aprobar Asistencia
          a.btn.btn-danger.btn-border.btn-sm.br-2.mb-10(href='/asistencia')
            |  Cancelar
        //{{listaAsistencia}}
  script(src='/js/modules/QRAsistencia/QRAsistencia.js')
  script(src='/js/services/QRAsistencia.js')            