extends ../layout

block content
  section#content(ng-app="listaProductos" ng-controller="listaProductosController")
    #page-content-wrapper.rm-transition
      #page-content
          h2 Entrada de productos
          .example-box-wrapper
            .col-md-4
            .col-md-4
              .row
                label(for='sel1') Filtrar por:
              .row
                .input-group
                  span.input-group-addon.bg-grey
                    i.glyph-icon.icon-search
                  input.form-control(type='text', placeholder='Criterio de busqueda', ng-model="filtro")             
            .col-md-4
          .example-box-wrapper
            table.table.table-striped.table-bordered.table-hover(cellpadding='0', cellspacing='0', border='0')
              thead
                tr
                  th Referencia
                  th Nombre
                  th Categoria
                  th Piezas
                  th Precio Público
                  th Costo Academia
                  th Total PP
                  th Total Costo Academia
                  th Empaque
                  th Franquicia
                  th ...
              tbody
                tr(ng-repeat="Producto in lista | filter: filtro")   
                  td {{Producto.Codigo}}
                  td {{Producto.Nombre}}
                  td {{Producto.Categoria}}
                  td {{Producto.Existencias}}
                  td ${{Producto.Precio}}
                  td ${{Producto.Precioa}}
                  td ${{Producto.Precio*Producto.Existencias}}
                  td ${{Producto.Precioa*Producto.Existencias}}
                  td {{Producto.Empaque}}
                  td {{Producto.nombreFranq}}
                  td(style='width:20px;')
                    button.btn.btn-success(data-toggle='modal', data-target='#myModalEditar', title="Agregar piezas", ng-click="editar(Producto)")
                      span.glyph-icon.icon-plus 
                      
      //Modales
      #myModalEditar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-md
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Agrega al inventario piezas de: {{modificar.Nombre}}
            .modal-body
              form
                  .row
                    .col-md-4
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Piezas actuales: {{modificar.Existencias}}                  
                    .col-md-6
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Agregar:
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-plus
                              input.form-control(type='text', placeholder='Numero de piezas', ng-model="modificar.Existencias2")
                    .col-md-2
            .modal-footer
              button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-success(ng-click="actualizarStock(modificar._id, modificar)", data-dismiss='modal' ,ng-disabled="!modificar.Codigo || !modificar.Nombre || !modificar.Categoria || !modificar.Existencias2 || !modificar.Precio || !modificar.Precioa || !modificar.Empaque") Agregar                      
              
  script(src='/js/modules/productos/productos.js')
  script(src='/js/services/productos.js')    