extends ../layout

block content
  div(ng-app="listaProductos" ng-controller="listaProductosController")
    #sb-site
      #page-wrapper
        section#content
          #page-content-wrapper.rm-transition
            #page-content
                h2 Administración de productos
                .example-box-wrapper
                  .col-md-4
                    button.btn.btn-primary(style="background-color:#646d72;border-color:#646d72;margin-top:20px;", data-toggle='modal', data-target='#myModalRegistrar', title="Registrar franquicia")
                      span.glyph-icon.icon-plus
                      |  Nuevo producto          
                  .col-md-4
                    .row
                      label(for='sel1') Filtrar por:
                    .row
                      .input-group
                        span.input-group-addon.bg-grey
                          i.glyph-icon.icon-search
                        input.form-control(type='text', placeholder='Criterio de busqueda', ng-model="filtro")             
                  .col-md-4
                .example-box-wrapper
                  table.table.table-striped.table-bordered.table-hover(cellpadding='0', cellspacing='0', border='0')
                    thead
                      tr
                        th Referencia
                        th Nombre
                        th Categoria
                        th Piezas Paquete
                        th Precio Público
                        th Costo Academia
                        th Total PP
                        th Total Costo Academia
                        th Empaque
                        //th Franquicia
                        th(colspan="2") ...
                    tbody
                      tr(ng-repeat="Producto in lista | filter: filtro")   
                        td {{Producto.Codigo}}
                        td {{Producto.Nombre}}
                        td {{Producto.Categoria}}
                        td {{Producto.Existencias}}
                        td ${{Producto.Precio}}
                        td ${{Producto.Precioa}}
                        td ${{Producto.Precio*Producto.Existencias}}
                        td ${{Producto.Precioa*Producto.Existencias}}
                        td {{Producto.Empaque}}
                        //td {{Producto.nombreFranq}}
                        td(style='width:20px;')
                          button.btn.btn-warning(data-toggle='modal', data-target='#myModalEditar', title="Editar", ng-click="editar(Producto)")
                            span.glyph-icon.icon-pencil  
                        td(style='width:20px;')
                          button.btn.btn-danger(title="Eliminar", ng-click="borrarProducto(Producto._id)")
                            span.glyph-icon.icon-remove                        
                            
            //Modales
            #myModalEditar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
              .modal-dialog.modal-lg
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4.modal-title Editar producto: {{modificar.Nombre}}
                  .modal-body
                    form
                        .row
                          .col-md-6
                            .form-group
                              .row
                                label(for='modalEditarTelefono') Codigo:
                              .row
                                .input-group
                                  span.input-group-addon.bg-grey
                                    i.glyph-icon.icon-barcode
                                  input.form-control(type='text', placeholder='Codigo', ng-model="modificar.Codigo")
                          .col-md-6
                            .form-group
                              .row
                                label(for='modalEditarTelefono') Nombre:
                              .row
                                .input-group
                                  span.input-group-addon.bg-grey
                                    i.glyph-icon.icon-list
                                  input.form-control(type='text', placeholder='Nombre', ng-model="modificar.Nombre")
                          .col-md-6 
                            .form-group
                              .row
                                label(for='modalEditarTelefono') Categoria:
                              .row
                                .input-group
                                  select.form-control(ng-model='modificar.Categoria')
                                    option(value='') Seleccione categoria
                                    option(value='Barnices diluyentes y medios') Barnices diluyentes y medios
                                    option(value='Texturizadores') Texturizadores
                                    option(value='Tecnicas secas') Tecnicas secas
                                    option(value='Superficies') Superficies 
                                    option(value='Bastidor basico tira delgada') Bastidor basico tira delgada
                                    option(value='Bastidorprofesional') Bastidor profesional tira normal
                                    option(value='Bastidor profesional tira normal') Bastidor galeria
                                    option(value='Navajas') Navajas
                                    option(value='Pasta francesa') Pasta francesa
                                    option(value='Modeladores y alambres') Modeladores y alambres
                                    option(value='Superficies') Superficies
                                    option(value='Accesorios y herramientas') Accesorios y herramientas
                                    option(value='Estiques') Estiques
                                    option(value='Godetes') Godetes
                                    option(value='Superficies') Superficies
                                    option(value='Gurbias') Gurbias
                                    option(value='Limpia pinceles') Limpia pinceles
                                    option(value='Paletas') Paletas
                                    option(value='Adhesivos') Adhesivos
                                    option(value='Condor') Condor
                                    option(value='Pinceles condor') Pinceles condor
                                    option(value='Pinceles nacionales') Pinceles nacionales
                                    option(value='Set de pinceles') Set de pinceles
                                    option(value='Tecnicas humedas') Tecnicas humedas
                                    option(value='Pastas para modelado') Pastas para modelado
                                    option(value='Gomas y sacapuntas') Gomas y sacapuntas
                                    option(value='Oleos') Oleos profesionales
                                    option(value='Acrilicos') Acrilicos pintart
                              .row
                                label(for='modalEditarTelefono') Franquicia:                              
                              .row
                                select.form-control(ng-model='franq', ng-click='demo2(franq)')
                                  option(value='') Seleccione una franquicia
                                  option(ng-repeat='Franquicia in lista2', value='{{Franquicia.No}}:{{Franquicia.Nombre}}') {{Franquicia.Nombre}}                              
                          .col-md-6
                            .col-md-6
                                .form-group
                                  .row
                                    label(for='modalEditarTelefono') Piezas Paquete:
                                  .row
                                    .input-group
                                      span.input-group-addon.bg-grey
                                        i.glyph-icon.icon-list
                                      input.form-control(type='text', placeholder='Piezas', ng-model="modificar.Existencias")
                            .col-md-6
                                .form-group
                                  .row
                                    label(for='modalEditarTelefono') Precio:
                                  .row
                                    .input-group
                                      span.input-group-addon.bg-grey
                                        i.glyph-icon.icon-dollar
                                      input.form-control(type='text', placeholder="Precio Público" , ng-model="modificar.Precio")
                            .col-md-6
                                .form-group
                                  .row
                                    label(for='modalEditarTelefono') Precio academia:
                                  .row
                                    .input-group
                                      span.input-group-addon.bg-grey
                                        i.glyph-icon.icon-dollar
                                      input.form-control(type='text', placeholder="Precio Academia" , ng-model="modificar.Precioa")
                            .col-md-6
                                .form-group
                                  .row
                                    label(for='modalEditarTelefono') Empaque:
                                  .row
                                    .input-group
                                      span.input-group-addon.bg-grey
                                        i.glyph-icon.icon-archive
                                      input.form-control(type='text', placeholder="Precio Empaque" , ng-model="modificar.Empaque")                                
                  .modal-footer
                    button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
                    button.btn.btn-success(ng-click="actualizarProducto(modificar._id, modificar)", data-dismiss='modal' ,ng-disabled="!modificar.Codigo || !modificar.Nombre || !modificar.Categoria || !modificar.Existencias || !modificar.Precio || !modificar.Precioa || !modificar.Empaque") Guardar                      
                    
            #myModalRegistrar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
              .modal-dialog.modal-lg
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4.modal-title Nuevo Producto
                  .modal-body
                    form
                        .row
                          .col-md-6
                            .form-group
                              .row
                                label(for='modalEditarTelefono') Referencia:
                              .row
                                .input-group
                                  span.input-group-addon.bg-grey
                                    i.glyph-icon.icon-barcode
                                  input.form-control(type='text', placeholder='Codigo', ng-model="nuevoProducto.Codigo")
                             .form-group
                                .row
                                  label(for='modalEditarTelefono') Nombre:
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='Nombre', ng-model="nuevoProducto.Nombre")
                            .form-group
                              .row
                                label(for='modalEditarTelefono') Categoria:
                              .row
                                .input-group
                                  span.input-group-addon.bg-grey
                                    i.glyph-icon.icon-th-large
                                  select.form-control(ng-model='nuevoProducto.Categoria')
                                    option(value='') Seleccione categoria
                                    option(value='Barnices diluyentes y medios') Barnices diluyentes y medios
                                    option(value='Texturizadores') Texturizadores
                                    option(value='Tecnicas secas') Tecnicas secas
                                    option(value='Superficies') Superficies 
                                    option(value='Bastidor basico tira delgada') Bastidor basico tira delgada
                                    option(value='Bastidorprofesional') Bastidor profesional tira normal
                                    option(value='Bastidor profesional tira normal') Bastidor galeria
                                    option(value='Navajas') Navajas
                                    option(value='Pasta francesa') Pasta francesa
                                    option(value='Modeladores y alambres') Modeladores y alambres
                                    option(value='Superficies') Superficies
                                    option(value='Accesorios y herramientas') Accesorios y herramientas
                                    option(value='Estiques') Estiques
                                    option(value='Godetes') Godetes
                                    option(value='Superficies') Superficies
                                    option(value='Gurbias') Gurbias
                                    option(value='Limpia pinceles') Limpia pinceles
                                    option(value='Paletas') Paletas
                                    option(value='Adhesivos') Adhesivos
                                    option(value='Condor') Condor
                                    option(value='Pinceles condor') Pinceles condor
                                    option(value='Pinceles nacionales') Pinceles nacionales
                                    option(value='Set de pinceles') Set de pinceles
                                    option(value='Tecnicas humedas') Tecnicas humedas
                                    option(value='Pastas para modelado') Pastas para modelado
                                    option(value='Gomas y sacapuntas') Gomas y sacapuntas
                                    option(value='Oleos') Oleos profesionales
                                    option(value='Acrilicos') Acrilicos pintart
                          .col-md-6
                            .col-md-6
                                .form-group
                                  .row
                                    label(for='modalEditarTelefono') Piezas Paquete:
                                  .row
                                    .input-group
                                      span.input-group-addon.bg-grey
                                        i.glyph-icon.icon-list
                                      input.form-control(type='text', placeholder='Existencias', ng-model="nuevoProducto.Existencias")
                            .col-md-6
                                .form-group
                                  .row
                                    label(for='modalEditarTelefono') Precio público:
                                  .row
                                    .input-group
                                      span.input-group-addon.bg-grey
                                        i.glyph-icon.icon-dollar
                                      input.form-control(type='text', placeholder='Precio público', ng-model="nuevoProducto.Precio")
                            .col-md-6
                                .form-group
                                  .row
                                    label(for='modalEditarTelefono') Precio academia:
                                  .row
                                    .input-group
                                      span.input-group-addon.bg-grey
                                        i.glyph-icon.icon-dollar
                                      input.form-control(type='text', placeholder='Precio academia', ng-model="nuevoProducto.Precioa")
                            .col-md-6
                                .form-group
                                  .row
                                    label(for='modalEditarTelefono') Empaque:
                                  .row
                                    .input-group
                                      span.input-group-addon.bg-grey
                                        i.glyph-icon.icon-archive
                                      input.form-control(type='text', placeholder='Empaque', ng-model="nuevoProducto.Empaque")    
                          .col-md-6
                              .example-box-wrapper
                                .radio-inline
                                  label
                                    #uniform-inlineRadio9.radio
                                      span
                                        input#inlineRadio9.custom-radio(type='radio', name='example-radio', ng-click='SelectFactquicia("Todas")')
                                        i.glyph-icon.icon-circle
                                    |               Todos las Franquicias
                                .radio-inline
                                  label
                                    #uniform-inlineRadio9.radio
                                      span
                                        input#inlineRadio9.custom-radio(type='radio', name='example-radio', ng-click='SelectFactquicia("Seleccionadas")')
                                        i.glyph-icon.icon-circle
                                    |               Seleccionar Franquicias
                          #selFrac.col-md-12(style='display:none')
                            .col-md-6
                              .row
                                  label(for='modalEditarTelefono') Franquicia: 
                                  .input-group
                                    select.form-control(ng-model='franq')
                                      option(value='') Seleccione una franquicia
                                      option(ng-repeat='Franquicia in lista2', value='{{Franquicia.No}}:{{Franquicia.Nombre}}') {{Franquicia.Nombre}}
                                    span.input-group-addon.bg-grey(ng-click="demo()")
                                      i.glyph-icon.icon-plus-circle
                            .col-md-6
                              table.table
                                tr(ng-repeat="repFrac in nuevoProducto.Franq") 
                                  td {{repFrac.idFranq}}
                                  td {{repFrac.nombreFranq}}
                  .modal-footer
                    button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
                    button.btn.btn-success(type="button", ng-click="registrarProducto();") Registrar        
        
    script(src='/js/modules/productos/productos.js')
    script(src='/js/services/productos.js')    