.sb-slidebar.sb-right.sb-style-overlay
  .scrollable-content.scrollable-nice
    .pad15A
      a.popover-title(href='#', title='', data-toggle='collapse', data-target='#sidebar-toggle-1')
        | Cloud status
        span.caret
      #sidebar-toggle-1.collapse.in
        .pad15A
          .row
            .col-md-4
              .text-center.font-gray.pad5B.text-transform-upr.font-size-12 New visits
              .chart-alt-3.font-gray-dark(data-percent='55')
                span 55
                | %
            .col-md-4
              .text-center.font-gray.pad5B.text-transform-upr.font-size-12 Bounce rate
              .chart-alt-3.font-gray-dark(data-percent='46')
                span 46
                | %
            .col-md-4
              .text-center.font-gray.pad5B.text-transform-upr.font-size-12 Server load
              .chart-alt-3.font-gray-dark(data-percent='92')
                span 92
                | %
          .divider.mrg15T.mrg15B
          .text-center
            a.btn.center-div.btn-info.mrg5T.btn-sm.text-transform-upr.updateEasyPieChart(href='#')
              i.glyph-icon.icon-refresh
              |                 Update charts
      .clear
      a.popover-title(href='#', title='', data-toggle='collapse', data-target='#sidebar-toggle-6')
        | Latest transfers
        span.caret
      #sidebar-toggle-6.collapse.in
        ul.files-box
          li
            i.files-icon.glyph-icon.font-red.icon-file-archive-o
            .files-content
              b blog_export.zip
              .files-date
                i.glyph-icon.icon-clock-o
                |                     added on 
                b 22.10.2014
            .files-buttons
              a.btn.btn-xs.hover-info.tooltip-button(href='#', data-placement='right', title='Download')
                i.glyph-icon.icon-cloud-download
              a.btn.btn-xs.hover-danger.tooltip-button(href='#', data-placement='right', title='Delete')
                i.glyph-icon.icon-times
          li.divider
          li
            i.files-icon.glyph-icon.icon-file-code-o
            .files-content
              b homepage-test.html
              .files-date
                i.glyph-icon.icon-clock-o
                |                     added  
                b 19.10.2014
            .files-buttons
              a.btn.btn-xs.hover-info.tooltip-button(href='#', data-placement='right', title='Download')
                i.glyph-icon.icon-cloud-download
              a.btn.btn-xs.hover-danger.tooltip-button(href='#', data-placement='right', title='Delete')
                i.glyph-icon.icon-times
          li.divider
          li
            i.files-icon.glyph-icon.font-yellow.icon-file-image-o
            .files-content
              b monthlyReport.jpg
              .files-date
                i.glyph-icon.icon-clock-o
                |                     added on 
                b 10.9.2014
            .files-buttons
              a.btn.btn-xs.hover-info.tooltip-button(href='#', data-placement='right', title='Download')
                i.glyph-icon.icon-cloud-download
              a.btn.btn-xs.hover-danger.tooltip-button(href='#', data-placement='right', title='Delete')
                i.glyph-icon.icon-times
          li.divider
          li
            i.files-icon.glyph-icon.font-green.icon-file-word-o
            .files-content
              b new_presentation.doc
              .files-date
                i.glyph-icon.icon-clock-o
                |                     added on 
                b 5.9.2014
            .files-buttons
              a.btn.btn-xs.hover-info.tooltip-button(href='#', data-placement='right', title='Download')
                i.glyph-icon.icon-cloud-download
              a.btn.btn-xs.hover-danger.tooltip-button(href='#', data-placement='right', title='Delete')
                i.glyph-icon.icon-times
      .clear
      a.popover-title(href='#', title='', data-toggle='collapse', data-target='#sidebar-toggle-3')
        | Tasks for today
        span.caret
      #sidebar-toggle-3.collapse.in
        ul.progress-box
          li
            .progress-title
              | New features development
              b 87%
            .progressbar-smaller.progressbar(data-value='87')
              .progressbar-value.bg-azure
                .progressbar-overlay
          li
            .progress-title
              | Finishing uploading files
              b 66%
            .progressbar-smaller.progressbar(data-value='66')
              .progressbar-value.bg-red
                .progressbar-overlay
          li
            .progress-title
              | Creating tutorials
              b 58%
            .progressbar-smaller.progressbar(data-value='58')
              .progressbar-value.bg-blue-alt
          li
            .progress-title
              | Frontend bonus theme
              b 74%
            .progressbar-smaller.progressbar(data-value='74')
              .progressbar-value.bg-purple
      .clear
      a.popover-title(href='#', title='', data-toggle='collapse', data-target='#sidebar-toggle-4')
        | Pending notifications
        span.bs-label.bg-orange.tooltip-button(title='Label example') New
        span.caret
      #sidebar-toggle-4.collapse.in
        ul.notifications-box.notifications-box-alt
          li
            span.bg-purple.icon-notification.glyph-icon.icon-users
            span.notification-text This is an error notification
            .notification-time
              | a few seconds ago
              span.glyph-icon.icon-clock-o
            a.notification-btn.btn.btn-xs.btn-black.tooltip-button(href='#', data-placement='right', title='View details')
              i.glyph-icon.icon-arrow-right
          li
            span.bg-warning.icon-notification.glyph-icon.icon-ticket
            span.notification-text This is a warning notification
            .notification-time
              b 15
              |  minutes ago
              span.glyph-icon.icon-clock-o
            a.notification-btn.btn.btn-xs.btn-black.tooltip-button(href='#', data-placement='right', title='View details')
              i.glyph-icon.icon-arrow-right
          li
            span.bg-green.icon-notification.glyph-icon.icon-random
            span.notification-text.font-green A success message example.
            .notification-time
              b 2 hours
              |  ago
              span.glyph-icon.icon-clock-o
            a.notification-btn.btn.btn-xs.btn-black.tooltip-button(href='#', data-placement='right', title='View details')
              i.glyph-icon.icon-arrow-right