extends ../layout

block content
  div(ng-app="listaAlumnos" ng-controller="listaAlumnosController")
    #sb-site
      #page-wrapper
        section#content
          #page-content-wrapper.rm-transition
            #page-content
                h2 Control de alumnos
                .example-box-wrapper
                  .col-md-4
                    button.btn.btn-primary(style="background-color:#646d72;border-color:#646d72;margin-top:20px;", data-toggle='modal', data-target='#myModalRegistrar', title="Registrar franquicia")
                      span.glyph-icon.icon-plus
                      |  Nuevo alumno          
                  .col-md-4
                    .row
                      label(for='sel1') Filtrar por:
                    .row
                      .input-group
                        span.input-group-addon.bg-grey
                          i.glyph-icon.icon-search
                        input.form-control(type='text', placeholder='Criterio de busqueda', ng-model="filtro")             
                  .col-md-4
                .example-box-wrapper
                  table.table.table-striped.table-bordered.table-hover(cellpadding='0', cellspacing='0', border='0')
                    thead
                      tr
                        th Fecha Alta
                        th Nombre
                        th Tutor
                        th Teléfono Tutor
                        th Email Tutor
                        th Clase inscrito
                        th Estatus
                        th Código
                        th(colspan="4") ...
                    tbody
                      tr(ng-repeat="Alumno in lista | filter: filtro") 
                        td {{Alumno.FechaAlta}}
                        td {{Alumno.Nombre}} {{Alumno.Apellidos}}
                        td {{Alumno.NombreTutor}} {{Alumno.ApellidosTutor}}
                        td {{Alumno.TelefonoTutor}}
                        td {{Alumno.EmailTutor}}
                        td Por definir
                        td(ng-class="{rojo:Alumno.Estatus == 'Baja', verde:Alumno.Estatus == 'Activo'}") {{Alumno.Estatus}}
                        td
                          img(src="https://chart.googleapis.com/chart?chs=80x80&cht=qr&chl=https://mas-arte-j0u135.c9users.io/QRAsistencia?id={{Alumno._id}}&choe=UTF-8")
                        td(style='width:20px;')
                          button.btn.btn-primary(data-toggle='modal', data-target='#myModalEditar', title="Editar Información", ng-click="editar(Alumno)" style="background-color:blue;")
                            span.glyph-icon.icon-info-circle
                        td(style='width:20px;')
                          button.btn.btn-default(data-toggle='modal', data-target='#myModalBaja', title="Dar de baja", ng-click="editar2(Alumno)", ng-hide="Alumno.Estatus=='Baja'")
                            span.glyph-icon.icon-arrow-circle-down
                          button.btn.btn-defautl(title="Activar", ng-click="editaAct(Alumno)", ng-hide="Alumno.Estatus=='Activo'")
                            span.glyph-icon.icon-refresh   
                        td(style='width:20px;')
                          button.btn.btn-secondary.label-yellow(data-toggle='modal', data-target='#myModalFirma', title="Firma Tutor", ng-click="editar3(Alumno)")
                            span.glyph-icon.icon-pencil-square-o  
                        td.sb-toggle-right
                           a.btn.btn-defautl.label-purple(href='#', title='Pagar y/o Compra de Artículos', ng-click="getSlider(Alumno)")
                            span.glyph-icon.icon-dollar
                                
                            
            //Modales
            #myModalEditar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
              .modal-dialog.modal-lg(style="width:1120px;")
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4.modal-title Editar alumno: {{modificar.Nombre}}
                  .modal-body
                      ul.nav.nav-pills
                        li.active
                          a(data-toggle='pill', href='#homeE') Datos Personales
                        li
                          a(data-toggle='pill', href='#menu1E') Dirección
                        li
                          a(data-toggle='pill', href='#menu2E') Contacto
                        li
                          a(data-toggle='pill', href='#menu3E') Registro
                      .tab-content
                        #homeE.tab-pane.fade.in.active
                          br
                          br
                          .row
                            .col-md-3
                              .row
                                img.center-block.img-responsive(src="", style="max-width:130px;min-width:130px;")
                          br
                          br
                          .row
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Nombre:
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='Nombre', ng-model="modificar.Nombre")
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Apellidos:
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='Apellidos', ng-model="modificar.Apellidos")
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') CURP:
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='CURP', ng-model="modificar.Curp")
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Edad:
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='Edad', ng-model="modificar.Edad", onkeypress='return event.charCode >= 48 && event.charCode <= 57')
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Foto:
                                .row
                                  .input-group
                                    button.btn.btn-info(onclick='loadPicker();', style="margin-top:10px; margin-left:15px;") Seleccionar foto
                                    //input.form-control.hidden(id='FotoAlumno' type='text', name='urlpdf', placeholder='Foto')                           
                            .col-md-3 
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Franquicia:                              
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    select.form-control(ng-model='franq', ng-click='demo2(franq)')
                                      option(value='') Seleccione una franquicia
                                      option(ng-repeat='Franquicia in lista2', value='{{Franquicia.No}}:{{Franquicia.Nombre}}') {{Franquicia.Nombre}}
                                      //input.form-control.hidden(id='idFranq' type='text', placeholder='Foto')
                                      //input.form-control.hidden(id='nombreFranq' type='text', placeholder='Foto')
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Talleres: *
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    select.form-control(ng-model='modificar.taller', required)
                                      option(value='') Seleccione una Taller
                                      option(ng-repeat='taller in listaTalleres', value='{{taller._id}}') {{taller.NombreTaller}}
                        #menu1E.tab-pane.fade
                          br
                          .row
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Calle:
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='Calle', ng-model="modificar.Calle")
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') No. Ext:
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='No. Ext', ng-model="modificar.NoExt")
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') No. Int:
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='No. Int', ng-model="modificar.NoInt")
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Colonia:
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='Colonia', ng-model="modificar.Colonia")
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Municipio:
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='Municipio', ng-model="modificar.Municipio")
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Entidad:
                                .row
                                  .input-group
                                    select.form-control(ng-model="modificar.Entidad")
                                      option(value='') Seleccionar entidad
                                      option(value='Aguascalientes') Aguascalientes
                                      option(value='Baja California') Baja California
                                      option(value='Baja California Sur') Baja California Sur
                                      option(value='Campeche') Campeche
                                      option(value='Coahuila') Coahuila
                                      option(value='Colima') Colima
                                      option(value='Chiapas') Chiapas
                                      option(value='Chihuahua') Chihuahua
                                      option(value='Ciudad de mexico') Ciudad de mexico
                                      option(value='Durango') Durango
                                      option(value='Guanajuato') Guanajuato
                                      option(value='Guerrero') Guerrero
                                      option(value='Hidalgo') Hidalgo
                                      option(value='Jalisco') Jalisco
                                      option(value='Estado de Mexico') Estado de Mexico
                                      option(value='Michoacan') Michoacán
                                      option(value='Morelos') Morelos
                                      option(value='Nayarit') Nayarit
                                      option(value='Nuevo Leon') Nuevo León
                                      option(value='Oaxaca') Oaxaca
                                      option(value='Puebla') Puebla
                                      option(value='Queretaro') Querétaro
                                      option(value='Quintana Roo') Quintana Roo
                                      option(value='San Luis Potosi') San Luis Potosí
                                      option(value='Sinaloa') Sinaloa
                                      option(value='Sonora') Sonora
                                      option(value='Tabasco') Tabasco
                                      option(value='Tamaulipas') Tamaulipas
                                      option(value='Tlaxcala') Tlaxcala
                                      option(value='Veracruz') Veracruz
                                      option(value='Yucatan') Yucatán
                                      option(value='Zacatecas') Zacatecas
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') CP:
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='CP', ng-model="modificar.Cp", onkeypress='return event.charCode >= 48 && event.charCode <= 57')
                        #menu2E.tab-pane.fade
                          .row
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Teléfono:
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='Teléfono', ng-model="modificar.Telefono", onkeypress='return event.charCode >= 48 && event.charCode <= 57') 
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Celular:
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='Celular', ng-model="modificar.Movil", onkeypress='return event.charCode >= 48 && event.charCode <= 57')    
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Email:
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='Email', ng-model="modificar.Email") 
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Facebook:
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='Facebook', ng-model="modificar.Facebook") 
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Instagram:
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='Instagram', ng-model="modificar.Instagram") 
                        #menu3E.tab-pane.fade
                          br
                          .row
                            .col-md-12
                              label(for='modalEditarTelefono') Datos del tutor:
                          .divider  
                          .row  
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Nombre:
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='Nombre', ng-model="modificar.NombreTutor")
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Apellidos:
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='Apellidos', ng-model="modificar.ApellidosTutor")
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Curp:
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='Curp', ng-model="modificar.CurpTutor")
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') RFC:
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='RFC', ng-model="modificar.Rfc")
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Teléfono:
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='Teléfono', ng-model="modificar.TelefonoTutor", onkeypress='return event.charCode >= 48 && event.charCode <= 57')  
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Celular:
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='Celular', ng-model="modificar.MovilTutor", onkeypress='return event.charCode >= 48 && event.charCode <= 57')
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Email:
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='Email', ng-model="modificar.EmailTutor")                               
                  .modal-footer
                    button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
                    button.btn.btn-success(ng-click="actualizarAlumno(modificar._id, modificar)", data-dismiss='modal' ,ng-disabled="!modificar.Nombre || !modificar.Apellidos || !modificar.Curp || !modificar.Edad || !modificar.Calle || !modificar.NoExt || !modificar.Colonia || !modificar.Municipio || !modificar.Entidad || !modificar.Cp || !modificar.Telefono || !modificar.Email || !modificar.idFranq || !modificar.NombreTutor || !modificar.ApellidosTutor || !modificar.CurpTutor || !modificar.Rfc || !modificar.TelefonoTutor || !modificar.EmailTutor") Guardar                      
                    //{{modificar}}
                            
            #myModalRegistrar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
              .modal-dialog.modal-lg(style="z-index:1;width:1120px;")
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4.modal-title Nuevo Alumno
                  form(ng-submit='registrarAlumno()')
                    .modal-body
                      ul.nav.nav-pills
                        li.active
                          a(data-toggle='pill', href='#home') Datos Personales
                        li
                          a(data-toggle='pill', href='#menu1') Dirección
                        li
                          a(data-toggle='pill', href='#menu2') Contacto
                        li
                          a(data-toggle='pill', href='#menu3') Registro
                      .tab-content
                        #home.tab-pane.fade.in.active
                          br
                          .row
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Nombre: *
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='Nombre', ng-model="nuevoAlumno.Nombre", required)
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Apellidos: *
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='Apellidos', ng-model="nuevoAlumno.Apellidos", required)
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') CURP: *
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='CURP', ng-model="nuevoAlumno.Curp", required)
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Edad: *
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='Edad', ng-model="nuevoAlumno.Edad", onkeypress='return event.charCode >= 48 && event.charCode <= 57', required)
                          br          
                          .row
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Foto:
                                .row
                                  .input-group
                                    button.btn.btn-info(type='button', onclick="loadPicker('fileFoto&0');" style="margin-top:10px; margin-left:15px;") Seleccionar foto
                                    input.form-control.hidden(id='idFotoAlumno', type='text', placeholder='Foto')  
                            .col-md-3 
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Franquicia: *                              
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    select.form-control(ng-model='franq', ng-click='demo(franq)', required)
                                      option(value='') Seleccione una franquicia
                                      option(ng-repeat='Franquicia in lista2', value='{{Franquicia.No}}:{{Franquicia.Nombre}}') {{Franquicia.Nombre}}
                                    input.form-control.hidden(id='idFranq', type='text', placeholder='Foto')
                                    input.form-control.hidden(id='nombreFranq', type='text', placeholder='Foto')
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Talleres: *
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    select.form-control(ng-model='nuevoAlumno.taller', required)
                                      option(value='') Seleccione una Taller
                                      option(ng-repeat='taller in listaTalleres', value='{{taller._id}}') {{taller.NombreTaller}}
                        #menu1.tab-pane.fade
                          br
                          .rows
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Calle: *
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-map-marker
                                    input.form-control(type='text', placeholder='Calle', ng-model="nuevoAlumno.Calle", required)
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') No. Ext: *
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-map-marker
                                    input.form-control(type='text', placeholder='No. Ext', ng-model="nuevoAlumno.NoExt", required)
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') No. Int: *
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-map-marker
                                    input.form-control(type='text', placeholder='No. Int', ng-model="nuevoAlumno.NoInt", required)
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Colonia: *
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-map-marker
                                    input.form-control(type='text', placeholder='Colonia', ng-model="nuevoAlumno.Colonia", required)
                          .row
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Municipio: *
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-map-marker
                                    input.form-control(type='text', placeholder='Municipio', ng-model="nuevoAlumno.Municipio", required)
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Entidad: *
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-map-marker
                                    select.form-control(ng-model="nuevoAlumno.Entidad", required)
                                      option(value='') Seleccionar entidad
                                      option(value='Aguascalientes') Aguascalientes
                                      option(value='Baja California') Baja California
                                      option(value='Baja California Sur') Baja California Sur
                                      option(value='Campeche') Campeche
                                      option(value='Coahuila') Coahuila
                                      option(value='Colima') Colima
                                      option(value='Chiapas') Chiapas
                                      option(value='Chihuahua') Chihuahua
                                      option(value='Ciudad de mexico') Ciudad de mexico
                                      option(value='Durango') Durango
                                      option(value='Guanajuato') Guanajuato
                                      option(value='Guerrero') Guerrero
                                      option(value='Hidalgo') Hidalgo
                                      option(value='Jalisco') Jalisco
                                      option(value='Estado de Mexico') Estado de Mexico
                                      option(value='Michoacan') Michoacán
                                      option(value='Morelos') Morelos
                                      option(value='Nayarit') Nayarit
                                      option(value='Nuevo Leon') Nuevo León
                                      option(value='Oaxaca') Oaxaca
                                      option(value='Puebla') Puebla
                                      option(value='Queretaro') Querétaro
                                      option(value='Quintana Roo') Quintana Roo
                                      option(value='San Luis Potosi') San Luis Potosí
                                      option(value='Sinaloa') Sinaloa
                                      option(value='Sonora') Sonora
                                      option(value='Tabasco') Tabasco
                                      option(value='Tamaulipas') Tamaulipas
                                      option(value='Tlaxcala') Tlaxcala
                                      option(value='Veracruz') Veracruz
                                      option(value='Yucatan') Yucatán
                                      option(value='Zacatecas') Zacatecas
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') CP. : *
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-map-marker
                                    input.form-control(type='text', placeholder='CP', ng-model="nuevoAlumno.Cp", onkeypress='return event.charCode >= 48 && event.charCode <= 57', required)
                        #menu2.tab-pane.fade
                          .row
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Teléfono: *
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-phone
                                    input.form-control(type='text', placeholder='Telefono', ng-model="nuevoAlumno.Telefono", required)
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Celular: *
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-mobile
                                    input.form-control(type='text', placeholder='Celular', ng-model="nuevoAlumno.Movil", onkeypress='return event.charCode >= 48 && event.charCode <= 57', required)
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Email: *
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-envelope-o
                                    input.form-control(type='email', placeholder='Email', ng-model="nuevoAlumno.Email", required) 
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Facebook:
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-facebook
                                    input.form-control(type='text', placeholder='Facebook', ng-model="nuevoAlumno.Facebook") 
                          .row
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Instagram:
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-instagram
                                    input.form-control(type='text', placeholder='Instagram', ng-model="nuevoAlumno.Instagram")  
                        #menu3.tab-pane.fade
                          br
                          .row
                            .col-md-6
                              .example-box-wrapper
                                .radio-inline
                                  label
                                    #uniform-inlineRadio9.radio
                                      span
                                        input#inlineRadio9.custom-radio(type='radio', name='example-radio', ng-model="reg", value="Tutor")
                                        i.glyph-icon.icon-circle
                                    |               Registro Tutor 
                                .radio-inline
                                  label
                                    #uniform-inlineRadio9.radio
                                      span
                                        input#inlineRadio9.custom-radio(type='radio', name='example-radio', ng-model="reg", value="Contacto")
                                        i.glyph-icon.icon-circle
                                    |               Registro Contacto
                          br
                          .row(ng-show="reg=='Tutor'")
                            .col-md-12
                              label(for='modalEditarTelefono') Datos del {{reg}}:
                          .divider(ng-show="reg=='Tutor'")
                          .row(ng-show="reg=='Tutor'")
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Nombre: *
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='Nombre', ng-model="nuevoAlumno.NombreTutor", ng-change="entro();", required)
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Apellidos: *
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='Apellidos', ng-model="nuevoAlumno.ApellidosTutor", ng-change="entro();", required)
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Curp: *
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='Curp', ng-model="nuevoAlumno.CurpTutor", ng-change="entro();", required)
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') RFC: *
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='RFC', ng-model="nuevoAlumno.Rfc", ng-change="entro();", required)
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Teléfono:
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-phone
                                    input.form-control(type='text', placeholder='Teléfono', ng-model="nuevoAlumno.TelefonoTutor", ng-change="entro();",  required)  
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Celular: *
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-mobile
                                    input.form-control(type='text', placeholder='Celular', ng-model="nuevoAlumno.MovilTutor", ng-change="entro();", onkeypress='return event.charCode >= 48 && event.charCode <= 57', required)
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Email: *
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-envelope-o
                                    input.form-control(type='text', placeholder='Email', ng-model="nuevoAlumno.EmailTutor", ng-change="entro();", required)
                          .row(ng-show="reg=='Contacto'")
                            .col-md-12
                              label(for='modalEditarTelefono') Datos del {{reg}}:
                          .divider(ng-show="reg=='Contacto'")  
                          .row(ng-show="reg=='Contacto'")
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Nombre: *
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='Nombre', ng-model="nuevoAlumno.NombreTutor", ng-change="entro();", required)
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Apellidos: *
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='Apellidos', ng-model="nuevoAlumno.ApellidosTutor", ng-change="entro();", required)
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Curp: *
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='Curp', ng-model="nuevoAlumno.CurpTutor", ng-change="entro();", required)
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') RFC: *
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-list
                                    input.form-control(type='text', placeholder='RFC', ng-model="nuevoAlumno.Rfc", ng-change="entro();", required)
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Teléfono:
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-phone
                                    input.form-control(type='text', placeholder='Teléfono', ng-model="nuevoAlumno.TelefonoTutor", ng-change="entro();", onkeypress='return event.charCode >= 48 && event.charCode <= 57', required)  
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Celular: *
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-mobile
                                    input.form-control(type='text', placeholder='Celular', ng-model="nuevoAlumno.MovilTutor", ng-change="entro();", onkeypress='return event.charCode >= 48 && event.charCode <= 57', required)
                            .col-md-3
                              .form-group
                                .row
                                  label(for='modalEditarTelefono') Email *:
                                .row
                                  .input-group
                                    span.input-group-addon.bg-grey
                                      i.glyph-icon.icon-envelope-o
                                    input.form-control(type='text', placeholder='Email', ng-model="nuevoAlumno.EmailTutor", ng-change="entro();", required)                            

                    .modal-footer
                      span
                          | (*) Campos Obligatorios
                      button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
                      button.btn.btn-success(type="submit") Registrar        
                      //button.btn.btn-success(type="submit", data-dismiss='modal',ng-disabled="!nuevoAlumno.Nombre || !nuevoAlumno.Apellidos || !nuevoAlumno.Curp || !nuevoAlumno.Edad || !nuevoAlumno.Calle || !nuevoAlumno.NoExt || !nuevoAlumno.Colonia || !nuevoAlumno.Municipio || !nuevoAlumno.Entidad || !nuevoAlumno.Cp || !nuevoAlumno.Telefono || !nuevoAlumno.Email || !nuevoAlumno.idFranq || !nuevoAlumno.NombreTutor || !nuevoAlumno.ApellidosTutor || !nuevoAlumno.CurpTutor || !nuevoAlumno.Rfc || !nuevoAlumno.TelefonoTutor || !nuevoAlumno.EmailTutor") Registrar        
                      {{nuevoAlumno}}  
                    
            #myModalBaja.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4.modal-title  Dar de baja al alumno: {{modificar2.Nombre}}
                  .modal-body
                    form
                        .row
                          .col-md-12
                            .form-group
                              .row
                                label(for='modalEditarTelefono') Motivo de la baja:
                              .row
                                .input-group
                                  span.input-group-addon.bg-grey
                                    i.glyph-icon.icon-list
                                  select.form-control(ng-model='modificar3.ComentarBaja')
                                    option(value='') Seleccione una opción
                                    option(value='Falta de Pago') Falta de Pago
                                    option(value='Cambio de Sucursal') Cambio de Sucursal
                                    option(value='Voluntaria') Voluntaria
                              .row
                                div(style="overflow:scroll; max-height:150px;overflow-x: hidden;margin-top:5px;")
                                  table.table
                                    thead
                                      tr
                                        th Fecha
                                        th.hidden Empleado
                                        th Comentario
                                    tbody
                                      tr(ng-repeat="Historial in modificar3")
                                        td {{Historial.Fecha | date:'medium'}}
                                        td {{Historial.Comentario}}                        
                  .modal-footer
                    button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
                    button.btn.btn-success(ng-click="actualizarAlumnoBaja(modificar2._id, modificar2)", data-dismiss='modal' ) Dar de baja
                  //  button.btn.btn-success(ng-click="actualizarAlumnoActivar(modificar2._id, modificar2)", data-dismiss='modal' ,ng-disabled="!modificar2.ComentarBaja", ng-hide="modificar2.Estatus=='Activo'") Activar alumno    
                    //{{modificar}}              
                
            #myModalFirma.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
              .modal-dialog.modal-lg
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4.modal-title Firma Tutor: {{modificar4.NombreTutor}}
                  .modal-body
                    #capture.row
                      .col-md-6
                        form.sigPad(method='post', action='')
                          label.hidden(for='name') Print your name
                          input#name.name.hidden(type='text', name='name')
                          p.drawItDesc.hidden Registrar firma
                          ul.sigNav
                            li.drawIt
                              a(href='#draw-it') Dibuja tu firma
                            li.clearButton
                              a(href='#clear') Reiniciar
                          .sig.sigWrapper(style="height:200px; width:400px;")
                            .typed
                            canvas.pad(width='350', height='150')
                            input.output(type='hidden', name='output', id="outputFirma")
                          button.hidden(type='submit') I accept the terms of this agreement.   
                      .col-md-6.panel
                          .sigPad.signed#firmaActual
                            .sigWrapper(style="height:200px; width:400px;")
                              .typed Sir John A. Macdonald
                              canvas.pad(width='400', height='200')
                            p
                            //  | Firma actual
                      //.col-md-6
                        iframe(src="https://drive.google.com/file/d/0B7UaInithMr3OVh0akNhSDRGazQ/preview")
                    
                  .modal-footer
                    button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
                    button.btn.btn-success(ng-click="actualizarFirma(modificar4._id, modificar4)", data-dismiss='modal') Guardar 
                    button.btn.btn-success(ng-click="ExportToPDF(modificar4._id, modificar4)", data-dismiss='modal') Capture 
                    //{{modificar4}}             
      #sliderPago.sb-slidebar.sb-right.sb-style-overlay
          .scrollable-content.scrollable-nice
            .pad15A
              a.popover-title
                | Solicitud para  {{getAlumno.Nombre}} {{getAlumno.Apellidos}}
              a.popover-title(href='#', title='', data-toggle='collapse', data-target='#sidebar-toggle-2')
                | Registro de Pagos 
                span.caret
              #sidebar-toggle-2.collapse.in
                .pad15A
                  .checkbox-inline
                    label
                      #uniform-inlineCheckbox9.checker
                        span
                          input#inlineCheckbox9.custom-checkbox(type='checkbox',name="checkPago", value="664&Mensualidad", ng-click="calcularPago()")
                          i.glyph-icon.icon-check
                      |                     Mensualidad
                  .checkbox-inline
                    label
                      #uniform-inlineCheckbox9.checker
                        span
                          input#inlineCheckbox9.custom-checkbox(type='checkbox',name="checkPago" value="858&Inscripción", ng-click="calcularPago()")
                          i.glyph-icon.icon-check
                      |                     Inscripción
              a.popover-title(href='#', title='', data-toggle='collapse', data-target='#sidebar-toggle-1')
                | Catalgo de Productos 
                span.caret
              #sidebar-toggle-1.collapse.in
                .pad15A
                  form(action='')
                      .form-group(style='margin-bottom:0px')
                        label(for='') Buscar producto:
                        input.form-control.input-sm(name='term', ng-model='term', type='text')
                   .text-center
                    table.table
                      tbody
                        tr(ng-repeat='productoT in listaProdxTaller | filter:term ')
                          td {{productoT.cantidadProducto}}
                          td {{productoT.nombreProducto}}
                          td $0                 
                  .text-center
                    table.table
                      tbody
                        tr(ng-repeat='producto in listaP | filter:term ')
                          td 
                            input.form-control(type='number',id="cant-{{producto._id}}")
                          td {{producto.Nombre}}
                          td ${{producto.Precio}}
                          td
                            button.btn.btn-success.input-sm(ng-click='addProductosCarr(producto)') Agregar
              .clear
              a.popover-title(href='#', title='', data-toggle='collapse', data-target='#sidebar-toggle-6')
                | Orden Actual
                span.caret
              #sidebar-toggle-6.collapse.in
                .text-center
                  table.table(cellpadding='0', cellspacing='0', border='0')
                    tbody
                      tr(ng-repeat='cart in carr')
                        td {{cart.cantidadCompra}}
                        td {{cart.Nombre}}
                        td ${{cart.Precio}}
                        td
                          button.btn.btn-danger.input-sm(data-toggle='modal', ng-click='eliminarProductosCarr(cart)') Quitar
              label(for='', ng-model='setPago.pagoProducto=tProducto') Total Productos: $ {{tProducto}}
              .divider.mrg15T.mrg15B
              .pad15A
                  .row
                    label(for='') Forma de pago: 
                    br
                    .radio-inline
                      label
                        #uniform-inlineRadio9.radio
                          span
                            input#inlineRadio9.custom-radio(type='radio', name='example-radio', ng-model="setPago.Descuento" value="50")
                            i.glyph-icon.icon-circle
                        |                     Efectivo
                    .radio-inline
                      label
                        #uniform-inlineRadio10.radio
                          span
                            input#inlineRadio10.custom-radio(type='radio', name='example-radio', ng-model="setPago.Descuento", value="25")
                            i.glyph-icon.icon-circle
                        |                     Tarjeta Crédito/Débito
              .divider.mrg15T.mrg15B
              label(for='', ng-model="tDescuento=checkboxPagos-setPago.Descuento") Descuento:  {{ setPago.Descuento}}
              br
              label(for='', ng-model="tiva=setPago.PagoIva= (tProducto * 0.16)") IVA:  {{ setPago.PagoIva | currency}}
              br
              label(for='', ng-model="setPago.subTotalPago=tProducto") SubTotal:  {{ setPago.subTotalPago | currency}}
              br
              label(for='' ng-model="setPago.TotalPago=tProducto + tiva + tDescuento") Total:  {{setPago.TotalPago | currency}}
              .clear
              button.btn.btn-success(ng-click="savePago()") Finalizar Venta
              &nbsp
              button.btn.btn-danger(ng-click="closeSlider()") Cancelar Venta
              //{{setPago}}
          
  script(src='/js/modules/alumnos/alumnos.js')
  script(src='/js/services/alumnos.js')      
  script(type='text/javascript', src='https://apis.google.com/js/api.js?onload=loadPicker')  

  script(type='text/javascript', src='/css/assets/signaturepad/jquery.signaturepad.min.js')
  script(type='text/javascript').
    $(document).ready(function(){
    $('.sigPad').signaturePad({drawOnly:true});
    });
  script(type='text/javascript', src='/css/assets/signaturepad/json2.min.js')  
  script(type='text/javascript', src='/js/vendor/pdfmake.min.js')
  script(type='text/javascript', src='/js/vendor/vfs_fonts.js')
  