extends ../layout

block content
  section#content(style='left:0;right:0;')
    .page(style='background:#f6f6f6;')
      .pageheader
        h2
          | Compañia 
          span // 
        .page-bar
        // /.page-bar
      // /.pageheader
      .row
        .col-md-1
        .col-md-7
          .tab-content
            // ilusion corporativa
            #N1.tab-pane.fade.in.active.row.row.cuadros(role='tabpanel', style='margin-top:5px; height:800px')
              iframe(style='border:0px', src='https://docs.google.com/document/d/e/2PACX-1vRAVwNcsULIWk3wmad_J_0ucU5p8oGpMDycRMv77vaWfGdDya6cdnRto75SQRPaNZq51Wt5LLkHFBMV/pub', width='100%', height='800px')
            // retos corporativos
            #N2.tab-pane.fade.row.cuadros(role='tabpanel', style='margin-top:5px')
              iframe(style='border:0px', src='https://drive.google.com/a/esourcecapital.com/file/d/ /preview', width='100%', height='500px')
            // factores criticos del exito
            #N3.tab-pane.fade.row.cuadros(role='tabpanel', style='margin-top:5px')
              iframe(style='border:0px', src='https://drive.google.com/a/esourcecapital.com/file/d/ /preview', width='100%', height='500px')
            // Accion sobresalientes
            #N4.tab-pane.fade.row.cuadros(role='tabpanel', style='margin-top:5px')
              iframe(style='border:0px', src='https://drive.google.com/a/esourcecapital.com/file/d/0B7UaInithMr3ZTJGXzNaQTQ2dDA/preview', width='100%', height='500px')
            // indicador de ventas
            #N5.tab-pane.fade.row.cuadros(role='tabpanel', style='margin-top:5px')
              iframe(style='border:0px', src='https://drive.google.com/a/esourcecapital.com/file/d/0B7UaInithMr3YVJSY1VMc1JfT1k/preview', width='100%', height='500px')
            // indicador de producto no conforme
            #N6.tab-pane.fade.row.cuadros(role='tabpanel', style='margin-top:5px')
              iframe(style='border:0px', src='https://drive.google.com/a/esourcecapital.com/file/d/0B7UaInithMr3Y2h3Q2FTV3VjUVU/preview', width='100%', height='500px')
            // Matrices e impactos ambientales
            #N7.tab-pane.fade.row.cuadros(role='tabpanel', style='margin-top:5px')
              iframe(style='border:0px', src='https://drive.google.com/a/esourcecapital.com/file/d/0B7UaInithMr3cGJSNS14RlRvVjg/preview', width='100%', height='500px')
            // Matrices HSE
            #N8.tab-pane.fade.row.cuadros(role='tabpanel', style='margin-top:5px')
              iframe(style='border:0px', src='https://drive.google.com/a/esourcecapital.com/file/d/   /preview', width='100%', height='500px')
            // Politicas y objetos del SIG
            #N9.tab-pane.fade.row.cuadros(role='tabpanel', style='margin-top:5px')
              iframe(style='border:0px', src='https://drive.google.com/a/esourcecapital.com/file/d/0B7UaInithMr3OVh0akNhSDRGazQ/preview', width='100%', height='500px')
            // Capacitacion
            #N10.tab-pane.fade.row.cuadros(role='tabpanel', style='margin-top:5px')
              iframe(style='border:0px', src='https://drive.google.com/a/esourcecapital.com/file/d/     /preview', width='100%', height='500px')
        .col-md-3
          .col-md-12.cuadros
            .col-md-12.interno.table-bordered(style='height:800px')
              br
              ul.menuCompania
                label(style='color:#7042a9') LO QUE SOMOS
                li.nodot .
                li(role='presentation')
                  a(href='#N1', aria-controls='N1', role='tab', data-toggle='tab')  Ilusión colectiva
                li(role='presentation')
                  a(href='#N2', aria-controls='N2', role='tab', data-toggle='tab')  Retos Corporativos 2017
                li(role='presentation')
                  a(href='#N3', aria-controls='N3', role='tab', data-toggle='tab')  Factores Críticos de éxito
              br
              br
              ul.menuCompania
                label(style='color:#47a942') PANEL DE LOGRO
                li.nodot .
                li(role='presentation')
                  a(href='#N4', aria-controls='N4', role='tab', data-toggle='tab')  Acción sobresaliente
                li(role='presentation')
                  a(href='#N5', aria-controls='N5', role='tab', data-toggle='tab')  Indicador de Ventas
                li(role='presentation')
                  a(href='#N6', aria-controls='N6', role='tab', data-toggle='tab')  Indicador Producto no Conforme
              br
              br
              ul.menuCompania
                label(style='color:#a1a942') DOCUMENTACIÓN
                li.nodot .
                li(role='presentation')
                  a(href='#N7', aria-controls='N7', role='tab', data-toggle='tab')  Matrices en Impactos Ambientaes
                li(role='presentation')
                  a(href='#N8', aria-controls='N8', role='tab', data-toggle='tab')  Matrices HSE
                li(role='presentation')
                  a(href='#N9', aria-controls='N9', role='tab', data-toggle='tab')  Politicas y objetos del SIG
                li(role='presentation')
                  a(href='#N10', aria-controls='N10', role='tab', data-toggle='tab')  Capacitación
        .col-md-1
      .row
        .col-md-12(style='padding:10px;')
          img(src='../images/FOOTER_opc-01.png', width='100%')
      // /.row
    // /.page
