extends ../layout

block content
  #page-content-wrapper.rm-transition(style=" background-image:url('/images/bienvenido.png');background-repeat:no-repeat;background-position:absoute;background-size:100%;")
    #page-content
      .example-box-wrapper
        img.img-responsive.center-block(style="width:185px" src="/images/+artelogo.png")
        div(style='\
        text-align:  center;\
        ')
          h1(style='\
          color: #1FA29A;\
          ') Bienvenido #{user.name}
          h2
            b #{user.properties.nombreFranq}