extends ../layout

block content
  #page-content-wrapper.rm-transition
    #page-content
      h2 Pre-Registro de proveedores/Datos preliminares
      .example-box-wrapper
        .row(style="background:white;border-style:solid;border-width:1px;border-color:#ddd;padding-top:10px;padding-bottom:10px;")
          .row
            h4 Seleccione el cliente y folio al que desea asignar a este proveedor
          .divider        
          .row
            .col-md-4
                select.form-control
                  option(value='volvo') Cliente 1
                  option(value='saab') Cliente 2
                  option(value='mercedes') Cliente 3
                  option(value='audi') Cliente 4 
            .col-md-4
                select.form-control
                  option(value='volvo') Folio 1
                  option(value='saab') Folio 2
                  option(value='mercedes') Folio 3
                  option(value='audi') Folio 4 
            .col-md-4
        .divider
        .row
          h4 Información principal
        .divider    
        .row(style="background:white;border-style:solid;border-width:1px;border-color:#ddd;padding-top:20px;")
          .row
            .col-md-6
              .form-group
                .row
                  label(for='modalEditarTelefono') Razón social:
                .row
                  .input-group
                    span.input-group-addon.bg-grey
                      i.glyph-icon.icon-user
                    input.form-control(type='text', placeholder='Razón social') 
            .col-md-2
              .form-group
                .row
                  label(for='modalEditarTelefono') Precio de renta:
                .row
                  .input-group
                    span.input-group-addon.bg-grey
                      i.glyph-icon.icon-money
                    input.form-control(type='text', placeholder='Precio de renta')
            .col-md-2
              .form-group
                .row
                  label(for='modalEditarTelefono') Numero de oficina:
                .row
                  .input-group
                    span.input-group-addon.bg-grey
                      i.glyph-icon.icon-map-marker
                    input.form-control(type='text', placeholder='Numero de oficina') 
            .col-md-2
              .form-group
                .row
                  label(for='modalEditarTelefono') Interior:
                .row
                  .input-group
                    span.input-group-addon.bg-grey
                      i.glyph-icon.icon-map-marker
                    input.form-control(type='text', placeholder='Interior')  
        .divider
        .row
          h4 Condiciones de renta             
        .divider
        .row(style="background:white;border-style:solid;border-width:1px;border-color:#ddd;padding-top:20px;")
          .row  
            .col-md-4
              .form-group
                .row
                  label(for='modalEditarTelefono') Anticipos:
                .row
                  .input-group
                    span.input-group-addon.bg-grey
                      i.glyph-icon.icon-money
                    input.form-control(type='text', placeholder='Anticipos')
            .col-md-4
              .form-group
                .row
                  label(for='modalEditarTelefono') Depósito de garantía:
                .row
                  .input-group
                    span.input-group-addon.bg-grey
                      i.glyph-icon.icon-money
                    input.form-control(type='text', placeholder='Depósito de garantía')
            .col-md-4
              .form-group
                .row
                  label(for='modalEditarTelefono') Documentación solicitada:
                .row
                  .input-group
                    span.input-group-addon.bg-grey
                      i.glyph-icon.icon-folder
                    input.form-control(type='text', placeholder='Documentación solicitada')
        .divider
        .row
          h4 Servicios              
        .divider
        .row(style="background:white;border-style:solid;border-width:1px;border-color:#ddd;padding-top:20px;")
          .row
            .col-md-6
              .form-group
                .row
                  label(for='modalEditarTelefono') Domicilio fiscal:
                .row
                  .input-group
                    span.input-group-addon.bg-grey
                      i.glyph-icon.icon-map-marker
                    input.form-control(type='text', placeholder='Domicilio fiscal') 
            .col-md-6
              .form-group
                .row
                  label(for='modalEditarTelefono') Domicilio comercial:
                .row
                  .input-group
                    span.input-group-addon.bg-grey
                      i.glyph-icon.icon-map-marker
                    input.form-control(type='text', placeholder='Domicilio comercial') 
          .row  
            .col-md-6
              .form-group
                .row
                  label(for='modalEditarTelefono') Acceso a salas:
                .row
                  .input-group
                    span.input-group-addon.bg-grey
                      i.glyph-icon.icon-male
                    input.form-control(type='text', placeholder='Acceso a salas') 
            .col-md-6
              .form-group
                .row
                  label(for='modalEditarTelefono') Atención a notificaciones de correspondencia:
                .row
                  .input-group
                    span.input-group-addon.bg-grey
                      i.glyph-icon.icon-warning
                    input.form-control(type='text', placeholder='Atención a notificaciones de correspondencia') 
        .divider          
        .row
          .row
            .col-md-8
              a.btn.btn-success(style="background-color:#646d72;border-color:#646d72;", href='/proveedores/propuestas') Notificar
            .col-md-4
              .row
                .col-md-8
                .col-md-4
                  a.btn.btn-success(style="background-color:#646d72;border-color:#646d72;", href='#') Manual
              .divider
              .row
                label(for='sel1') Enviar Solicitud de documentación a proveedor:
              .row
                .col-md-8
                  .input-group
                    span.input-group-addon.bg-grey
                      i.glyph-icon.icon-envelope-o
                    input.form-control(type='text', placeholder='Correo del cliente') 
                .col-md-4
                  a.btn.btn-success(style="background-color:#646d72;border-color:#646d72;", href='/proveedores/documentacion') Enviar
        .divider