extends ../layout

block content
  #page-content-wrapper.rm-transition
    #page-content
      h2 Solicitud de documentación a proveedor
      .divider
      .example-box-wrapper
        .row(style="background:white;border-style:solid;border-width:1px;border-color:#ddd;padding-top:20px;")
          .row
            .col-md-4
              .form-group
                .row
                  label(for='modalEditarTelefono') Denominacion ó razón social:
                .row
                  .input-group
                    span.input-group-addon.bg-grey
                      i.glyph-icon.icon-user
                    input.form-control(type='text', placeholder='Denominacion ó razón social')
            .col-md-4
              .form-group
                .row
                  label(for='modalEditarTelefono') RFC:
                .row
                  .input-group
                    span.input-group-addon.bg-grey
                      i.glyph-icon.icon-pencil
                    input.form-control(type='text', placeholder='RFC') 
            .col-md-4
              .form-group
                .row
                  label(for='modalEditarTelefono') Teléfono:
                .row
                  .input-group
                    span.input-group-addon.bg-grey
                      i.glyph-icon.icon-phone
                    input.form-control(type='text', placeholder='Telefono')  
          .row  
            .col-md-4
              .form-group
                .row
                  label(for='modalEditarTelefono') Dirección:
                .row
                  .input-group
                    span.input-group-addon.bg-grey
                      i.glyph-icon.icon-map-marker
                    input.form-control(type='text', placeholder='Dirección') 
            .col-md-4
              .form-group
                .row
                  label(for='modalEditarTelefono') Colonia:
                .row
                  .input-group
                    span.input-group-addon.bg-grey
                      i.glyph-icon.icon-map-marker
                    input.form-control(type='text', placeholder='Colonia')  
            .col-md-4
              .form-group
                .row
                  label(for='modalEditarTelefono') Municipio:
                .row
                  .input-group
                    span.input-group-addon.bg-grey
                      i.glyph-icon.icon-map-marker
                    input.form-control(type='text', placeholder='Municipio')
          .row  
            .col-md-4
              .form-group
                .row
                  label(for='modalEditarTelefono') Actividad Comercial:
                .row
                  .input-group
                    span.input-group-addon.bg-grey
                      i.glyph-icon.icon-briefcase
                    input.form-control(type='text', placeholder='Actividad Comercial')
            .col-md-4
              .form-group
                .row
                  label(for='modalEditarTelefono') Numero de empleados:
                .row
                  .input-group
                    span.input-group-addon.bg-grey
                      i.glyph-icon.icon-users
                    input.form-control(type='text', placeholder='Numero de empleados')
            .col-md-4
        .divider
        .row(style="background:white;border-style:solid;border-width:1px;border-color:#ddd;padding-top:20px;")
          .row
            .col-md-6
              .form-group
                .row
                  label(for='modalEditarTelefono') Representante legal:
                .row
                  .input-group
                    span.input-group-addon.bg-grey
                      i.glyph-icon.icon-user
                    input.form-control(type='text', placeholder='Representante legal')
            .col-md-6
              .form-group
                .row
                  label(for='modalEditarTelefono') Domicilio:
                .row
                  .input-group
                    span.input-group-addon.bg-grey
                      i.glyph-icon.icon-map-marker
                    input.form-control(type='text', placeholder='Domicilio')
        .divider
        .row(style="background:white;border-style:solid;border-width:1px;border-color:#ddd;padding-top:20px;")
          .row
            .col-md-3
              .form-group
                .row
                  label(for='modalEditarTelefono') Contacto:
                .row
                  .input-group
                    span.input-group-addon.bg-grey
                      i.glyph-icon.icon-user
                    input.form-control(type='text', placeholder='Contacto')
            .col-md-3
              .form-group
                .row
                  label(for='modalEditarTelefono') Telefono:
                .row
                  .input-group
                    span.input-group-addon.bg-grey
                      i.glyph-icon.icon-phone
                    input.form-control(type='text', placeholder='Telefono')
            .col-md-3
              .form-group
                .row
                  label(for='modalEditarTelefono') Celular:
                .row
                  .input-group
                    span.input-group-addon.bg-grey
                      i.glyph-icon.icon-mobile
                    input.form-control(type='text', placeholder='Celular')
            .col-md-3
              .form-group
                .row
                  label(for='modalEditarTelefono') Email:
                .row
                  .input-group
                    span.input-group-addon.bg-grey
                      i.glyph-icon.icon-envelope-o
                    input.form-control(type='text', placeholder='Email') 
        .divider
        .row(style="background:white;border-style:solid;border-width:1px;border-color:#ddd;padding-top:10px;padding-bottom:10px;")
          .row
            .col-md-2
                .row
                  label(for='modalEditarTelefono') Duración del contrato:          
            .col-md-10
                .row
                  .radio-inline
                    label
                      input#inlineRadio9.custom-radio(type='radio', name='example-radio')
                      |                     6 Meses
                  .radio-inline
                    label
                      input#inlineRadio9.custom-radio(type='radio', name='example-radio')
                      |                     12 Meses
                  .radio-inline
                    label
                      input#inlineRadio9.custom-radio(type='radio', name='example-radio')
                      |                     24 Meses
        .divider
        .row(style="background:white;border-style:solid;border-width:1px;border-color:#ddd;padding-top:20px;")
          .row
            .row
              label(for='modalEditarTelefono') Documentos que entrega:        
            .row
              .row
                .col-md-6.text-center
                  .form-group
                    .row
                      label(for='modalEditarTelefono') Copia de acta constitutiva
                    .divider(style="margin:0px")
                    .row  
                      .col-md-6
                        label Cargado
                      .col-md-6
                        a(href="#", style="margin-right:10px;")
                          span.glyph-icon.icon-cloud-upload.font-blue
                .col-md-6.text-center
                  .form-group
                    .row
                      label(for='modalEditarTelefono') Copia comprobante de inscripción a hacienda
                    .divider(style="margin:0px")
                    .row  
                      .col-md-6
                        label Cargado
                      .col-md-6
                        a(href="#", style="margin-right:10px;")
                          span.glyph-icon.icon-cloud-upload.font-blue
              .row
                .col-md-6.text-center
                  .form-group
                    .row
                      label(for='modalEditarTelefono') Copia de poder notarial
                    .divider(style="margin:0px")
                    .row  
                      .col-md-6
                        label Cargado
                      .col-md-6
                        a(href="#", style="margin-right:10px;")
                          span.glyph-icon.icon-cloud-upload.font-blue
                .col-md-6.text-center
                  .form-group
                    .row
                      label(for='modalEditarTelefono') Copia identificación vigente
                    .divider(style="margin:0px")
                    .row  
                      .col-md-6
                        label Cargado
                      .col-md-6
                        a(href="#", style="margin-right:10px;")
                          span.glyph-icon.icon-cloud-upload.font-blue
              .row
                .col-md-6.text-center
                  .form-group
                    .row
                      label(for='modalEditarTelefono') Referencias comerciales
                    .divider(style="margin:0px")
                    .row  
                      .col-md-6
                        label Cargado
                      .col-md-6
                        a(href="#", style="margin-right:10px;")
                          span.glyph-icon.icon-cloud-upload.font-blue
                .col-md-6.text-center
                  .form-group
                    .row
                      label(for='modalEditarTelefono') Referencias bancarias
                    .divider(style="margin:0px")
                    .row  
                      .col-md-6
                        label Cargado
                      .col-md-6
                        a(href="#", style="margin-right:10px;")
                          span.glyph-icon.icon-cloud-upload.font-blue                      
              .row
                .col-md-6.text-center
                  .form-group
                    .row
                      label(for='modalEditarTelefono') Copia de RFC
                    .divider(style="margin:0px")
                    .row  
                      .col-md-6
                        label Cargado
                      .col-md-6
                        a(href="#", style="margin-right:10px;")
                          span.glyph-icon.icon-cloud-upload.font-blue
                .col-md-6.text-center
                  .form-group
                    .row
                      label(for='modalEditarTelefono') Copia comprobante de domicilio
                    .divider(style="margin:0px")
                    .row  
                      .col-md-6
                        label Cargado
                      .col-md-6
                        a(href="#", style="margin-right:10px;")
                          span.glyph-icon.icon-cloud-upload.font-blue                      
        .divider   
        .row(style="background:white;border-style:solid;border-width:1px;border-color:#ddd;padding-top:20px;")
          .row
            .col-md-5
              .row
                .form-group
                  .row
                    label(for='modalEditarTelefono') Persona que solicita:
                  .row
                  .input-group
                    span.input-group-addon.bg-grey
                      i.glyph-icon.icon-user
                    input.form-control(type='text', placeholder='Persona que solicita') 
            .col-md-2
            .col-md-5
              .row
                .row
                  label(for='modalEditarTelefono') Solicita comprobante de domicilio:          
                .row
                  .radio-inline
                    label
                      input#inlineRadio9.custom-radio(type='radio', name='example-radio')
                      |                     SI
                  .radio-inline
                    label
                      input#inlineRadio9.custom-radio(type='radio', name='example-radio')
                      |                     NO
        .divider
        .row
          .row
            .col-md-2
              button.btn.btn-success Enviar
            .col-md-10
              
        .divider