extends ../layout

block content
  #page-content-wrapper.rm-transition
    #page-content
      h2 Propuestas
      .example-box-wrapper
          .row
            #esce-div.col-md-8
              .panel.panel-default.col-md-12
                .panel-heading
                  button.btn.btn-xs.btn-primary.btn-ganado(data-toggle='tooltip', title='Ganado')
                    span.glyph-icon.icon-check
                  |  Escenario 1:
                  label(style='color:green') Aprobado
                  ul#nav-right-bs.nav.navbar-nav.navbar-right
                    button.btn.btn-xs.btn-success(type='button', data-toggle='tooltip', title='Enviar')
                      span.glyph-icon.icon-send-o(data-toggle='modal', data-target='#mod-1-proy')
                  ul#nav-right-bs.nav.navbar-nav.navbar-right
                    button.btn.btn-xs.btn-danger(data-toggle='tooltip', title='Eliminar')
                      span.glyph-icon.icon-bitbucket
                  ul#nav-right-bs.nav.navbar-nav.navbar-right
                    button.btn.btn-success.btn-xs(type='button', data-toggle='tooltip', title='Editar')
                      span.glyph-icon.icon-pencil
                  ul#nav-right-bs.nav.navbar-nav.navbar-right
                    a.btn.btn-xs.btn-success(href='#', target='_blank', data-toggle='tooltip', title='Revisar Escenario')
                      span.glyph-icon.icon-search
                .panel-body.panel-benef-1
                  label Costos
                  ul
                    li
                      span(style='font-weight: bold;') Parametros:
                    li
                      span(style='font-weight: bold;') Servicios Adicionales:
                    li
                      span(style='font-weight: bold;') Servicios Adicionales Obra:
                    li
                      span(style='font-weight: bold;') Comisión de forma de pago:
                    li
                      span(style='font-weight: bold;') Beneficios:
                  label#lb-1 % Ahorro 
          .row
            #esce-div.col-md-8
              .panel.panel-default.col-md-12
                .panel-heading
                  button.btn.btn-xs.btn-primary.btn-ganado(data-toggle='tooltip', title='Ganado')
                    span.glyph-icon.icon-check
                  |  Escenario 2:
                  label(style='color:green') Aprobado
                  ul#nav-right-bs.nav.navbar-nav.navbar-right
                    button.btn.btn-xs.btn-success(type='button', data-toggle='tooltip', title='Enviar')
                      span.glyph-icon.icon-send-o(data-toggle='modal', data-target='#mod-1-proy')
                  ul#nav-right-bs.nav.navbar-nav.navbar-right
                    button.btn.btn-xs.btn-danger(data-toggle='tooltip', title='Eliminar')
                      span.glyph-icon.icon-bitbucket
                  ul#nav-right-bs.nav.navbar-nav.navbar-right
                    button.btn.btn-success.btn-xs(type='button', data-toggle='tooltip', title='Editar')
                      span.glyph-icon.icon-pencil
                  ul#nav-right-bs.nav.navbar-nav.navbar-right
                    a.btn.btn-xs.btn-success(href='#', target='_blank', data-toggle='tooltip', title='Revisar Escenario')
                      span.glyph-icon.icon-search
                .panel-body.panel-benef-1
                  label Costos
                  ul
                    li
                      span(style='font-weight: bold;') Parametros:
                    li
                      span(style='font-weight: bold;') Servicios Adicionales:
                    li
                      span(style='font-weight: bold;') Servicios Adicionales Obra:
                    li
                      span(style='font-weight: bold;') Comisión de forma de pago:
                    li
                      span(style='font-weight: bold;') Beneficios:
                  label#lb-1 % Ahorro                   