extends ../layout

block content
  #page-content-wrapper.rm-transition
    #page-content
      h2 Propuestas
      .example-box-wrapper
          .row
            .col-md-6
                .row
                  h4 Propuesta 1
                .divider        
                .row
                  label(for='modalEditarTelefono') Proveedor:
                .row
                  .col-md-6
                      input.form-control(type="text", placeholder="Folio de solicitud")   
                  .col-md-6
                      input.form-control(type="text", placeholder="Cliente")  
                .divider
                .row
                  h3 Datos preliminares
                .divider
                .row
                  h4 Información principal
                .divider    
                .row
                  .col-md-12
                    .form-group
                      .row
                        label(for='modalEditarTelefono') Razón social:
                      .row
                        input.form-control(type="text", placeholder="Razón social")  
                .row
                  .col-md-4
                    .form-group
                      .row
                        label(for='modalEditarTelefono') Precio de renta:
                      .row
                        input.form-control(type="text", placeholder="Precio de renta")  
                  .col-md-4
                    .form-group
                      .row
                        label(for='modalEditarTelefono') Numero de oficina:
                      .row
                        input.form-control(type="text", placeholder="Numero de oficina")  
                  .col-md-4
                    .form-group
                      .row
                        label(for='modalEditarTelefono') Interior:
                      .row
                        input.form-control(type="text", placeholder="Interior") 
                .divider
                .row
                  h4 Condiciones de renta             
                .divider
                .row  
                  .col-md-12
                    .form-group
                      .row
                        label(for='modalEditarTelefono') Anticipos:
                      .row
                        input.form-control(type="text", placeholder="Anticipos")
                .row
                  .col-md-12
                    .form-group
                      .row
                        label(for='modalEditarTelefono') Depósito de garantía:
                      .row
                        input.form-control(type="text", placeholder="Depósito de garantía")  
                .row
                  .col-md-12
                    .form-group
                      .row
                        label(for='modalEditarTelefono') Documentación solicitada:
                      .row
                        input.form-control(type="text", placeholder="Documentación solicitada") 
                .divider
                .row
                  h4 Servicios              
                .divider
                .row
                  .col-md-12
                    .form-group
                      .row
                        label(for='modalEditarTelefono') Domicilio fiscal:
                      .row
                        input.form-control(type="text", placeholder="Domicilio fiscal")  
                .row
                  .col-md-12
                    .form-group
                      .row
                        label(for='modalEditarTelefono') Domicilio comercial:
                      .row
                        input.form-control(type="text", placeholder="Domicilio comercial")  
                .row  
                  .col-md-12
                    .form-group
                      .row
                        label(for='modalEditarTelefono') Acceso a salas:
                      .row
                        input.form-control(type="text", placeholder="Acceso a salas")  
                .row
                  .col-md-12
                    .form-group
                      .row
                        label(for='modalEditarTelefono') Atención a notificaciones de correspondencia:
                      .row
                        input.form-control(type="text", placeholder="Atención a notificaciones de correspondencia")  
                .divider
                .row
                  .col-md-12
                    .form-group
                      .row
                        label(for='modalEditarTelefono') Comentarios:
                      .row
                        input.form-control(type="text", placeholder="Comentarios")  
                .divider               
                .row
                  .col-md-4    
                      a.btn.btn-warning(href="/proveedores/proyeccion") Proyectar
                  .col-md-4    
                      button.btn.btn-success(href="#") Aceptar
                  .col-md-4    
                      button.btn.btn-danger(href="#") Rechazar            
                .divider
            .col-md-6
                .row
                  h4 Propuesta 2
                .divider        
                .row
                  label(for='modalEditarTelefono') Proveedor:
                .row
                  .col-md-6
                      input.form-control(type="text", placeholder="Folio de solicitud")   
                  .col-md-6
                      input.form-control(type="text", placeholder="Cliente")  
                .divider
                .row
                  h3 Datos preliminares
                .divider
                .row
                  h4 Información principal
                .divider    
                .row
                  .col-md-12
                    .form-group
                      .row
                        label(for='modalEditarTelefono') Razón social:
                      .row
                        input.form-control(type="text", placeholder="Razón social")  
                .row
                  .col-md-4
                    .form-group
                      .row
                        label(for='modalEditarTelefono') Precio de renta:
                      .row
                        input.form-control(type="text", placeholder="Precio de renta")  
                  .col-md-4
                    .form-group
                      .row
                        label(for='modalEditarTelefono') Numero de oficina:
                      .row
                        input.form-control(type="text", placeholder="Numero de oficina")  
                  .col-md-4
                    .form-group
                      .row
                        label(for='modalEditarTelefono') Interior:
                      .row
                        input.form-control(type="text", placeholder="Interior") 
                .divider
                .row
                  h4 Condiciones de renta             
                .divider
                .row  
                  .col-md-12
                    .form-group
                      .row
                        label(for='modalEditarTelefono') Anticipos:
                      .row
                        input.form-control(type="text", placeholder="Anticipos")
                .row
                  .col-md-12
                    .form-group
                      .row
                        label(for='modalEditarTelefono') Depósito de garantía:
                      .row
                        input.form-control(type="text", placeholder="Depósito de garantía")  
                .row
                  .col-md-12
                    .form-group
                      .row
                        label(for='modalEditarTelefono') Documentación solicitada:
                      .row
                        input.form-control(type="text", placeholder="Documentación solicitada") 
                .divider
                .row
                  h4 Servicios              
                .divider
                .row
                  .col-md-12
                    .form-group
                      .row
                        label(for='modalEditarTelefono') Domicilio fiscal:
                      .row
                        input.form-control(type="text", placeholder="Domicilio fiscal")  
                .row
                  .col-md-12
                    .form-group
                      .row
                        label(for='modalEditarTelefono') Domicilio comercial:
                      .row
                        input.form-control(type="text", placeholder="Domicilio comercial")  
                .row  
                  .col-md-12
                    .form-group
                      .row
                        label(for='modalEditarTelefono') Acceso a salas:
                      .row
                        input.form-control(type="text", placeholder="Acceso a salas")  
                .row
                  .col-md-12
                    .form-group
                      .row
                        label(for='modalEditarTelefono') Atención a notificaciones de correspondencia:
                      .row
                        input.form-control(type="text", placeholder="Atención a notificaciones de correspondencia")  
                .divider
                .row
                  .col-md-12
                    .form-group
                      .row
                        label(for='modalEditarTelefono') Comentarios:
                      .row
                        input.form-control(type="text", placeholder="Comentarios")                      
                .divider          
                .row
                  .col-md-4    
                      button.btn.btn-warning(href="#") Proyectar
                  .col-md-4    
                      button.btn.btn-success(href="#") Aceptar
                  .col-md-4    
                      button.btn.btn-danger(href="#") Rechazar            
                .divider              