extends ../layout

block content
  #page-content-wrapper.rm-transition
    #page-content
      h2 Control de Proveedores
      .example-box-wrapper
        .col-md-4
            a.btn.btn-primary(style="background-color:#646d72;border-color:#646d72;margin-top:20px;", href="/proveedores/alta") Nuevo proveedor
        .col-md-4
          .row
            label(for='sel1') Filtrar por:
          .row
            .input-group
              span.input-group-addon.bg-grey
                i.glyph-icon.icon-search
              input.form-control(type='text', placeholder='Criterio de busqueda')
        .col-md-4
      .example-box-wrapper
        table.table.table-striped.table-bordered.table-hover(cellpadding='0', cellspacing='0', border='0')
          thead
            tr
              th Demoniación/Razón Social
              th Dirección Fiscal
              th RFC
              th Nombre del Titular
              th Nombre del Contacto
              th Puesto
              th Teléfono
              th Numero de Cuenta
              th Banco
              th Correo
              th Periodo de Pago
              th(colspan="3") ...
          tbody
            tr
              td 
              td 
              td 
              td 
              td 
              td 
              td            
              td
              td
              td
              td
              td(style='width:20px;')
                button.btn.btn-warning(data-toggle='modal', data-target='#myModalEditar', title="Documentos")
                  span.glyph-icon.icon-folder-open
              td(style='width:20px;')
                button.btn.btn-warning(data-toggle='modal', data-target='#myModalEditar2', title="Editar proveedor")
                  span.glyph-icon.icon-info-circle 
              td(style='width:20px;')
                a.btn.btn-warning(data-toggle='modal', href='/proveedores/propuestas', title="Proyectar propuestas")
                  span.glyph-icon.icon-list-ol                   
                
      //modales
  
      #myModalEditar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Documentos del proveedor
            .modal-body
              form
                .row
                    ul.todo-box
                      li.border-green
                        label(for='todo-6') Copia RFC
                        a.btn.btn-xs.btn-success.float-right.tooltip-button(href='#', data-placement='top', title='', data-original-title='Archivo Cargado')
                          i.glyph-icon.icon-cloud-download
                      .divider    
                      li.border-green
                        label(for='todo-6') Copia comprobante de domicilio
                        a.btn.btn-xs.btn-success.float-right.tooltip-button(href='#', data-placement='top', title='', data-original-title='Archivo Cargado')
                          i.glyph-icon.icon-cloud-download
                      .divider       
                      li.border-green
                        label(for='todo-6') Copia identificación vigente
                        a.btn.btn-xs.btn-success.float-right.tooltip-button(href='#', data-placement='top', title='', data-original-title='Archivo Cargado')
                          i.glyph-icon.icon-cloud-download
                      .divider       
                      li.border-green
                        label(for='todo-6') Contrato firmado
                        a.btn.btn-xs.btn-success.float-right.tooltip-button(href='#', data-placement='top', title='', data-original-title='Archivo Cargado')
                          i.glyph-icon.icon-cloud-download  
                      .divider       
                      li.border-green
                        label(for='todo-6') Convenio firmado
                        a.btn.btn-xs.btn-success.float-right.tooltip-button(href='#', data-placement='top', title='', data-original-title='Archivo Cargado')
                          i.glyph-icon.icon-cloud-download  
            .modal-footer
              button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-success Guardar     
              
      #myModalEditar2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Datos generales del proveedor
            .modal-body
              form
                  .row
                    .col-md-6
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Denominación o razón social:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-user
                            input.form-control(type='text', placeholder='Denominación o razón social')
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Dirección fiscal:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-map-marker
                            input.form-control(type='text', placeholder='Dirección fiscal')
                      .form-group
                        .row
                          label(for='modalEditarTelefono') RFC:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-pencil
                            input.form-control(type='text', placeholder='RFC')                         
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Nombre del titular:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-user
                            input.form-control(type='text', placeholder='Nombre del titular')    
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Nombre del contacto:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-user
                            input.form-control(type='text', placeholder='Nombre del contacto')    
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Teléfono:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-phone
                            input.form-control(type='text', placeholder='Telefono')                        
                    .col-md-6
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Numero de cuenta:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-credit-card
                            input.form-control(type='text', placeholder='Numero de contacto')  
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Banco:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-building-o
                            input.form-control(type='text', placeholder='Banco')  
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Correo:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-envelope-o
                            input.form-control(type='text', placeholder='Correo') 
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Periodo de pago:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-money
                            input.form-control(type='text', placeholder='Periodo de pago') 
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Puesto:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-user
                            input.form-control(type='text', placeholder='Puesto')                            
            .modal-footer
              button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-success Guardar             
              
      #myModalAnticipo.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-sm
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Anticipo
            .modal-body(style="padding:6px 34px;")
              form
                .row
                  .col-md-12
                    .form-group
                      .row
                        .row
                          label(for='modalEditarTelefono') Folio de Solicitud: CW00517
                        .row
                          label(for='modalEditarTelefono') Razón social: Sandoz
                        .row
                          label(for='modalEditarTelefono') Anticipo asignado: $1200
                  .row
                    .col-md-12
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Pagado:
                        .row
                          input(type="text")
                  .row
                    .col-md-12
                      .form-group
                        .row
                          label(for='modalEditarTelefono') A cuenta:
                        .row  
                          input(type="text")
                          a(href="#")
                            span.glyph-icon.icon-pencil
                            | Editar monto
            .modal-footer
              button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-success Aceptar     
              
      #myModalProveedor.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-sm
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Asignar Proveedor
            .modal-body(style="padding:6px 34px;")
              form
                .row
                  .col-md-12
                    .form-group
                      .row
                        .row
                          label(for='modalEditarTelefono') Folio de Solicitud: CW00517
                        .row
                          label(for='modalEditarTelefono') Razón social: Sandoz
                  .row
                    .col-md-12
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Nombre del proveedor:
                        .row
                          select.form-control
                            option(value='volvo') Proveedor 1
                            option(value='saab') Proveedor 2
                            option(value='mercedes') Proveedor 3
                            option(value='audi') Proveedor 4
            .modal-footer
              button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-success Aceptar              