extends ../layout

block content
  #page-content-wrapper.rm-transition
    #page-content
      h2 Proyección
      .example-box-wrapper
          .row
              h4 Propuesta 1
          .divider 
          .row
            label(for='modalEditarTelefono') Proveedor:   
          .divider
          .row
            label(for='modalEditarTelefono') Folio de solicitud:
          .divider
          .row
              .col-md-6
                  h4 Condiciones de renta Proveedor
                  .divider    
                  .row(style="margin-bottom:5px;")
                      .col-md-3
                        label(for='modalEditarTelefono') Depósito de garantía: 
                      .col-md-9
                        input.form-control(type="text", placeholder="$")
                  .row(style="margin-bottom:5px;")      
                      .col-md-3
                        label(for='modalEditarTelefono') Anticipo:  
                      .col-md-9  
                        input.form-control(type="text", placeholder="$")  
                  .row(style="margin-bottom:5px;")
                      .col-md-3
                        label(for='modalEditarTelefono') Gastos de investigación:  
                      .col-md-9  
                        input.form-control(type="text", placeholder="$")
                  .row(style="margin-bottom:5px;")
                      .col-md-3
                        label(for='modalEditarTelefono') Otros gastos: 
                      .col-md-9
                        input.form-control(type="text", placeholder="$")
                  .row(style="margin-bottom:5px;")
                      .col-md-3
                        label(for='modalEditarTelefono') COSTO INICIAL: 
                      .col-md-9 
                        input.form-control(type="text", placeholder="$")
              .col-md-6
                  h4 Condiciones de renta Cliente
                  .divider    
                  .row(style="margin-bottom:5px;")
                      .col-md-3
                        label(for='modalEditarTelefono') Depósito de garantía: 
                      .col-md-9
                        input.form-control(type="text", placeholder="$")
                  .row(style="margin-bottom:5px;")      
                      .col-md-3
                        label(for='modalEditarTelefono') Anticipo:  
                      .col-md-9  
                        input.form-control(type="text", placeholder="$")  
                  .row(style="margin-bottom:5px;")
                      .col-md-3
                        label(for='modalEditarTelefono') Gastos de investigación:  
                      .col-md-9  
                        input.form-control(type="text", placeholder="$")
                  .row(style="margin-bottom:5px;")
                      .col-md-3
                        label(for='modalEditarTelefono') Otros gastos: 
                      .col-md-9
                        input.form-control(type="text", placeholder="$")
                  .row(style="margin-bottom:5px;")
                      .col-md-3
                        label(for='modalEditarTelefono') COSTO INICIAL: 
                      .col-md-9 
                        input.form-control(type="text", placeholder="$")
          .row
              .col-md-6
                  h4 Utilidad
                  .divider    
                  .row(style="margin-bottom:5px;")
                      .col-md-3
                        label(for='modalEditarTelefono') Pago del cliente: 
                      .col-md-9
                        input.form-control(type="text", placeholder="$")
                  .row(style="margin-bottom:5px;")    
                      .col-md-3
                        label(for='modalEditarTelefono') Precio de renta:  
                      .col-md-9
                        input.form-control(type="text", placeholder="$")
                  .row(style="margin-bottom:5px;")    
                      .col-md-3
                        label(for='modalEditarTelefono') Servicios extraodinarios:  
                      .col-md-9
                        input.form-control(type="text", placeholder="$")
                  .row(style="margin-bottom:5px;")    
                      .col-md-3
                        label(for='modalEditarTelefono') Utilidad:  
                      .col-md-9  
                        input.form-control(type="text", placeholder="$")
              .col-md-6
                  .divider
                  .col-md-4
                      .row
                          label(for='modalEditarTelefono' style='color:white;') .
                      .row
                          label(for='modalEditarTelefono' style='color:white;') .
                      .row
                          label(for='modalEditarTelefono' style='color:white;') .
                      .row
                          label(for='modalEditarTelefono' style='color:white;') .                        
                      .row
                          a.btn.btn-primary(style="background-color:#646d72;border-color:#646d72;float:right;", href="/proveedores/propuestas") Atras                    
                  .col-md-8
                          .row
                              label(for='modalEditarTelefono' style='color:white;') .     
                          .row
                              label(for='modalEditarTelefono' style='color:white;') .
                          .row
                              label(for='modalEditarTelefono' style='color:white;') .
                          .row
                              label(for='modalEditarTelefono' style='color:white;') .                            
                          .row
                            button.btn.btn-success(href="#") Aceptar