doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    //TODO en el controler una funcion que busque el elemento y le cambie el titulo.
    title +Arte 
    link(rel='icon', type='image/ico', href='/images/favicon.ico')
    meta(name='description', content='Ptree')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // libs css files
    link(rel='icon', type='image/ico', href='/images/favicon.ico')
    meta(name='description', content='Ptree')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // libs css files
    link(rel='stylesheet', href='/css/vendor/bootstrap.min.css')
    link(rel='stylesheet', href='/css/vendor/animate.css')
    link(rel='stylesheet', href='/css/vendor/font-awesome.min.css')
    link(rel='stylesheet', href='/js/vendor/animsition/css/animsition.min.css')
    link(rel='stylesheet', href='/css/vendor/simple-line-icons.css')
    link(rel='stylesheet', href='/js/vendor/chosen/chosen.css')
    //Bratilius
    link(rel='stylesheet', type='text/css', href='/css/assets/all-demo.css')
    link(rel='stylesheet', type='text/css', href='/css/assets/layout.css')
    link#layout-color(rel='stylesheet', type='text/css', href='/css/assets/layout-color.css')
    link#framework-color(rel='stylesheet', type='text/css', href='/css/assets/framework-color.css')
    link(rel='stylesheet', type='text/css', href='/css/assets/border-radius.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', type='text/css') 
    //estilo para alertas
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/sweetalert2/6.4.4/sweetalert2.css')
    //signature pad
    link(rel='stylesheet', type='text/css', href='/css/assets/signaturepad/jquery.signaturepad.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js')
    script(type='text/javascript', src='/css/assets/html2canvas/dist/html2canvas.js')
    //
      ============================================
      ============== Custom CSS =======================
      =============================================
    //link(rel='stylesheet', href='/css/main.css')
    // / stylesheets
    //
      ==========================================
      ================= Modernizr ===================
      ===========================================
    script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    //bratilius
    script(type='text/javascript', src='/css/assets/js-core.js') 
    script(type='text/javascript', src='/css/assets/inputmask.js') 
    //
    script(src='/js/vendor/chosen/chosen.jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js')
    script(src='/js/vendor/angular/angular-chosen.js')
    //loader
    script(src='https://ptreesys.mx/sharedfiles/src/jquery-loader.js') 
    script(src='/js/vendor/Loader/loader.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    link(rel='stylesheet', type='text/css', href='/js/vendor/Loader/loader.css')
    link(rel='stylesheet', type='text/css', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    // The Google API Loader script.
    script(src='https://apis.google.com/js/api.js?onload=onApiLoad') 
    script(src='/js/googlePicker.js') 
    style.
      .modal-footer span {
        margin-right: 65% !important;
      }
      .rojo{
        color:red !important;
      }
      .verde{
        color: green !important;
      }
  body.appWrapper(style="background:white !important;")
    #wrap.animsition
      #page-header.clearfix(style="background:#1ea29a;")
        #header-logo.rm-transition(style="background:white;background-image:url('/images/+artelogo.png');background-repeat:no-repeat;background-position:center;background-size:78px;")
          a#responsive-open-menu.tooltip-button.hidden-desktop(href='#', title='Navigation Menu')
            i.glyph-icon.icon-align-justify
          span 
          a#collapse-sidebar(href='#', title='')
            i.glyph-icon.icon-chevron-lefts
        // #header-logo
        #header-right
          .user-profile.dropdown
            a.user-ico.clearfix(href='#', title='', data-toggle='dropdown')
              img.img-rounded(width='36', src='', alt='')
              span(style="color:white;") #{user.name}
            .dropdown-menu.pad0B.float-right
              .box-sm
                .login-box.clearfix
                  .user-img
                    a.change-img(href='#', title='') Change photo
                    img(src='', alt='')
                  .user-info
                    span
                      | Geovanny Virgen Luna
                      i Front-end web developer
                    a(href='#', title='') Edit profile
                    a(href='#', title='') View notifications
                .divider
                ul.reset-ul.mrg5B
                  li
                    a(href='#')
                      | View login page example
                      i.glyph-icon.float-right.icon-caret-right
                  li
                    a(href='#')
                      | View lockscreen example
                      i.glyph-icon.float-right.icon-caret-right
                  li
                    a(href='#')
                      | View account details
                      i.glyph-icon.float-right.icon-caret-right
                .pad5A.button-pane.button-pane-alt.text-center
                  a.btn.display-block.font-normal.btn-danger(href='#')
                    i.glyph-icon.icon-power-off
                    | Logout
      #page-sidebar.rm-transition(style='background-color:rgba(236, 245, 244, 0.04)')
        #page-sidebar-wrapper
          #sidebar-menu(style="margin-top: 55px !important")
            ul
              li.hidden
                a(href='/', title='Inicio')
                  i.glyph-icon.icon-list-ul
                  span Dashboard
              .divider
              li(class='menuOculto#{user.role}' )
                a(href='/users/editarUsuarios', title='Inicio' style="background-image:url('/images/Untitled-3.png');")
                  i.glyph-icon.icon-users
                  span Usuarios
              .divider(class='menuOculto#{user.role}')    
              li(class='menuOculto#{user.role}')
                a(href='/franquicias', title='Inicio' style="background-image:url('/images/Untitled-4.png');")
                  i.glyph-icon.icon-building-o
                  span Franquicias
              .divider(class='menuOculto#{user.role}')
              li
                a(href='/productos', title='Inicio' style="background-image:url('/images/Untitled-5.png');")
                  i.glyph-icon.icon-list
                  span Inventarios
                ul
                  li
                   a(href='/productos', title='Inicio', class='menuOculto#{user.role}')
                    span Productos
                  li
                   a(href='/productos/entrada', title='Inicio')
                    span Entrada de Productos                        
                  li
                   a(href='/Mobiliario', title='Inicio', class='menuOculto#{user.role}')
                    span Mobiliario   
                  li
                   a(href='/mobiliario/entrada', title='Inicio')
                    span Entrada de Mobiliario                        
              .divider
              li
                a(href='/alumnos', title='Alumnos' style="background-image:url('/images/Untitled-6.png');")
                  i.glyph-icon.icon-child
                  span Alumnos
              .divider    
              li
                a(href='/maestros', title='Maestros' style="background-image:url('/images/Untitled-7.png');")
                  i.glyph-icon.icon-male
                  span Maestros
              .divider 
              li
                a(href='/asistencia', title='Asistencia' style="background-image:url('/images/8.png');")
                  i.glyph-icon.icon-clock-o
                  span Asistencia
              .divider               
              li.hidden
                a(href='/proveedores', title='Inicio' )
                  i.glyph-icon.icon-truck
                  span Control de Proveedores
              .divider.hidden       
              li.hidden
                a(href='/ingresos', title='Inicio')
                  i.glyph-icon.icon-dollar
                  span Control de Ingresos
              .divider.hidden 
              li.hidden
                a(href='/egresos', title='Inicio')
                  i.glyph-icon.icon-dollar
                  span Control de Egresos
              .divider.hidden
              li.hidden
                a(href='/presupuesto', title='Inicio')
                  i.glyph-icon.icon-list
                  span Control de Presupuesto
              .divider.hidden
              li
                a(href='/taller', title='taller' style="background-image:url('/images/Untitled-5.png');")
                  i.glyph-icon.icon-list
                  span Control de Talleres
              .divider
              li
                a(href='/auth/logout', title='Salir')
                  i.glyph-icon.icon-power-off
                  span Salir
          // #sidebar-menu
          .divider
          image(src='/images/Untitled.png')
        // #page-sidebar-wrapper
      // #page-sidebar      

      block content
      //
        ====================================================
        ================= CONTENT ===============================
        =====================================================
    // / Application Content
    //bratilius
    script(type='text/javascript', src='/css/assets/all-demo.js') 
    //script(type='text/javascript', src='/css/assets/modal.js')
    script(type='text/javascript', src='/css/assets/inputswitch.js')
    script(type='text/javascript', src='/css/assets/datatable.js')
    script(type='text/javascript', src='/css/assets/datatable-bootstrap.js')    
    // / libs javascripts
    script(src='/js/vendor/bootstrap/bootstrap.min.js')
    script(src='/js/vendor/jRespond/jRespond.min.js')
    script(src='/js/vendor/slimscroll/jquery.slimscroll.min.js')
    script(src='/js/vendor/animsition/js/jquery.animsition.min.js')
    //alertas
    script(src='https://cdn.jsdelivr.net/sweetalert2/6.4.4/sweetalert2.js')    
    
    
    //
      ============================================
      ============== Custom JavaScripts ===============
      =============================================
    script(src='/js/main.js')