extends ../layout

block content
	section#content
		.page
			.pageheader
				h2
					| Alta de Cliente 
					span // ingrese los datos del cliente a dar de alta
				.page-bar
					ul.page-breadcrumb
						li
							a(href='#')
								i.fa.fa-user
								|  Control de Empresa
						li
							a(href='#') Alta de Cliente 
				// /.page-bar
			// /.pageheader
			.row
				.col-md-12
					// tile
					section.tile
						// tile header
						.tile-header.dvd.dvd-btm
							h1.custom-font
								| Alta de 
								strong Cliente
						// /tile header
						// tile body
						.tile-body
							form#alta-usuario.form-horizontal(role='form', data-parsley-validate='')
								.form-group
									label.col-sm-2.control-label Datos de la empresa
									.col-sm-10
										.row
											.col-xs-6
												input.form-control(type='text', placeholder='Nombre')
											.col-xs-6
												input.form-control(type='text', placeholder='Razon Social')
									// /.col-sm-10
								// /.form-group
								hr.line-dashed.line-full
								.form-group
									label.col-sm-2.control-label Esquema de Facturacion
									.col-sm-10
										.row
											.col-sm-4
												select.form-control.mb-10
													option Esquema
													option Diaria
													option Semanal
													option Quincenal
													option Catorcenal
													option Mensual
											.col-sm-4
												select.form-control.mb-10
													option Tipo de Facturacion
													option Diaria
													option Semanal
													option Quincenal
													option Catorcenal
													option Mensual
											.col-sm-4.col-xs-6.datepicker(data-format='L')
												input.form-control(type='text', placeholder='Fecha de Dispersión')
												span.input-group-addon
													span.fa.fa-calendar
									// /.col-sm-10
								// /.form-group
								hr.line-dashed.line-full
								.form-group
									label.col-sm-2.control-label Archivos Adjuntos 
									.col-md-10
										button.btn.btn-greensea.mb-10.pull-left(type='button')
											i.fa.fa-cloud-upload
											|  Cargar Documentos
								// /.form-group
								hr.line-dashed.line-full
								.tile-footer.text-right.bg-tr-black.lter.dvd.dvd-top
									button#alta-usuarioSubmit.btn.btn-success(type='submit') Agregar
						// /tile body
					// /tile
				// /.col-md-12
			// /row
		// /.page
	// / CONTENT