extends ../layout

block content
	div(ng-app="altaUser", ng-controller="altaUserController")
		alta-user
	script(src='/js/modules/user/altaUserModule.js')
	script(src='/js/components/user/altaUser.js')
	script(src='/js/components/generales.js')
	script(src='/js/services/generales.js')
	script(src='/js/services/user.js')
	