extends ../layout

block content
	div(ng-app="controlUsuariosModule" ng-controller="controlUsuariosController")
		section#content
			.page
				.pageheader
					h2 Control de Usuarios
					.page-bar
					// /.page-bar
				// /.pageheader
				.row
					.col-md-12
						section.tile.tile-simple
							// tile header
							.tile-header.dvd.dvd-btm
								h1.custom-font
									strong Control de Usuarios
							// /tile header
							// tile body
							.tile-body.table-custom
								.row
									.form-group
										.col-md-12.pull-right
											a.btn.btn-success(href='/ctrlempresas/altausuario')
												i.fa.fa-plus
												|  Nuevo Usuario
								hr.line-dashed.line-full
								list-users(mensaje="''")
							// /tile body
					// /.col-md-12
				// /row
			// /.page
		// / CONTENT
		#imp-er.modal.splash.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
			.modal-dialog
				.modal-content
					.modal-header
						h3.modal-title.custom-font Atencion !
					.modal-body
						.row
							.text-center
								i.icon-user-unfollow.fa-4x(style='line-height: 140px;')
								p
									strong ¿Desea Borrar al Usuario?
							.col-sm-12
								// tile header
								.tile-header.dvd.dvd-btm
								// /tile header
								// tile body
								.tile-body.p-0
									.table-responsive
								// /tile body
							// /.col-sm-12
					// /.moda-body
					.modal-footer
						button.btn.btn-default.btn-border(data-dismiss='modal') Cancelar
						button.btn.btn-default.btn-border(data-dismiss='modal') Borrar	
	script(src='/js/modules/user/controlUsuarios.js')
	script(src='/js/components/user/listUsers.js')
	script(src='/js/services/user.js')