extends ../layout

block content
	section#content
		.page
			.pageheader
				h2 Control de Perfiles
				.page-bar
				// /.page-bar
			// /.pageheader
			.row
				.col-md-12
					section.tile.tile-simple
						// tile header
						.tile-header.dvd.dvd-btm
							h1.custom-font
								strong Control de Perfiles
						// /tile header
						// tile body
						.tile-body.table-custom
							.form-group.m-10
								.col-md-4
									input.form-control(type='text', placeholder='Selecione el Usuario')
								.col-md-3
									select.form-control.mb-10
										option Seleccione el Perfil
										option Director
										option Administrador
										option Ejecutivo
									br
									br
								// /.col-md-4
								.col-md-4
									a.btn.btn-success(href='#')
										i.fa.fa-plus
										|  Agregar
							// /.form-group
							table.table
								thead
									tr
										th Usuario
										th Nombre
										th Perfil
										th Acciones
								tbody
									tr
										td pedro77
										td Pedro
										td(width='25%')
											select.form-control
												option Director
												option Administrador
												option Ejecutivo
										td
											a.btn.btn-xs.btn-success(href='#') Activar
									tr
										td juan 66
										td Juan
										td(width='25%')
											select.form-control
												option Administrador
												option Ejecutivo
												option Director
										td
											a.btn.btn-xs.bg-warning(href='#') Suspender
						// /tile body
				// /.col-md-12
			// /row
		// /.page
	// / CONTENT	