extends ../layout

block content
	section#content
		.page
			.pageheader
				h2
					| Listado de Clientes 
					span
				.page-bar
					ul.page-breadcrumb
						li
							a(href='#')
								i.fa.fa-user
								|  Control de Empresa
						li
							a(href='#') Listado de Clientes 
				// /.page-bar
			// /.pageheader
			.row
				.col-md-12
					// tile
					section.tile
						// tile header
						.tile-header.dvd.dvd-btm
							h1.custom-font
								| Listado de 
								strong Clientes
						// /tile header
						// tile body
						.tile-body
							.table-responsive
								table.table.table-custom
									thead
										tr
											th Nombre del Cliente
											th Razon Social
											th Doc Emp
											th Doc Cliente
											th Esquema
											th Dispersíon
											th Tipo de Facturacion
											th Acciones
									tbody
										tr
											td Nombre del Cliente 1
											td Razon Social 1 
											td
												span.label.bg-success Completo
											td
												span.label.bg-warning Incompleto
											td Semanal
											td Mensual
											td Semanal
											td
												a.btn.btn-xs.btn-default.mr-5(href='alta-empleados.html')
													i.fa.fa-search
													|  Ver
												a.btn.btn-xs.btn-lightred(href='#')
													i.fa.fa-times
													|  Borrar
							// /.table-responsive
						// /tile body
					// /tile
				// /.col-md-12
			// /row
		// /.page
	// / CONTENT