<div id="wrap" class="">
  <div class="page page-core page-login" style="background:rgb(0, 35, 63);">
    <div class="text-center">
      <h3 class="text-light text-white">+Arte</h3>
    </div>
    <div class="container w-420 p-15 bg-white mt-40 text-center">
      <h2 class="text-light text-greensea">Actualización de Password</h2>
      <form name="form" novalidate="" method="post" class="form-validation mt-20">
        <div class="form-group">
          <input type="password" placeholder="Password" name="password" class="form-control underline-input" ng-model="password"/>
        </div>
        <div class="form-group">
          <input type="password" placeholder="Confirmar Password" name="confirmacion" class="form-control underline-input" ng-model="confirmacion"/>
        </div>
        <div class="form-group text-left mt-20">
          <button class="btn btn-greensea b-0 br-2 mr-5" ng-click="actualizarPassword()">GUARDAR</button>
        </div>
      </form>
      <a href="/auth/logout" class="btn btn-red b-0 br-2 mr-5">SALIR</a>
      <hr class="b-3x"/>
    </div>
  </div>
</div>
<alerta-redireccion idmodal="'alerta'" mensaje="mensaje" funcion="funcion" detalle="detalle"></alerta-redireccion>