</script>
<section id="content" style="left:0;">
  <div id="page-content-wrapper" class=".rm-transition">
    <div id="page-content">
      
    <div class="rm-from-production">

    <div class="content-box">
        <h3 class="content-box-header bg-default">
            <i class="glyph-icon icon-user"></i>
            Nuevo Usuario
        </h3>
        <div class="content-box-wrapper">
            <form id="alta-usuario" role="form" class="form-horizontal row">
              <div class="col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group">
                   <label class="control-label col-sm-2" for="Nombre">Nombre:</label>
                   <div class="col-sm-10">
                       <input type="text" placeholder="Nombre" class="form-control" ng-model="user.nombre"/>
                   </div>
                  </div>
                  <div class="form-group">
                   <label class="control-label col-sm-2" for="Telefono">Teléfono:</label>
                   <div class="col-sm-10">
                       <input type="text" class="input-mask form-control" data-inputmask="&apos;mask&apos;:&apos;(999) 999-9999&apos;"  ng-model="user.telefono">
                   </div>
                  </div>
                  <div class="form-group">
                   <label class="control-label col-sm-2" for="Correo">Correo:</label>
                   <div class="col-sm-10">
                       <input type="email" placeholder="Correo" class="form-control" ng-model="user.correo"/>
                   </div>
                  </div>
              </div><!--Fin del col-sm-6--->
              <div class="col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group">
                   <label class="control-label col-sm-2" for="Rol">Rol:</label>
                   <div class="col-sm-10">
                        <select class="form-control" ng-model="user.role">
                          <option value="">Seleccione una opción</option>
                          <option value='1'> Administrador</option>
                          <option value='2'> Usuario</option>
                          <option value='3'> Franquiciatario</option>
                          <option value='4'> Implementador </option>
                        </select>
                   </div>
                  </div>
                  <div class="form-group">
                   <label class="control-label col-sm-2" for="Ususario">Usuario:</label>
                   <div class="col-sm-10">
                       <input type="text" placeholder="Usuario" class="form-control" ng-model="user.usuario"/>
                   </div>
                  </div>
                  <!--div class="form-group">
                   <label class="control-label col-sm-2" for="Franquicia">Franquicia:</label>
                   <div class="col-sm-10">
                        <select class="form-control" ng-model="franq" ng-click="demo(franq)">
                          <option value="">Seleccione una franquicia</option>
                          <option ng-repeat="Franquicia in lista" value="{{Franquicia.No}}:{{Franquicia.Nombre}}">{{Franquicia.Nombre}}</option>
                        </select>
                   </div>
                  </div-->
              </div><!---fin del col-sm-6--->
            </form>


        </div>
        <div class="button-pane">
                <button class="btn btn-success btn-border btn-sm br-2 mb-10"  ng-click="crearUsuario()"><i class="fa fa-plus"></i> Crear Usuario</button>
                <a class="btn btn-danger btn-border btn-sm br-2 mb-10" href="/users/editarUsuarios"><i class="fa fa-remove"></i> Cancelar</a>
        </div>
    </div>

</div>

  </div><!--page-content-->  
</div> <!--#page-content-wrapper.rm-transition-->
</section>
<!-- / CONTENT-->
<alerta-redireccion idmodal="'alerta'" mensaje="mensaje" funcion="funcion" detalle="detalle"></alerta-redireccion>