<div class="row">
  <div class="form-group">
    <label class="col-md-12 control-label">Filtros de Usuarios</label>
    <div class="col-md-4">
      <input type="text" placeholder="Nombre" class="form-control"/>
    </div>
    <div class="col-md-4">
      <input type="text" placeholder="Nombre" class="form-control"/>
    </div>
  </div>
</div>
<!-- /.row-->
<hr class="line-dashed line-full"/>
<table class="table">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Nombre</th>
      <th>Empresa</th>
      <th>Ultimo Ingreso</th>
      <th>Estatus</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users">
      <td>{{user.username || user.email }}</td>
      <td>{{user.name}}</td>
      <td>{{user.empresa}}</td>
      <td>{{}}</td>
      <td><span class="label {{user.estatus | colorFilter}}">{{user.estatus | estatusFilter}}</span></td>
      <td><a href="#" class="btn btn-xs btn-default"> Editar</a><a href="#" data-toggle="modal" data-target="#imp-er" data-options="splash-2 	splash-lightred splash-ef-4" class="btn btn-xs btn-lightred"> Borrar</a><a href="#" class="btn btn-xs btn-success">Activar</a></td>
    </tr>
  </tbody>
</table>