extends ../layout

block content
  section#listaFranquiciasController(ng-app="listaFranquicias" ng-controller="listaFranquiciasController")
    #page-content-wrapper.rm-transition
      #page-content
          h2 Administración de franquicias
          .example-box-wrapper
            .col-md-4
              button.btn.btn-primary(style="background-color:#646d72;border-color:#646d72;margin-top:20px;", data-toggle='modal', data-target='#myModalRegistrar', title="Registrar franquicia")
                span.glyph-icon.icon-plus
                |  Registrar franquicia           
            .col-md-4
              .row
                label(for='sel1') Filtrar por:
              .row
                .input-group
                  span.input-group-addon.bg-grey
                    i.glyph-icon.icon-search
                  input.form-control(type='text', placeholder='Criterio de busqueda', ng-model="filtro")             
            .col-md-4
          .example-box-wrapper
            table.table.table-striped.table-bordered.table-hover(cellpadding='0', cellspacing='0', border='0')
              thead
                tr
                  th No
                  th Nombre
                  th Dirección
                  th Estatus
                  th Fecha de apertura
                  th(colspan="2") ...
              tbody
                tr(ng-repeat="Franquicia in lista | filter: filtro")   
                  td {{Franquicia.No}}
                  td {{Franquicia.Nombre}}
                  td {{Franquicia.Direccion}}
                  td {{Franquicia.Estatus}}
                  td {{Franquicia.FechaAp | date:'mediumDate'}}
                  td(style='width:20px;')
                    button.btn.btn-warning(data-toggle='modal', data-target='#myModalEditar', title="Editar", ng-click="editar(Franquicia)")
                      span.glyph-icon.icon-pencil                    
                      
      //Modales
      #myModalEditar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-lg
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Editar franquicia
            .modal-body
              form
                ul.nav.nav-pills
                  li.active
                    a(href='#edt1', data-toggle='tab') Datos Basicos
                  li
                    a(href='#edt2', data-toggle='tab') Persona Física
                  li
                    a(href='#edt3', data-toggle='tab') Persona Moral
                .tab-content
                  #edt1.tab-pane.active
                    .content-box
                      .content-box-wrapper
                        .row
                          .col-md-6
                            .form-group
                              .row
                                label(for='modalEditarTelefono') Nombre:
                              .row
                                .input-group
                                  span.input-group-addon.bg-grey
                                    i.glyph-icon.icon-user
                                  input.form-control(type='text', placeholder='Nombre', ng-model="modificar.Nombre")
                                  input.form-control(type='hidden', placeholder='Nombre', ng-model="modificar.No")
                            .form-group
                             .row
                                label(for='modalEditarTelefono') Estatus:*
                             .row
                               .input-group
                                 span.input-group-addon.bg-grey
                                   i.glyph-icon.icon-pencil
                                 select.form-control(ng-model="modificar.Estatus",required)
                                   option(value='') Seleccionar Estatus
                                   option(value='Pendiente') Pendiente
                                   option(value='Apertura') Apertura
                                   option(value='Operando') Operando  
                          .col-md-6
                            .form-group
                              .row
                                label(for='modalEditarTelefono') Dirección:
                              .row
                                .input-group
                                  span.input-group-addon.bg-grey
                                    i.glyph-icon.icon-map-marker
                                  input.form-control(type='text', placeholder='Dirección', ng-model="modificar.Direccion")
                            .form-group
                              .row
                                label(for='modalEditarTelefono') Nueva fecha de apertura:
                              .row
                                .input-group
                                  span.input-group-addon.bg-grey
                                    i.glyph-icon.icon-calendar
                                  input.form-control(type='date', , ng-model="modificar.FechaAp")
                  #edt2.tab-pane
                    .content-box
                      .content-box-wrapper 
                        ul.todo-box
                          li.border-green
                            label(for='todo-6') Permiso de apertura de obra
                            a.btn.btn-xs.btn-danger.float-right.tooltip-button(onclick='loadPicker("fileFranquicias&6");', data-placement='top', title='', data-original-title='Archivo Cargado')
                              i.glyph-icon.icon-cloud-download
                          li.border-green
                            label(for='todo-6') Contrato de arrendamiento, comodato o título de propiedad.
                            a.btn.btn-xs.btn-danger.float-right.tooltip-button(onclick='loadPicker("fileFranquicias&7");', data-placement='top', title='', data-original-title='Archivo Cargado')
                              i.glyph-icon.icon-cloud-download
                          li.border-green
                            label(for='todo-6') Póliza de seguro	
                            a.btn.btn-xs.btn-danger.float-right.tooltip-button(onclick='loadPicker("fileFranquicias&8");', data-placement='top', title='', data-original-title='Cargar Archivo')
                              i.glyph-icon.icon-cloud-upload
                          li.border-green
                            label(for='todo-6') Licencia de funcionamiento
                            a.btn.btn-xs.btn-danger.float-right.tooltip-button(onclick='loadPicker("fileFranquicias&9");', data-placement='top', title='', data-original-title='Archivo Cargado')
                              i.glyph-icon.icon-cloud-download
                          li.border-green
                            label(for='todo-6') Certificado de protección civil
                            a.btn.btn-xs.btn-danger.float-right.tooltip-button(onclick='loadPicker("fileFranquicias&10");', data-placement='top', title='', data-original-title='Archivo Cargado')
                              i.glyph-icon.icon-cloud-download
                          li.border-green
                            label(for='todo-6') Permiso de apertura de obra
                            a.btn.btn-xs.btn-danger.float-right.tooltip-button(onclick='loadPicker("fileFranquicias&11");', data-placement='top', title='', data-original-title='Archivo Cargado')
                              i.glyph-icon.icon-cloud-download
                  #edt3.tab-pane
                    .content-box
                      .content-box-wrapper  
                        ul.todo-box
                          li.border-green
                            label(for='todo-6') Contrato de arrendamiento, comodato o título de propiedad
                            a.btn.btn-xs.btn-danger.float-right.tooltip-button(onclick='loadPicker("fileFranquicias&7");', data-placement='top', title='', data-original-title='Archivo Cargado')
                              i.glyph-icon.icon-cloud-download
                          li.border-green
                            label(for='todo-6') Póliza de seguro
                            a.btn.btn-xs.btn-danger.float-right.tooltip-button(onclick='loadPicker("fileFranquicias&8");', data-placement='top', title='', data-original-title='Archivo Cargado')
                              i.glyph-icon.icon-cloud-download
                          li.border-green
                            label(for='todo-6') Licencia de funcionamiento
                            a.btn.btn-xs.btn-danger.float-right.tooltip-button(onclick='loadPicker("fileFranquicias&9");', data-placement='top', title='', data-original-title='Archivo Cargado')
                              i.glyph-icon.icon-cloud-download
                          li.border-green
                            label(for='todo-6') Certificado de protección civil
                            a.btn.btn-xs.btn-danger.float-right.tooltip-button(onclick='loadPicker("fileFranquicias&10");', data-placement='top', title='', data-original-title='Archivo Cargado')
                              i.glyph-icon.icon-cloud-download
                          li.border-green
                            label(for='todo-6') Permiso de apertura de obra
                            a.btn.btn-xs.btn-danger.float-right.tooltip-button(onclick='loadPicker("fileFranquicias&11");', data-placement='top', title='', data-original-title='Archivo Cargado')
                              i.glyph-icon.icon-cloud-download
            .modal-footer
              button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-success(ng-click="actualizarFranquicia(modificar._id, modificar)", data-dismiss='modal' ,ng-disabled="!modificar.Nombre || !modificar.Direccion || !modificar.Estatus || !modificar.FechaAp") Guardar                      
              
      #myModalRegistrar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-lg
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Registrar nueva franquicia
            form(ng-submit='registrarFranquicia()')
              .modal-body
                    .example-box-wrapper
                      #form-wizard-1
                        ul.nav.nav-pills
                          li.active
                            a(href='#tab1', data-toggle='tab') Datos Basicos
                          li
                            a(href='#tab2', data-toggle='tab') Persona Física
                          li
                            a(href='#tab3', data-toggle='tab') Persona Moral
                          
                        .tab-content
                          #tab1.tab-pane.active
                            .content-box
                              .content-box-wrapper
                                .row
                                  .col-md-6
                                    .form-group
                                      .row
                                        label(for='modalEditarTelefono') No. Franquicia:
                                      .row
                                        .input-group
                                          span.input-group-addon.bg-grey
                                            i.glyph-icon.icon-user
                                          input.form-control(type="text", ng-model="nuevaFranquicia.No = lista.length+1",disabled)
                                
                                    .form-group
                                      .row
                                        label(for='modalEditarTelefono') Nombre:* 
                                      .row
                                        .input-group
                                          span.input-group-addon.bg-grey
                                            i.glyph-icon.icon-user
                                          input.form-control(type='text', placeholder='Nombre', ng-model="nuevaFranquicia.Nombre", required)
                                          //input(type="text", ng-model="nuevaFranquicia.No = lista.length+1")
                                  .col-md-6
                                    .form-group
                                      .row
                                        label(for='modalEditarTelefono') Dirección:*
                                      .row
                                        .input-group
                                          span.input-group-addon.bg-grey
                                            i.glyph-icon.icon-map-marker
                                          input.form-control(type='text', placeholder='Dirección', ng-model="nuevaFranquicia.Direccion", required)
                                    .form-group
                                      .row
                                        label(for='modalEditarTelefono') Fecha de apertura:*
                                      .row
                                        .input-group
                                          span.input-group-addon.bg-grey
                                            i.glyph-icon.icon-calendar
                                          input.form-control(type='date', ng-model="nuevaFranquicia.FechaAp", required)
                          #tab2.tab-pane
                            .content-box
                              .content-box-wrapper
                                ul.todo-box
                                  li.border-green
                                    label(for='todo-6') Contrato promesa de compra 	
                                    a.btn.btn-xs.btn-danger.float-right.tooltip-button(onclick='loadPicker("fileFranquicias&1");', data-placement='top', title='', data-original-title='Archivo Cargado')
                                      i.glyph-icon.icon-cloud-download
                                  li.border-green
                                    label(for='todo-6') Contrato de franquicia y anexos ( Acuerdo de confidencialidad, redes sociales y publicidad)
                                    a.btn.btn-xs.btn-danger.float-right.tooltip-button(onclick='loadPicker("fileFranquicias&2");', data-placement='top', title='', data-original-title='Archivo Cargado')
                                      i.glyph-icon.icon-cloud-download
                                  li.border-green
                                    label(for='todo-6') Identificación oficial vigente (persona física)	
                                    a.btn.btn-xs.btn-danger.float-right.tooltip-button(onclick='loadPicker("fileFranquicias&3");', data-placement='top', title='', data-original-title='Archivo Cargado')
                                      i.glyph-icon.icon-cloud-download
                                  li.border-green
                                    label(for='todo-6') Cédula R.F.C.
                                    a.btn.btn-xs.btn-danger.float-right.tooltip-button(onclick='loadPicker("fileFranquicias&4");', data-placement='top', title='', data-original-title='Cargar Archivo')
                                      i.glyph-icon.icon-cloud-upload
                                  li.border-green
                                    label(for='todo-6') Permiso de uso de suelo comercial	
                                    a.btn.btn-xs.btn-danger.float-right.tooltip-button(onclick='loadPicker("fileFranquicias&5");', data-placement='top', title='', data-original-title='Archivo Cargado')
                                      i.glyph-icon.icon-cloud-download
                                  
                          #tab3.tab-pane
                            .content-box
                              .content-box-wrapper
                                ul.todo-box
                                  li.border-green
                                    label(for='todo-6') Contrato promesa de compra
                                    a.btn.btn-xs.btn-danger.float-right.tooltip-button(onclick='loadPicker("fileFranquicias&1");', data-placement='top', title='', data-original-title='Archivo Cargado')
                                      i.glyph-icon.icon-cloud-download
                                  li.border-green
                                    label(for='todo-6') Contrato de franquicias y anexos (Acuerdo de confidencialidad, redes socialesy publicidad)  	
                                    a.btn.btn-xs.btn-danger.float-right.tooltip-button(onclick='loadPicker("fileFranquicias&2");', data-placement='top', title='', data-original-title='Archivo Cargado')
                                      i.glyph-icon.icon-cloud-download
                                  li.border-green
                                    label(for='todo-6') Acta constitutiva  	
                                    a.btn.btn-xs.btn-danger.float-right.tooltip-button(onclick='loadPicker("fileFranquicias&12");', data-placement='top', title='', data-original-title='Archivo Cargado')
                                      i.glyph-icon.icon-cloud-download
                                  li.border-green
                                    label(for='todo-6') Cédula R.F.C.
                                    a.btn.btn-xs.btn-danger.float-right.tooltip-button(onclick='loadPicker("fileFranquicias&4");', data-placement='top', title='', data-original-title='Archivo Cargado')
                                      i.glyph-icon.icon-cloud-download
                                  li.border-green
                                    label(for='todo-6') Poder general para actos de administración
                                    a.btn.btn-xs.btn-danger.float-right.tooltip-button(onclick='loadPicker("fileFranquicias&13");', data-placement='top', title='', data-original-title='Archivo Cargado')
                                      i.glyph-icon.icon-cloud-download
                                  li.border-green
                                    label(for='todo-6') Identificación oficial vigente de apoderado
                                    a.btn.btn-xs.btn-danger.float-right.tooltip-button(onclick='loadPicker("fileFranquicias&3");', data-placement='top', title='', data-original-title='Archivo Cargado')
                                      i.glyph-icon.icon-cloud-download
                                  li.border-green
                                    label(for='todo-6') Carta compromiso de recursos lícitos
                                    a.btn.btn-xs.btn-danger.float-right.tooltip-button(onclick='loadPicker("fileFranquicias&14");', data-placement='top', title='', data-original-title='Cargar Archivo')
                                      i.glyph-icon.icon-cloud-upload
                                  li.border-green
                                    label(for='todo-6') Permiso de uso de suelo comercial
                                    a.btn.btn-xs.btn-danger.float-right.tooltip-button(onclick='loadPicker("fileFranquicias&5");', data-placement='top', title='', data-original-title='Archivo Cargado')
                                      i.glyph-icon.icon-cloud-download
                                  
                  
                    
              .modal-footer
                span
                  | (*) Campos Obligatorios
                button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
                button.btn.btn-success(type="submit") Registrar        
                //{{nuevaFranquicia}}
              
  script(src='/js/modules/franquicias/franquicias.js')
  script(src='/js/services/franquicias.js')              