<select class="form-control mb-10 text-center" ng-model="selectedCentro" 
    ng-options="centro as centro.name for centro in centros track by centro.id"
    required="" data-parsley-required-message="Este campo es requerido.">
    <option value="">Seleccione un centro de costo</option>
</select>