<section id="content">
  <div class="page">
    <div class="pageheader">
      <h2>Editar Empleado <span>// modifique los datos del empleado </span></h2>
      <div class="page-bar">
        <ul class="page-breadcrumb">
          <li><a href="#"><i class="fa fa-user"></i> Empleados</a></li>
          <li><a href="#">Editar Empleado </a></li>
        </ul>
      </div>
      <!-- /.page-bar-->
    </div>
    <!-- /.pageheader-->
    <div class="row">
      <div class="col-md-12">
        <!-- tile-->
        <section class="tile">
          <!-- tile header-->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font">Editar <strong>Empleados</strong></h1>
          </div>
          <!-- /tile header-->
          <!-- tile body-->
          <div class="tile-body">
            <form id="edit-usuario" role="form" data-parsley-validate="" class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-2 control-label">Nombre / Apellidos</label>
                <div class="col-sm-10">
                  <div class="row">
                    <div class="col-xs-4">
                      <input type="text" placeholder="Nombre" class="form-control" 
                      ng-model='empleado.nombre.nombre' required="" data-parsley-required-message="Este campo es requerido."
                      data-parsley-pattern="(?=.)^\$?([a-zA-ZñÑáÁéÉÁíÍóÓúÚ]+\s*[a-zA-ZñÑáÁéÉÁíÍóÓúÚ]*)?$" data-parsley-pattern-message="El campo contiene caracteres inválidos."
                      data-parsley-trigger="keyup"/>
                    </div>
                    <div class="col-xs-4">
                      <input type="text" placeholder="Apellido Paterno" class="form-control"
                      ng-model='empleado.nombre.appaterno' required="" data-parsley-required-message="Este campo es requerido."
                      data-parsley-pattern="(?=.)^\$?([a-zA-ZñÑáÁéÉÁíÍóÓúÚ]+\s*[a-zA-ZñÑáÁéÉÁíÍóÓúÚ]*)?$" data-parsley-pattern-message="El campo contiene caracteres inválidos."
                      data-parsley-trigger="keyup"/>
                    </div>
                    <div class="col-xs-4">
                      <input type="text" placeholder="Apellido Materno" class="form-control" ng-model='empleado.nombre.apmaterno'
                      required="" data-parsley-required-message="Este campo es requerido."
                      data-parsley-pattern="(?=.)^\$?([a-zA-ZñÑáÁéÉÁíÍóÓúÚ]+\s*[a-zA-ZñÑáÁéÉÁíÍóÓúÚ]*)?$" data-parsley-pattern-message="El campo contiene caracteres inválidos."
                      data-parsley-trigger="keyup"/>
                    </div>
                  </div>
                </div>
                <!-- /.col-sm-10-->
              </div>
              <!-- /.form-group-->
              <hr class="line-dashed line-full"/>
              <div class="form-group">
                <label class="col-sm-2 control-label">Entidad Laboral</label>
                <div class="col-sm-10">
                  <div class="row">
                    <div class="col-sm-2 col-xs-4">
                      <input type="text" placeholder="Ubicacion" required="" class="form-control"
                      ng-model='empleado.entlaboral.ubicacion' required="" data-parsley-required-message="Este campo es requerido."
                      data-parsley-trigger="keyup"/>
                    </div>
                    <div class="col-sm-2 col-xs-4">
                      <input type="text" placeholder="Depto" required="" class="form-control" 
                      ng-model='empleado.entlaboral.depto' required="" data-parsley-required-message="Este campo es requerido."
                      data-parsley-trigger="keyup"/>
                    </div>
                    <div class="col-sm-2 col-xs-4">
                      <input type="text" placeholder="Puesto" required="" class="form-control" ng-model='empleado.entlaboral.puesto' 
                      required="" data-parsley-required-message="Este campo es requerido." data-parsley-trigger="keyup"/>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                      <div id="fcontratacion-datepicker" class='input-group datepicker' datepicker-angular fecha="empleado.entlaboral.fcontratacion">
                        <input  id="dateinput" type='text' class="form-control" 
                          placeholder="Fecha de Contratación (fecha_ing)" required="" 
                          data-parsley-required-message="Este campo es requerido."
                          data-parsley-trigger="keyup"/>
                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                      </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                      <div id="fantiguedad-datepicker" class='input-group datepicker' datepicker-angular
                          fecha="empleado.entlaboral.fantiguedad">
                        <input  id="dateinput" type='text' class="form-control" 
                          placeholder="Fecha de Antiguedad (Fecha_ing_grupo)" required="" 
                          data-parsley-required-message="Este campo es requerido."
                          data-parsley-trigger="keyup"/>
                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.col-sm-10-->
              </div>
              <!-- /.form-group-->
              <hr class="line-dashed line-full"/>
              <div class="form-group">
                <label class="col-sm-2 control-label">Banco</label>
                <div class="col-sm-10">
                  <div class="row">
                    <div class="col-xs-4">
                      <select class="form-control mb-10" ng-model='empleado.banco.bid'
                      required="" data-parsley-required-message="Este campo es requerido." data-parsley-trigger="keyup">
                        <option value="">Seleccione un banco ...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>
                    </div>
                    <div class="col-xs-4">
                      <input type="text" placeholder="Cta Banco" class="form-control" 
                      ng-model='empleado.banco.cuenta' required="" data-parsley-required-message="Este campo es requerido."
                      data-parsley-pattern="(?=.)^\$?([0-9]*)?$"
                      data-parsley-pattern-message="El campo contiene caracteres inválidos." data-parsley-trigger="keyup"/>
                    </div>
                    <div class="col-xs-4">
                      <input type="text" placeholder="Clave Interbancaria" 
                      required="" data-parsley-required-message="Este campo es requerido." class="form-control"
                      ng-model='empleado.banco.clabe' data-parsley-validation-threshold="10" data-parsley-type="digits"
                      data-parsley-type-message="El campo contiene caracteres inválidos." data-parsley-trigger="keyup"
                      data-parsley-minlength="18" data-parsley-maxlength="18" data-parsley-minlength-message="El campo debe contener 18 dígitos."
                      data-parsley-maxlength-message="El campo debe contener 18 dígitos."/>
                    </div>
                  </div>
                </div>
                <!-- /.col-sm-10-->
              </div>
              <!-- /.form-group-->
              <hr class="line-dashed line-full"/>
              <div class="form-group">
                <label class="col-sm-2 control-label">Nacimiento / Sexo / Estado civil</label>
                <div class="col-sm-10">
                  <div class="row">
                    <div class="col-xs-3">
                      <div id="fnacimiento-datepicker" class='input-group datepicker' datepicker-angular 
                          fecha="empleado.nacimiento.fecha">
                        <input  id="dateinput" type='text' class="form-control" 
                          placeholder="Fecha de Nacimiento" required="" 
                          data-parsley-required-message="Este campo es requerido."/>
                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <estados-catalogo estado-selected="empleado.nacimiento.idLugar"></estados-catalogo>
                    </div>
                    <div class="col-xs-3">
                      <select class="form-control mb-10" ng-model='empleado.edoCivil'
                      required="" data-parsley-required-message="Este campo es requerido.">
                        <option value="">Seleccione estado civil</option>
                        <option>Soltero </option>
                        <option>Casado </option>
                        <option>Divorciado </option>
                        <option>Viudo</option>
                      </select>
                    </div>
                    <div class="col-xs-3">
                      <label class="checkbox checkbox-custom-alt">
                        <input name="customRadioAlt" type="radio" ng-model='empleado.sexo' value="M"
                        required="" data-parsley-required-message="Este campo es requerido."/><i></i> Masculino
                      </label>
                      <label class="checkbox checkbox-custom-alt">
                        <input name="customRadioAlt" type="radio" ng-model='empleado.sexo' value="F"/><i></i> Femenino
                      </label>
                    </div>
                  </div>
                </div>
                <!-- /.col-sm-10-->
              </div>
              <!-- /.form-group-->
              <div class="form-group">
                <label class="col-sm-2 control-label">Afiliacion / Salarios </label>
                <div class="col-sm-10">
                  <div class="row">
                    <div class="col-xs-4">
                      <input type="text" placeholder="Nº Afiliacion" class="form-control"
                      ng-model='empleado.afiliacion' required="" data-parsley-required-message="Este campo es requerido."
                      data-parsley-minlength="11" data-parsley-maxlength="11" data-parsley-minlength-message="El campo debe contener 11 dígitos."
                      data-parsley-maxlength-message="El campo debe contener 11 dígitos." data-parsley-validation-threshold="10" data-parsley-type="digits" data-parsley-trigger="keyup"
                      data-parsley-type-message="El campo contiene caracteres inválidos." />
                    </div>
                    <div class="col-xs-4">
                      <input type="text" id="salmensual" placeholder="Salario Meunsual" class="form-control"
                      ng-model='empleado.salarios.mensual' required="" data-parsley-required-message="Este campo es requerido."/>
                      <script>
                        document.getElementById("salmensual").onblur =function (){    
			  if(this.value == undefined) return;
                          this.value = parseFloat(this.value.replace(/,/g, ""))
                                          .toFixed(2)
                                          .toString()
                                          .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                      }
                      </script>
                    </div>
                    <div class="col-xs-4">
                      <input id="salbase" type="text" placeholder="Salario Base" class="form-control" 
                      ng-model='empleado.salarios.base' required="" data-parsley-required-message="Este campo es requerido."/>
                      <script>
                        document.getElementById("salbase").onblur =function (){    
			  if(this.value == undefined) return;
                          this.value = parseFloat(this.value.replace(/,/g, ""))
                                          .toFixed(2)
                                          .toString()
                                          .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                      }
                      </script>
                    </div>
                  </div>
                  <!-- /.row-->
                </div>
                <!-- /.col-sm-10-->
              </div>
              <!-- /.form-group-->
              <div class="form-group">
                <label class="col-sm-2 control-label">SDI / RFC /CURP </label>
                <div class="col-sm-10">
                  <div class="row">
                    <div class="col-xs-4">
                      <input id="salsdi" type="text" placeholder="SDI" class="form-control" 
                      ng-model='empleado.salarios.sdi' required="" data-parsley-required-message="Este campo es requerido."/>
                      <script>
                        $("#salsdi").bind("change", function(e) {
                          if(this.value == undefined) return;
                          this.value = parseFloat(this.value.replace(/,/g, ""))
                                          .toFixed(2)
                                          .toString()
                                          .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        });
                      </script>
                    </div>
                    <div class="col-xs-4">
                      <input type="text" placeholder="RFC cob Homoclave" class="form-control" ng-model='empleado.identificaciones.rfc'
                      required="" data-parsley-required-message="Este campo es requerido."
                      data-parsley-minlength="13" data-parsley-maxlength="13" data-parsley-minlength-message="El campo debe contener 13 dígitos."
                      data-parsley-maxlength-message="El campo debe contener 13 dígitos."/>
                    </div>
                    <div class="col-xs-4">
                      <input type="text" placeholder="CURP" class="form-control" ng-model='empleado.identificaciones.curp'
                      required="" data-parsley-required-message="Este campo es requerido."
                      data-parsley-minlength="18" data-parsley-maxlength="18" data-parsley-minlength-message="El campo debe contener 18 dígitos."
                      data-parsley-maxlength-message="El campo debe contener 18 dígitos."/>
                    </div>
                  </div>
                </div>
                <!-- /.col-sm-10-->
              </div>
              <!-- /.form-group-->
              <div class="form-group">
                <label class="col-sm-2 control-label">Direccion </label>
                <div class="col-sm-10">
                  <div class="row">
                    <div class="col-xs-3">
                      <input type="text" placeholder="Calle" class="form-control" ng-model='empleado.direccion.calle'
                      required="" data-parsley-required-message="Este campo es requerido."/>
                    </div>
                    <div class="col-xs-2">
                      <input type="text" placeholder="Nº Ext" class="form-control" ng-model='empleado.direccion.noext'
                      required="" data-parsley-required-message="Este campo es requerido."/>
                    </div>
                    <div class="col-xs-2">
                      <input type="text" placeholder="Nº Int" class="form-control" ng-model='empleado.direccion.noint'
                      required="" data-parsley-required-message="Este campo es requerido."/>
                    </div>
                    <div class="col-xs-3">
                      <input type="text" placeholder="Colonia" class="form-control" ng-model='empleado.direccion.colonia'
                      required="" data-parsley-required-message="Este campo es requerido."/>
                    </div>
                    <div class="col-xs-2">
                      <input type="text" placeholder="CP" class="form-control" ng-model='empleado.direccion.cp'
                      required="" data-parsley-required-message="Este campo es requerido."
                      data-parsley-validation-threshold="1" data-parsley-type="digits"
                      data-parsley-type-message="El campo contiene caracteres inválidos." data-parsley-trigger="keyup"
                      data-parsley-minlength="5" data-parsley-maxlength="5" data-parsley-minlength-message="El campo debe contener 5 dígitos."
                      data-parsley-maxlength-message="El campo debe contener 5 dígitos."/>
                    </div>
                  </div>
                </div>
                <!-- /.col-sm-10-->
              </div>
              <!-- /.form-group-->
              <div class="form-group">
                <label class="col-sm-2 control-label">Estado y Ciudad</label>
                <div class="col-sm-10">
                  <div class="row">
                    <div class="col-xs-4">
                      <estados-catalogo estado-selected="empleado.direccion.estado"></estados-catalogo>
                    </div>
                    <!-- /.col-xs-4-->
                    <div class="col-xs-4">
                      <input type="text" placeholder="Ciudad" class="form-control" ng-model='empleado.direccion.ciudad'
                      required="" data-parsley-required-message="Este campo es requerido."/>
                    </div>
                    <!-- /.col-xs-4-->
                    <div class="col-xs-4">
                      <input type="text" placeholder="Telefono" class="form-control" ng-model='empleado.telefono'
                      required="" data-parsley-required-message="Este campo es requerido."
                      data-parsley-validation-threshold="1" data-parsley-type="digits" data-parsley-trigger="keyup"
                      data-parsley-type-message="El campo contiene caracteres inválidos."/>
                    </div>
                    <!-- /.col-xs-4-->
                  </div>
                </div>
              </div>
              <!-- /.form-group-->
              <div class="form-group">
                <label class="col-sm-2 control-label">Mail  / Tipo de Nomina</label>
                <div class="col-sm-10">
                  <div class="row">
                    <div class="col-xs-6">
                      <input type="email" placeholder="@e-mail" data-parsley-trigger="change" class="form-control" ng-model='empleado.email'
                      required="" data-parsley-required-message="Este campo es requerido."/>
                    </div>
                    <div class="col-xs-4">
                      <nominas-catalogo selected-nomina="empleado.tipoNomina"></nominas-catalogo>
                    </div>
                  </div>
                </div>
                <!-- /.col-sm-10-->
              </div>
              <!-- /.form-group-->
              <div class="form-group">
                <label class="col-sm-2 control-label">Empresa  / Centro</label>
                <div class="col-sm-10">
                  <div class="row">
                    <div class="col-xs-5">
                      <empresa-catalogo selected-empresa="empleado.empresa"></empresa-catalogo>
                    </div>
                    <div class="col-xs-5">
                      <cencostos-catalogo selected-centro="empleado.centro"></cencostos-catalogo>
                    </div>
                  </div>
                </div>
                <!-- /.col-sm-10-->
              </div>
              <!-- /.form-group-->
              <div class="tile-footer text-right bg-tr-black lter dvd dvd-top">
                <button id="alta-usuarioSubmit" class="btn btn-success" type="submit">Agregar</button>
              </div>
            </form>
          </div>
          <!-- /tile body-->
        </section>
        <!-- /tile-->
      </div>
      <!-- /.col-md-12-->
    </div>
    <!-- /row-->
  </div>
  <!-- /.page-->
</section>
<!-- / CONTENT-->
<alerta-redireccion idmodal="'alerta'" mensaje="mensaje" funcion="funcion" detalle="detalle"></alerta-redireccion>