<select class="form-control mb-10 text-center" ng-model="selectedEmpresa" 
    ng-options="empresa as empresa.desc for empresa in empresas track by empresa.opt"
    required="" data-parsley-required-message="Este campo es requerido.">
    <option value="">Seleccione una empresa</option>
</select>