<select class="form-control mb-10 text-center" ng-model="estadoSelected" 
    ng-options="estado as estado for estado in estados track by estado"
    required="" data-parsley-required-message="Este campo es requerido.">
    <option value="">Seleccione un estado</option>
</select>