<section id="content">
  <div class="page">
    <div class="pageheader">
      <h2>Listado de Empleados <span>// ya ingresados en el sistema</span></h2>
      <div class="page-bar">
        <ul class="page-breadcrumb">
          <li><a href="#"><i class="fa fa-user"></i> Empleados</a></li>
          <li><a href="#">Listado de Empleados </a></li>
        </ul>
      </div>
      <!-- /.page-bar-->
    </div>
    <!-- /.pageheader-->
    <div class="row">
      <div class="col-md-12">
        <!-- tile-->
        <section class="tile">
          <!-- tile header-->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font">Tabla de <strong>Empleados </strong></h1>
          </div>
          <!-- /tile header-->
          <!-- tile widget-->
          <div class="tile-widget p-10">
            <div class="row">
              <div class="form-group m-10">
                <label class="col-sm-4 control-label">Filtros de empleados</label>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <div class="col-md-1">
                  <input ng-model="txtId" type="text" placeholder="ID" class="form-control"/>
                </div>
                <div class="col-md-2">
                  <input id="nombre" ng-model="txtName" type="text" placeholder="Nombre" class="form-control"/>
                </div>
                <div class="col-md-3 col-xs-4">
                  <select chosen="" tabindex="3" data-placeholder="Empresa" multiple="" options="Enterprises" style="width: 240px" ng-model="selectedEnterprises" ng-options="empresa as empresa.desc for empresa in empresas" class="chosen-select"></select>
                </div>
                <div class="col-md-3 col-xs-4">
                  <select chosen="" tabindex="3" data-placeholder="Centro de Costo" multiple="" options="CostCenters" style="width: 240px" ng-model="selectedCostCenters" ng-options="centro as centro.desc for centro in centros" class="chosen-select"></select>
                </div>
                <div class="col-md-3 col-xs-4">
                  <select chosen="" tabindex="3" data-placeholder="Tipo de Nómina" multiple="" options="PayrollTypes" style="width: 240px" ng-model="selectedPayrollTypes" ng-options="nomina as nomina.desc for nomina in nominas" class="chosen-select"></select>
                </div>
              </div>
            </div>
            <!-- /.row-->
            <div class="row">
              <div class="btn-toolbar pull-right p-30">
                <div class="btn-group">
                  <button class="btn btn-danger btn-border btn-sm br-2 mb-10" ng-click="restaurar()"><i class="fa fa-refresh"></i>  Restaurar</button>
                  <button ng-click="Filter();" class="btn btn-success btn-border btn-sm br-2 mb-10"><i class="fa fa-filter"></i>  Filtrar</button>
                </div>
              </div>
            </div>
            <!-- /.row-->
            <hr class="line-dashed line-full"/>
          </div>
          <!-- /tile widget-->
          <!-- tile body-->
          <div class="tile-body p-10">
            <div class="table-responsive">
              <table id="table-user" class="table table-custom">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Nomina</th>
                    <th>Fecha Pago</th>
                    <th>Empresa</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody ng-repeat="empleado in empleados">
                  <tr>
                    <td></td>
                    <td>{{empleado.nombre.nombre}} {{empleado.nombre.appaterno}} {{empleado.nombre.apmaterno}}</td>
                    <td>{{empleado.tipoNomina.desc}}</td>
                    <td></td>
                    <td>{{empleado.empresa.desc}}</td>
                    <td><a href="/empleados/edit/{{empleado._id}}" class="btn btn-xs btn-default mr-5"><i class="fa fa-search"></i> Ver</a>
                      <div class="btn-group">
                        <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn-xs btn btn-primary btn-border dropdown-toggle"><i class="fa fa-paperclip"></i> Adjuntos</button>
                        <ul role="menu" class="dropdown-menu">
                          <li><a href="#">Recibos</a></li>
                          <li><a href="#">Contrato</a></li>
                          <li><a href="#">Cartas Patronales</a></li>
                        </ul>
                      </div>
                      <button class="btn btn-xs btn-lightred" ng-click="borrar(empleado._id)"><i class="fa fa-times"></i> Borrar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive-->
          </div>
          <!-- /tile body-->
        </section>
        <!-- /tile-->
      </div>
      <!-- /.col-md-12-->
    </div>
    <!-- /row-->
  </div>
  <!-- /.page-->
</section>
<!-- / CONTENT-->
<alerta-redireccion idmodal="'alerta'" mensaje="mensaje" funcion="funcion" detalle="detalle"></alerta-redireccion>