<div id="imp-er" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal splash fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title custom-font">Importación Errónea!</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="text-center"><i style="line-height: 140px;" class="icon-user-unfollow fa-4x"></i>
            <p>{{numerrores}} Empleados con errores</p>
          </div>
          <div class="col-sm-12">
            <!-- tile header-->
            <div class="tile-header dvd dvd-btm">
              <h4 class="custom-font">Lineas <strong>Eroneas </strong></h4>
            </div>
            <!-- /tile header-->
            <!-- tile body-->
            <div class="tile-body p-0">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Tipo de Error</th>
                    </tr>
                  </thead>
                  <tbody ng-repeat="error in errores">
                    <tr>
                      <td>{{error.id}}</td>
                      <td>Error en la casilla {{error.atributo}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /tile body-->
          </div>
          <!-- /.col-sm-12-->
        </div>
      </div>
      <!-- /.moda-body-->
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-default btn-border">Ok!</button>
      </div>
      <!-- / Application Content-->
    </div>
  </div>
</div>