<div id="{{ idmodal }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal splash fade">
  <div class="modal-dialog" style="margin-top: 200px!important;">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title custom-font">{{mensaje}}</h3>
      </div>
      <div class="modal-footer"><button class="btn btn-default btn-border" data-dismiss="modal">Ok!</button></div>
    </div>
  </div>
</div>