<div id="{{ idmodal }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal splash fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title custom-font">{{titulo}}</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="text-center"><i style="line-height: 140px;" class="icon-user-following fa-4x"></i>
            <p>{{descripcion}}</p>
          </div>
          <div class="col-md-offset-4 col-md-4 col-sm-12">
            <h4 class="underline custom-font"><strong>Resumen por empresa</strong></h4>
            <div class="progress-list">
              <div class="details">
                <div class="title">{{selectedEmpresa.desc}}</div>
                <p>{{data}} Empleados</p>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <!-- /.col-md-offset-4 col-md-4 col-sm-12-->
          <div class="col-md-offset-4"></div>
        </div>
      </div>
      <!-- /.moda-body-->
      <div class="modal-footer"><a href="/empleados/list" class="btn btn-default btn-border">Ok!</a></div>
    </div>
  </div>
</div>