<select class="form-control mb-10 text-center" ng-model="selectedNomina" 
    ng-options="nomina as nomina.desc for nomina in nominas track by nomina.opt"
    required="" data-parsley-required-message="Este campo es requerido.">
    <option value="">Seleccione tipo de nómina</option>
</select>