extends ../layout

block content
  section#content(ng-app="listaAsistencia" ng-controller="listaAsistenciaController")
    #page-content-wrapper.rm-transition
      #page-content
          h2 Asistencias Taller
          .example-box-wrapper
            .col-md-4
              .row
                label(for='sel1') Filtrar por:
              .row
                .input-group
                  span.input-group-addon.bg-grey
                    i.glyph-icon.icon-search
                  input.form-control(type='text', placeholder='Criterio de busqueda', ng-model="filtro")             
            .col-md-4
              button.btn.btn-success.hidden(type="button", ng-click="registrarAsistencia();") Reg
              input.form-control.hidden(type='text', placeholder='Instagram', ng-model="nuevaAsistencia.Nombre")
              input.form-control.hidden(type='text', placeholder='Instagram', ng-model="nuevaAsistencia.Pin")
            .col-md-4          
      .example-box-wrapper(style="margin-top:-25px;")
        ul.list-group.list-group-separator.row.list-group-icons
          li.col-md-6.active
            a.list-group-item(href='#tab-example-1', data-toggle='tab')
              i.glyph-icon.icon-child
              |                     Alumnos
          li.col-md-6
            a.list-group-item(href='#tab-example-2', data-toggle='tab')
              i.glyph-icon.font-primary.icon-male
              |                     Maestro
        .tab-content
          #tab-example-1.tab-pane.fade.active.in
            .example-box-wrapper(style="overflow:scroll; height:450px;overflow-x: hidden;")
                        table.table.table-striped.table-bordered.table-hover(cellpadding='0', cellspacing='0', border='0')
                          thead
                            tr
                              th Nombre
                              th 1
                              th 2
                              th 3
                              th 4
                          tbody
                            tr(ng-repeat="Alumno in lista | filter: filtro") 
                              td {{Alumno.NombreAlumno}} {{Alumno.Apellidos}}
                              td
                                .row
                                  .col-md-4.text-center(style="margin-bottom:10px;")
                                    span.glyph-icon.icon-check(style="color:green", title="Asistencia", ng-hide="{{Alumno.Clase1 == 'Falta'}}")
                                    span.glyph-icon.icon-times(style="color:red", title="Falta",ng-hide="{{Alumno.Clase1 == 'Asistio'}}")
                                  .col-md-8 {{Alumno.Fecha1 | date:"short"}}
                                .row
                                  .col-md-6
                                    button.btn.btn-success(data-toggle='modal', data-target='#myModalEditar', title="Asistencia" ,ng-click="asistencia(Alumno)", style="float:right;")
                                      span.glyph-icon.icon-check
                                  .col-md-6
                                    button.btn.btn-danger(title="Falta" ,ng-click="falta(Alumno)")
                                      span.glyph-icon.icon-remove                      
                              td 
                                .row
                                  .col-md-4.text-center(style="margin-bottom:10px;")
                                    span.glyph-icon.icon-check(style="color:green", title="Asistencia", ng-hide="{{Alumno.Clase2 == 'Falta'}}")
                                    span.glyph-icon.icon-times(style="color:red", title="Falta",ng-hide="{{Alumno.Clase2 == 'Asistio'}}")
                                  .col-md-8 {{Alumno.Fecha2 | date:"short"}}  
                                .row
                                  .col-md-6
                                    button.btn.btn-success(data-toggle='modal', data-target='#myModalEditar2', title="Asistencia" ,ng-click="asistencia(Alumno)", style="float:right;")
                                      span.glyph-icon.icon-check
                                  .col-md-6
                                    button.btn.btn-danger(title="Falta" ,ng-click="falta2(Alumno)")
                                      span.glyph-icon.icon-remove 
                              td 
                                .row
                                  .col-md-4.text-center(style="margin-bottom:10px;")
                                    span.glyph-icon.icon-check(style="color:green", title="Asistencia", ng-hide="{{Alumno.Clase3 == 'Falta'}}")
                                    span.glyph-icon.icon-times(style="color:red", title="Falta",ng-hide="{{Alumno.Clase3 == 'Asistio'}}") 
                                  .col-md-8 {{Alumno.Fecha3 | date:"short"}}  
                                .row
                                  .col-md-6
                                    button.btn.btn-success(data-toggle='modal', data-target='#myModalEditar3', title="Asistencia" ,ng-click="asistencia(Alumno)", style="float:right;")
                                      span.glyph-icon.icon-check
                                  .col-md-6
                                    button.btn.btn-danger(title="Falta" ,ng-click="falta3(Alumno)")
                                      span.glyph-icon.icon-remove 
                              td 
                                .row
                                  .col-md-4.text-center(style="margin-bottom:10px;")
                                    span.glyph-icon.icon-check(style="color:green", title="Asistencia", ng-hide="{{Alumno.Clase4 == 'Falta'}}")
                                    span.glyph-icon.icon-times(style="color:red", title="Falta",ng-hide="{{Alumno.Clase4 == 'Asistio'}}") 
                                  .col-md-8 {{Alumno.Fecha4 | date:"short"}}  
                                .row
                                  .col-md-6
                                    button.btn.btn-success(data-toggle='modal', data-target='#myModalEditar4', title="Asistencia" ,ng-click="asistencia(Alumno)", style="float:right;")
                                      span.glyph-icon.icon-check
                                  .col-md-6
                                    button.btn.btn-danger(title="Falta" ,ng-click="falta4(Alumno)")
                                      span.glyph-icon.icon-remove 
          #tab-example-2.tab-pane.fade
            //maestro
            .example-box-wrapper(style="overflow:scroll; height:450px;overflow-x: hidden;")
              table.table.table-striped.table-bordered.table-hover(cellpadding='0', cellspacing='0', border='0')
                thead
                  tr
                    th Nombre
                    th 1
                    th 2
                    th 3
                    th 4
                tbody
                  tr(ng-repeat="Maestro in lista2") 
                    td {{Maestro.Nombre}} {{Maestro.Apellidos}}
                    td
                      .row
                        .col-md-4.text-center(style="margin-bottom:10px;")
                          span.glyph-icon.icon-check(style="color:green", title="Asistencia", ng-hide="{{Maestro.Clase1 == 'Falta'}}")
                          span.glyph-icon.icon-times(style="color:red", title="Falta",ng-hide="{{Maestro.Clase1 == 'Asistio'}}")
                        .col-md-8 {{Maestro.Fecha1 | date:"short"}}
                      .row
                        .col-md-6
                          button.btn.btn-success(data-toggle='modal', data-target='#myModalEditarMaestro', title="Asistencia" ,ng-click="asistencia(Maestro)", style="float:right;")
                            span.glyph-icon.icon-check
                        .col-md-6
                          button.btn.btn-danger(title="Falta" ,ng-click="faltaMaestro(Maestro)")
                            span.glyph-icon.icon-remove                      
                    td 
                      .row
                        .col-md-4.text-center(style="margin-bottom:10px;")
                          span.glyph-icon.icon-check(style="color:green", title="Asistencia", ng-hide="{{Maestro.Clase2 == 'Falta'}}")
                          span.glyph-icon.icon-times(style="color:red", title="Falta",ng-hide="{{Maestro.Clase2 == 'Asistio'}}")
                        .col-md-8 {{Maestro.Fecha2 | date:"short"}}  
                      .row
                        .col-md-6
                          button.btn.btn-success(data-toggle='modal', data-target='#myModalEditarMaestro2', title="Asistencia" ,ng-click="asistencia(Maestro)", style="float:right;")
                            span.glyph-icon.icon-check
                        .col-md-6
                          button.btn.btn-danger(title="Falta" ,ng-click="faltaMaestro2(Maestro)")
                            span.glyph-icon.icon-remove 
                    td 
                      .row
                        .col-md-4.text-center(style="margin-bottom:10px;")
                          span.glyph-icon.icon-check(style="color:green", title="Asistencia", ng-hide="{{Maestro.Clase3 == 'Falta'}}")
                          span.glyph-icon.icon-times(style="color:red", title="Falta",ng-hide="{{Maestro.Clase3 == 'Asistio'}}") 
                        .col-md-8 {{Maestro.Fecha3 | date:"short"}}  
                      .row
                        .col-md-6
                          button.btn.btn-success(data-toggle='modal', data-target='#myModalEditarMaestro3', title="Asistencia" ,ng-click="asistencia(Maestro)", style="float:right;")
                            span.glyph-icon.icon-check
                        .col-md-6
                          button.btn.btn-danger(title="Falta" ,ng-click="faltaMaestro3(Maestro)")
                            span.glyph-icon.icon-remove 
                    td 
                      .row
                        .col-md-4.text-center(style="margin-bottom:10px;")
                          span.glyph-icon.icon-check(style="color:green", title="Asistencia", ng-hide="{{Maestro.Clase4 == 'Falta'}}")
                          span.glyph-icon.icon-times(style="color:red", title="Falta",ng-hide="{{Maestro.Clase4 == 'Asistio'}}") 
                        .col-md-8 {{Maestro.Fecha4 | date:"short"}}  
                      .row
                        .col-md-6
                          button.btn.btn-success(data-toggle='modal', data-target='#myModalEditarMaestro4', title="Asistencia" ,ng-click="asistencia(Maestro)", style="float:right;")
                            span.glyph-icon.icon-check
                        .col-md-6
                          button.btn.btn-danger(title="Falta" ,ng-click="faltaMaestro4(Maestro)")
                            span.glyph-icon.icon-remove              
          #tab-example-3.tab-pane.fade
            p
              | Commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown.
          #tab-example-4.tab-pane.fade
            p
              | Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress,
          
                    
      //Modales
      #myModalEditar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Confirmar asistencia de: {{modificar.Nombre}} {{modificar.Apellidos}}
            .modal-body
              form
                  .row
                    .col-md-12
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Ingresar PIN:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-list
                            input.form-control(type='text', placeholder='PIN', ng-model="capturaPin.Pin", onkeypress='return event.charCode >= 48 && event.charCode <= 57')
            .modal-footer
              button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-success(ng-click="asistenciaAlumno(modificar._id, modificar)", data-dismiss='modal' ,ng-disabled="!capturaPin.Pin") Confirmar                     
              //{{capturaPin.Pin}}
              //{{modificar.Pin}}
              
      #myModalEditar2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Confirmar asistencia de: {{modificar.Nombre}} {{modificar.Apellidos}}
            .modal-body
              form
                  .row
                    .col-md-12
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Ingresar PIN:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-list
                            input.form-control(type='text', placeholder='PIN', ng-model="capturaPin.Pin", onkeypress='return event.charCode >= 48 && event.charCode <= 57')
            .modal-footer
              button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-success(ng-click="asistenciaAlumno2(modificar._id, modificar)", data-dismiss='modal' ,ng-disabled="!capturaPin.Pin") Confirmar
              
      #myModalEditar3.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Confirmar asistencia de: {{modificar.Nombre}} {{modificar.Apellidos}}
            .modal-body
              form
                  .row
                    .col-md-12
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Ingresar PIN:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-list
                            input.form-control(type='text', placeholder='PIN', ng-model="capturaPin.Pin", onkeypress='return event.charCode >= 48 && event.charCode <= 57')
            .modal-footer
              button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-success(ng-click="asistenciaAlumno3(modificar._id, modificar)", data-dismiss='modal' ,ng-disabled="!capturaPin.Pin") Confirmar
              
      #myModalEditar4.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Confirmar asistencia de: {{modificar.Nombre}} {{modificar.Apellidos}}
            .modal-body
              form
                  .row
                    .col-md-12
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Ingresar PIN:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-list
                            input.form-control(type='text', placeholder='PIN', ng-model="capturaPin.Pin", onkeypress='return event.charCode >= 48 && event.charCode <= 57')
            .modal-footer
              button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-success(ng-click="asistenciaAlumno4(modificar._id, modificar)", data-dismiss='modal' ,ng-disabled="!capturaPin.Pin") Confirmar              
                
      //ModalesMaestro
      #myModalEditarMaestro.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Confirmar asistencia de: {{modificar.Nombre}} {{modificar.Apellidos}}
            .modal-body
              form
                  .row
                    .col-md-12
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Ingresar PIN:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-list
                            input.form-control(type='text', placeholder='PIN', ng-model="capturaPin.Pin", onkeypress='return event.charCode >= 48 && event.charCode <= 57')
            .modal-footer
              button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-success(ng-click="asistenciaMaestro(modificar._id, modificar)", data-dismiss='modal' ,ng-disabled="!capturaPin.Pin") Confirmar                     
              //{{capturaPin.Pin}}
              //{{modificar.Pin}}
              
      #myModalEditarMaestro2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Confirmar asistencia de: {{modificar.Nombre}} {{modificar.Apellidos}}
            .modal-body
              form
                  .row
                    .col-md-12
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Ingresar PIN:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-list
                            input.form-control(type='text', placeholder='PIN', ng-model="capturaPin.Pin", onkeypress='return event.charCode >= 48 && event.charCode <= 57')
            .modal-footer
              button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-success(ng-click="asistenciaMaestro2(modificar._id, modificar)", data-dismiss='modal' ,ng-disabled="!capturaPin.Pin") Confirmar
              
      #myModalEditarMaestro3.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Confirmar asistencia de: {{modificar.Nombre}} {{modificar.Apellidos}}
            .modal-body
              form
                  .row
                    .col-md-12
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Ingresar PIN:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-list
                            input.form-control(type='text', placeholder='PIN', ng-model="capturaPin.Pin", onkeypress='return event.charCode >= 48 && event.charCode <= 57')
            .modal-footer
              button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-success(ng-click="asistenciaMaestro3(modificar._id, modificar)", data-dismiss='modal' ,ng-disabled="!capturaPin.Pin") Confirmar
              
      #myModalEditarMaestro4.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Confirmar asistencia de: {{modificar.Nombre}} {{modificar.Apellidos}}
            .modal-body
              form
                  .row
                    .col-md-12
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Ingresar PIN:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-list
                            input.form-control(type='text', placeholder='PIN', ng-model="capturaPin.Pin", onkeypress='return event.charCode >= 48 && event.charCode <= 57')
            .modal-footer
              button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-success(ng-click="asistenciaMaestro4(modificar._id, modificar)", data-dismiss='modal' ,ng-disabled="!capturaPin.Pin") Confirmar                     
                
          
  script(src='/js/modules/asistencia/asistencia.js')
  script(src='/js/services/asistencia.js')            