extends ../layout

block content
  #page-content-wrapper.rm-transition
    #page-content
      h2 Programación de pagos
      .divider
      .row
          .col-md-6
            h4 Nuevo concepto
          .col-md-6
            button.btn.btn-success(style="background-color:#646d72;border-color:#646d72;float:right;", data-toggle='modal', data-target='#myModalNuevoP') Nuevo proveedor
      .example-box-wrapper(style="margin-top:-15px;")
          .divider
          .row.hidden
              .col-md-4
                  .col-md-2
                      label(for='sel1') Filtrar por:
                  .col-md-10
                      input.form-control(type="text" placeholder="Criterio de busqueda")
              .col-md-4
                  .col-md-2
                      label(for='sel1') Estatus:
                  .col-md-10
                      select.form-control
                        option(value='volvo') Pagado
                        option(value='saab') Deudor
              .col-md-4
                  .col-md-2
                      label(for='sel1') Fecha:
                  .col-md-10
                      input.form-control(type="date" placeholder="Criterio de busqueda")            
          .row(style="overflow:scroll;overflow-y: hidden;margin-top:5px;")
              table.table.table-striped.table-bordered.table-hover(cellpadding='0', cellspacing='0', border='0')
                  thead
                    tr
                      th Categoría de gastos
                      th Descripción del servicio
                      th Proveedor
                      th Cantidad
                      th Forma de pago
                      th No. Cuenta
                      th Banco
                      th Periodo de pago
                      th Tipo de pago
                      th Días de crédito
                      th Duración del contrato
                      th Fecha de inicio
                      th Servicio al que corresponde
                  tbody
                    tr
                      td
                          select.form-control(style="width:139px;")
                            option(value='volvo') Mantenimiento
                            option(value='saab') Oficinas
                            option(value='saab') Renta
                      td Pago de papelería
                      td
                          select.form-control(style="width:139px;")
                            option(value='volvo') Office Depot
                            option(value='saab') LimpiezaMuyBien
                            option(value='saab') Proveedor 3
                      td $1200
                      td Transferencia
                      td 06506505
                      td
                          select.form-control(style="width:139px;")
                            option(value='volvo') Santander
                            option(value='saab') Bancomer
                            option(value='saab') Banorte
                      td
                          select.form-control(style="width:139px;")
                            option(value='volvo') Semanal
                            option(value='saab') Quicenal
                            option(value='saab') Mensual                    
                      td Item 1
                      td Item 1
                      td Item 1
                      td 10/10/17
                      td Oficina V
                    tr
                      td
                          select.form-control
                            option(value='volvo') Mantenimiento
                            option(value='saab') Oficinas
                            option(value='saab') Renta
                      td
                          input.form-control(type="text", style='border-color:white;', placeholder="-")
                      td
                          select.form-control
                            option(value='volvo') Office Depot
                            option(value='saab') LimpiezaMuyBien
                            option(value='saab') Proveedor 3
                      td
                          input.form-control(type="text", style='border-color:white;', placeholder="-")
                      td
                          input.form-control(type="text", style='border-color:white;', placeholder="-")
                      td
                          input.form-control(type="text", style='border-color:white;', placeholder="-")
                      td
                          select.form-control
                            option(value='volvo') Santander
                            option(value='saab') Bancomer
                            option(value='saab') Banorte
                      td
                          select.form-control
                            option(value='volvo') Semanal
                            option(value='saab') Quicenal
                            option(value='saab') Mensual                      
                      td
                          input.form-control(type="text", style='border-color:white;', placeholder="-")
                      td
                          input.form-control(type="text", style='border-color:white;', placeholder="-")
                      td
                          input.form-control(type="text", style='border-color:white;', placeholder="-")
                      td
                          input.form-control(type="date", style='border-color:white;', placeholder="-")
                      td
                          input.form-control(type="text", style='border-color:white;', placeholder="-")
          .row
              .col-md-12
                  button.btn.btn-success(style="background-color:#646d72;border-color:#646d72;float:right;") Agregar
                  
      #myModalNuevoP.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-lg(style="width:1300px;")
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Alta de proveedor para pago de servicio
            .modal-body
              form
                .row
                  table.table.table-striped.table-bordered.table-hover(cellpadding='0', cellspacing='0', border='0')
                      thead
                        tr
                          th Nombre
                          th Contacto
                          th Categoria de servicio
                          th Telefono
                          th Forma de pago
                          th Banco
                          th Correo
                      tbody
                        tr
                          td
                              input.form-control(type="text", style='border-color:white;', placeholder="-")
                          td
                              input.form-control(type="text", style='border-color:white;', placeholder="-")
                          td
                              select.form-control
                                option(value='volvo') Mantenimiento
                                option(value='saab') Oficinas
                                option(value='saab') Renta
                          td 
                              input.form-control(type="text", style='border-color:white;', placeholder="-")
                          td
                              input.form-control(type="text", style='border-color:white;', placeholder="-")
                          td
                              select.form-control
                                option(value='volvo') Santander
                                option(value='saab') Bancomer
                                option(value='saab') Banorte 
                          td
                              input.form-control(type="text", style='border-color:white;', placeholder="-")                              
            .modal-footer
              button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-success Agregar                   