extends ../layout

block content
  #page-content-wrapper.rm-transition
    #page-content
      h2 Control de egresos
      .divider
      h4 Concentrado de cuentas por pagar
      .example-box-wrapper
          .row
              a.btn.btn-success(style="background-color:#646d72;border-color:#646d72;", href="/egresos/concepto") Nuevo concepto
          .divider
          .row
              .col-md-4
                  .col-md-2
                      label(for='sel1') Filtrar por:
                  .col-md-10
                    .input-group
                      span.input-group-addon.bg-grey
                        i.glyph-icon.icon-search
                      input.form-control(type='text', placeholder='Criterio de busqueda')
              .col-md-4
                  .col-md-2
                      label(for='sel1') Estatus:
                  .col-md-10
                      select.form-control
                        option(value='volvo') Pagado
                        option(value='saab') Deudor
              .col-md-4
                  .col-md-2
                      label(for='sel1') Fecha:
                  .col-md-10
                      input.form-control(type="date" placeholder="Criterio de busqueda")            
          .row(style="overflow:scroll;overflow-y: hidden;margin-top:5px;")
              table.table.table-striped.table-bordered.table-hover(cellpadding='0', cellspacing='0', border='0')
                  thead
                    tr
                      th Consecutivo
                      th Categoría de gastos
                      th Descripción del servicio
                      th Proveedor
                      th Cantidad
                      th Forma de pago
                      th Num cuenta/Referencia depósito
                      th Banco
                      th Periodo de pago
                      th Tipo de pago
                      th Días de crédito
                      th Duración del contrato
                      th Fecha de inicio
                      th Servicio al que corresponde
                      th Estatus
                      th Comprobante/vale
                  tbody
                    tr
                      td 1
                      td Renta
                      td Domicilio fiscal
                      td IZA Bussiness
                      td $1200
                      td Transferencia
                      td 06506505
                      td Santander
                      td Mensual
                      td Item 1
                      td Item 1
                      td Item 1
                      td 10/10/17
                      td Oficina V
                      td Por pagar
                      td
                          a(href="#", style="margin-right:10px;")
                            span.glyph-icon.icon-cloud-upload.font-blue
                          
      #myModalIngreso.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Nuevo Ingreso
            .modal-body(style="padding:6px 34px;")
              form
                .row
                  table.table.table-striped.table-bordered.table-hover(cellpadding='0', cellspacing='0', border='0')
                      thead
                        tr
                          th Razón Social
                          th Cantidad
                          th Referencia de deposito
                          th Mes
                          th IVA
                      tbody
                        tr
                          td Tecnologia Ambiente Integral SA de CV
                          td
                              input.form-control(type="text", style='border-color:white;', placeholder="-")
                          td
                              input.form-control(type="text", style='border-color:white;', placeholder="-")
                          td 
                              input.form-control(type="text", style='border-color:white;', placeholder="-")
                          td 16%
            .modal-footer
              button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-success Ingresar            
              
      #myModalPagos.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Administrar pagos
            .modal-body(style="padding:6px 34px;")
              form
                .row
                  .col-md-6
                      label(for='sel1') Cliente: Tecnologia Ambiente SA de CV
                  .col-md-6
                      label(for='sel1') RFC: TAI-1914515-RAS
                .row
                  table.table.table-striped.table-bordered.table-hover(cellpadding='0', cellspacing='0', border='0')
                      thead
                        tr
                          th Periodo
                          th Estatus
                          th A pagar
                          th Descripción
                          th Monto
                          th Comprobante
                          th Saldo
                      tbody
                        tr
                          td Ene 18
                          td Pagado
                          td $3000
                          td Renta
                          td $3000
                          td Enlace
                          td $0
            .modal-footer
              button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cerrar
              
      #myModalEditar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Editar registro
            .modal-body
              form
                  .row
                    .col-md-6
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Razón social:
                        .row
                          input.form-control(type="text", placeholder="Razón social") 
                      .form-group
                        .row
                          label(for='modalEditarTelefono') RFC:
                        .row
                          input.form-control(type="text", placeholder="RFC")
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Renta:
                        .row
                          input.form-control(type="text", placeholder="Renta")                         
                      .form-group
                        .row
                          label(for='modalEditarTelefono') IVA:
                        .row
                          input.form-control(type="text", placeholder="IVA")
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Total pagado:
                        .row
                          input.form-control(type="text", placeholder="Total pagado")
                    .col-md-6
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Domicilio:
                        .row
                          input.form-control(type="text", placeholder="Domicilio")
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Periodo:
                        .row
                          input.form-control(type="text", placeholder="Periodo")
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Factura:
                        .row
                          input.form-control(type="text", placeholder="Factura")
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Total a pagar:
                        .row
                          input.form-control(type="text", placeholder="Total a pagar")   
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Estatus:
                        .row
                          select.form-control
                            option(value='volvo') Pagado
                            option(value='saab') Deudor                         
            .modal-footer
              button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-success Guardar                    