extends ../layout

block content
  section#content(ng-app="listaMaestros" ng-controller="listaMaestrosController")
    #page-content-wrapper.rm-transition
      #page-content
          h2 Control de maestros
          .example-box-wrapper
            .col-md-4
              button.btn.btn-primary(style="background-color:#646d72;border-color:#646d72;margin-top:20px;", data-toggle='modal', data-target='#myModalRegistrar', title="Registrar maestro")
                span.glyph-icon.icon-plus
                |  Nuevo Maestro         
            .col-md-4
              .row
                label(for='sel1') Filtrar por:
              .row
                .input-group
                  span.input-group-addon.bg-grey
                    i.glyph-icon.icon-search
                  input.form-control(type='text', placeholder='Criterio de busqueda', ng-model="filtro")             
            .col-md-4
          .example-box-wrapper(style="overflow:scroll; overflow-y: hidden;")
            table.table.table-striped.table-bordered.table-hover(cellpadding='0', cellspacing='0', border='0')
              thead
                tr
                  th Fecha de ingreso
                  th Nombre
                  th Franquicia
                  th Taller
                  th Teléfono
                  th Celular
                  th Email
                  th Código
                  th Estatus
                  th(colspan="2") ...
              tbody
                tr(ng-repeat="Maestro in lista | filter: filtro")   
                  td {{Maestro.FechaIng | date:'shortDate'}}
                  td {{Maestro.Nombre}} {{Maestro.Apellidos}}
                  td {{Maestro.franquicia}}
                  td {{Maestro.taller}}
                  td {{Maestro.Telefono}}
                  td {{Maestro.Celular}}
                  td {{Maestro.Email}}
                  td
                    img(src="https://chart.googleapis.com/chart?chs=80x80&cht=qr&chl={{Maestro.Nombre}}{{Maestro.Apellidos}}&choe=UTF-8")
                  td(ng-class="{rojo:Maestro.Estatus == 'Baja', verde:Maestro.Estatus == 'Activo'}") {{Maestro.Estatus}}
                  td(style='width:20px;')
                    button.btn.btn-primary(data-toggle='modal', data-target='#myModalEditar', title="Editar", ng-click="editar(Maestro)", style="background-color:blue;")
                      span.glyph-icon.icon-pencil
                  td(style='width:20px;')
                    button.btn.btn-default(data-toggle='modal', data-target='#myModalBaja', title="Dar de baja", ng-click="editar2(Maestro)", ng-hide="Maestro.Estatus=='Baja'")
                      span.glyph-icon.icon-remove
                    button.btn.btn-default(data-toggle='modal', data-target='#myModalBaja', title="Activar", ng-click="editar2(Maestro)", ng-hide="Maestro.Estatus=='Activo'")
                      span.glyph-icon.icon-refresh
                      
      #myModalRegistrar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-lg
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Nuevo Maestro
            form(ng-submit='registrarMaestro()')
              .modal-body
                 ul.nav.nav-pills
                   li.active
                     a(data-toggle='pill', href='#home') Datos Personales
                   li
                     a(data-toggle='pill', href='#menu1') Dirección
                   li
                     a(data-toggle='pill', href='#menu2') Contacto
                   li
                     a(data-toggle='pill', href='#menu3') Datos de Emergencia
                 .tab-content
                   #home.tab-pane.fade.in.active
                     br
                     .row
                       .col-md-3
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Fecha de ingreso: *
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-list
                              input.form-control(type='date', placeholder='Fecha de ingreso', ng-model="nuevoMaestro.FechaIng", required)
                       .col-md-3
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Nombre: *
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-list
                              input.form-control(type='text', placeholder='Nombre', ng-model="nuevoMaestro.Nombre", required)
                       .col-md-3
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Apellidos: *
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-list
                              input.form-control(type='text', placeholder='Apellidos', ng-model="nuevoMaestro.Apellidos",required)     
                       .col-md-3
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Fecha nacimiento: *
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-list
                              input.form-control(type='date', placeholder='Fecha de Nacimiento', ng-model="nuevoMaestro.FechaNac", required) 
                     .row
                       .col-md-3
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Edad: *
                          .row
                           .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-list
                              input.form-control(type='text', placeholder='Edad', ng-model="nuevoMaestro.Edad", onkeypress='return event.charCode >= 48 && event.charCode <= 57', required)  
                       .col-md-3
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Talleres: *
                          .row
                           .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-list
                              select.form-control(ng-model='nuevoMaestro.taller', required)
                                option(value='') Seleccione una Taller
                                option(ng-repeat='taller in lista3', value='{{taller.NombreTaller}}') {{taller.NombreTaller}}
                       .col-md-3
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Franquicia: *
                          .row
                           .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-list
                              select.form-control(ng-model='nuevoMaestro.franquicia', required)
                                option(value='') Seleccione una Franquicia
                                option(ng-repeat='franquicia in lista4', value='{{franquicia.Nombre}}') {{franquicia.Nombre}}
                   #menu1.tab-pane.fade
                     br
                     .row
                       .col-md-3
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Calle: *
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-map-marker
                              input.form-control(type='text', placeholder='Calle', ng-model="nuevoMaestro.Calle", required)
                       .col-md-3
                        .form-group
                          .row
                            label(for='modalEditarTelefono') No Ext: *
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-map-marker
                              input.form-control(type='text', placeholder='No Ext', ng-model="nuevoMaestro.NoExt", required)
                       .col-md-3
                        .form-group
                          .row
                            label(for='modalEditarTelefono') No Int:
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-map-marker
                              input.form-control(type='text', placeholder='No Int.', ng-model="nuevoMaestro.NoInt")
                       .col-md-3
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Colonia: *
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-map-marker
                              input.form-control(type='text', placeholder='Colonia', ng-model="nuevoMaestro.Colonia", required)   
                     .row
                       .col-md-3
                        .form-group
                          .row
                            label(for='modalEditarTelefono') C.P. : *
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-map-marker
                              input.form-control(type='text', placeholder='C.P.', ng-model="nuevoMaestro.Cp", onkeypress='return event.charCode >= 48 && event.charCode <= 57', required)
                       .col-md-3
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Delegación: *
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-map-marker
                              input.form-control(type='text', placeholder='Delegación', ng-model="nuevoMaestro.Delegacion", required) 
                       .col-md-3
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Entidad: *
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-map-marker                            
                              select.form-control(ng-model="nuevoMaestro.Entidad",required)
                                option(value='') Seleccionar entidad
                                option(value='Aguascalientes') Aguascalientes
                                option(value='Baja California') Baja California
                                option(value='Baja California Sur') Baja California Sur
                                option(value='Campeche') Campeche
                                option(value='Coahuila') Coahuila
                                option(value='Colima') Colima
                                option(value='Chiapas') Chiapas
                                option(value='Chihuahua') Chihuahua
                                option(value='Ciudad de mexico') Ciudad de mexico
                                option(value='Durango') Durango
                                option(value='Guanajuato') Guanajuato
                                option(value='Guerrero') Guerrero
                                option(value='Hidalgo') Hidalgo
                                option(value='Jalisco') Jalisco
                                option(value='Estado de Mexico') Estado de Mexico
                                option(value='Michoacan') Michoacán
                                option(value='Morelos') Morelos
                                option(value='Nayarit') Nayarit
                                option(value='Nuevo Leon') Nuevo León
                                option(value='Oaxaca') Oaxaca
                                option(value='Puebla') Puebla
                                option(value='Queretaro') Querétaro
                                option(value='Quintana Roo') Quintana Roo
                                option(value='San Luis Potosi') San Luis Potosí
                                option(value='Sinaloa') Sinaloa
                                option(value='Sonora') Sonora
                                option(value='Tabasco') Tabasco
                                option(value='Tamaulipas') Tamaulipas
                                option(value='Tlaxcala') Tlaxcala
                                option(value='Veracruz') Veracruz
                                option(value='Yucatan') Yucatán
                                option(value='Zacatecas') Zacatecas 
                   #menu2.tab-pane.fade
                     br
                     .row
                       .col-md-3
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Teléfono: *
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-phone
                              input.form-control(type='text', placeholder='Teléfono', ng-model="nuevoMaestro.Telefono", onkeypress='return event.charCode >= 48 && event.charCode <= 57', required) 
                       .col-md-3
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Celular: *
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-mobile
                              input.form-control(type='text', placeholder='Celuar', ng-model="nuevoMaestro.Celular", onkeypress='return event.charCode >= 48 && event.charCode <= 57', required) 
                       .col-md-3
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Email: *
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-envelope-o
                              input.form-control(type='text', placeholder='Email', ng-model="nuevoMaestro.Email", required)   
                   #menu3.tab-pane.fade
                     br
                     .row    
                       .col-md-3
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Contacto Emergencia: *
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-plus-square
                              input.form-control(type='text', placeholder='Contacto Emergencia', ng-model="nuevoMaestro.ContactoE", required) 
                       .col-md-3
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Telefeno Emergencia: *
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-phone
                              input.form-control(type='text', placeholder='Telefeno Emergencia', ng-model="nuevoMaestro.TelefonoE", onkeypress='return event.charCode >= 48 && event.charCode <= 57', required) 
                       .col-md-3
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Parentesco: *
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-list
                              input.form-control(type='text', placeholder='Parentesco', ng-model="nuevoMaestro.Parentesco", required)
                       .col-md-3
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Enfermedad: *
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-list
                              input.form-control(type='text', placeholder='Enfermedad', ng-model="nuevoMaestro.Enfermedad", required) 
                       .col-md-3
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Tratamiento: *
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-list
                              input.form-control(type='text', placeholder='Tratamiento', ng-model="nuevoMaestro.Tratamiento", required) 
                       .col-md-3
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Tipo de sangre: *
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-list                            
                              select.form-control(ng-model="nuevoMaestro.Sangre", required)
                                option(value='') Seleccionar tipo
                                option(value='AB+') AB+
                                option(value='AB-') AB-
                                option(value='A+') A+
                                option(value='A-') A-
                                option(value='B+') B+
                                option(value='B-') B-
                                option(value='O+') O+
                                option(value='O-') O-
                       .col-md-3
                        .form-group
                          .row
                            label(for='modalEditarTelefono') UMF: *
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-list
                              input.form-control(type='text', placeholder='UMF', ng-model="nuevoMaestro.Umf", required)   
              .modal-footer
                span
                    | (*) Campos Obligatorios
                button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
                button.btn.btn-success(type="submit") Registrar        
                //{{nuevoMaestro}}  
              
      #myModalEditar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-lg
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Editar maestro: {{modificar.Nombre}}
            .modal-body
                 ul.nav.nav-pills
                   li.active
                     a(data-toggle='pill', href='#homeE') Datos Personales
                   li
                     a(data-toggle='pill', href='#menu1E') Dirección
                   li
                     a(data-toggle='pill', href='#menu2E') Contacto
                   li
                     a(data-toggle='pill', href='#menu3E') Datos de Emergencia
                 .tab-content
                   #homeE.tab-pane.fade.in.active
                      br
                      .row
                        .col-md-3
                          .form-group
                            .row
                              label(for='modalEditarTelefono') Fecha de ingreso:
                            .row
                              .input-group
                                span.input-group-addon.bg-grey
                                  i.glyph-icon.icon-list
                                input.form-control(type='date', placeholder='Fecha de ingreso', ng-model="modificar.FechaIng")
                        .col-md-3
                          .form-group
                            .row
                              label(for='modalEditarTelefono') Nombre:
                            .row
                              .input-group
                                span.input-group-addon.bg-grey
                                  i.glyph-icon.icon-list
                                input.form-control(type='text', placeholder='Nombre', ng-model="modificar.Nombre") 
                        .col-md-3
                          .form-group
                            .row
                              label(for='modalEditarTelefono') Apellidos:
                            .row
                              .input-group
                                span.input-group-addon.bg-grey
                                  i.glyph-icon.icon-list
                                input.form-control(type='text', placeholder='Apellidos', ng-model="modificar.Apellidos")     
                        .col-md-3
                          .form-group
                            .row
                              label(for='modalEditarTelefono') Fecha nacimiento:
                            .row
                              .input-group
                                span.input-group-addon.bg-grey
                                  i.glyph-icon.icon-list
                                input.form-control(type='date', placeholder='Fecha de Nacimiento', ng-model="modificar.FechaNac")   
                        .col-md-3
                          .form-group
                            .row
                              label(for='modalEditarTelefono') Edad:
                            .row
                              .input-group
                                span.input-group-addon.bg-grey
                                  i.glyph-icon.icon-list
                                input.form-control(type='text', placeholder='Edad', ng-model="modificar.Edad", onkeypress='return event.charCode >= 48 && event.charCode <= 57')
                        .col-md-3
                          .form-group
                            .row
                              label(for='modalEditarTelefono') Talleres: *
                            .row
                              .input-group
                                span.input-group-addon.bg-grey
                                  i.glyph-icon.icon-list
                                select.form-control(ng-model='modificar.taller', required)
                                  option(value='') Seleccione una Taller
                                  option(ng-repeat='taller in lista3', value='{{taller.NombreTaller}}') {{taller.NombreTaller}}
                        .col-md-3
                          .form-group
                            .row
                              label(for='modalEditarTelefono') Franquicia: *
                            .row
                              .input-group
                                span.input-group-addon.bg-grey
                                  i.glyph-icon.icon-list
                                select.form-control(ng-model='modificar.franquicia', required)
                                  option(value='') Seleccione una Franquicia
                                  option(ng-repeat='franquicia in lista4', value='{{franquicia.Nombre}}') {{franquicia.Nombre}}
                   #menu1E.tab-pane.fade
                      br
                      .row
                        .col-md-3
                          .form-group
                            .row
                              label(for='modalEditarTelefono') Calle:
                            .row
                              .input-group
                                span.input-group-addon.bg-grey
                                  i.glyph-icon.icon-map-marker
                                input.form-control(type='text', placeholder='Calle', ng-model="modificar.Calle")
                        .col-md-3
                          .form-group
                            .row
                              label(for='modalEditarTelefono') No Ext:
                            .row
                              .input-group
                                span.input-group-addon.bg-grey
                                  i.glyph-icon.icon-map-marker
                                input.form-control(type='text', placeholder='No Ext', ng-model="modificar.NoExt", onkeypress='return event.charCode >= 48 && event.charCode <= 57')
                        .col-md-3
                          .form-group
                            .row
                              label(for='modalEditarTelefono') No Int:
                            .row
                              .input-group
                                span.input-group-addon.bg-grey
                                  i.glyph-icon.icon-map-marker
                                input.form-control(type='text', placeholder='No Int.', ng-model="modificar.NoInt")
                        .col-md-3
                          .form-group
                            .row
                              label(for='modalEditarTelefono') Colonia:
                            .row
                              .input-group
                                span.input-group-addon.bg-grey
                                  i.glyph-icon.icon-map-marker
                                input.form-control(type='text', placeholder='Colonia', ng-model="modificar.Colonia")   
                        .col-md-3
                          .form-group
                            .row
                              label(for='modalEditarTelefono') C.P.:
                            .row
                              .input-group
                                span.input-group-addon.bg-grey
                                  i.glyph-icon.icon-map-marker
                                input.form-control(type='text', placeholder='C.P.', ng-model="modificar.Cp", onkeypress='return event.charCode >= 48 && event.charCode <= 57')
                        .col-md-3
                          .form-group
                            .row
                              label(for='modalEditarTelefono') Delegación:
                            .row
                              .input-group
                                span.input-group-addon.bg-grey
                                  i.glyph-icon.icon-map-marker
                                input.form-control(type='text', placeholder='Delegación', ng-model="modificar.Delegacion") 
                        .col-md-3
                          .form-group
                            .row
                              label(for='modalEditarTelefono') Entidad:
                            .row
                              .input-group
                                span.input-group-addon.bg-grey
                                  i.glyph-icon.icon-map-marker
                                select.form-control(ng-model="modificar.Entidad")
                                  option(value='') Seleccionar entidad
                                  option(value='Aguascalientes') Aguascalientes
                                  option(value='Baja California') Baja California
                                  option(value='Baja California Sur') Baja California Sur
                                  option(value='Campeche') Campeche
                                  option(value='Coahuila') Coahuila
                                  option(value='Colima') Colima
                                  option(value='Chiapas') Chiapas
                                  option(value='Chihuahua') Chihuahua
                                  option(value='Ciudad de mexico') Ciudad de mexico
                                  option(value='Durango') Durango
                                  option(value='Guanajuato') Guanajuato
                                  option(value='Guerrero') Guerrero
                                  option(value='Hidalgo') Hidalgo
                                  option(value='Jalisco') Jalisco
                                  option(value='Estado de Mexico') Estado de Mexico
                                  option(value='Michoacan') Michoacán
                                  option(value='Morelos') Morelos
                                  option(value='Nayarit') Nayarit
                                  option(value='Nuevo Leon') Nuevo León
                                  option(value='Oaxaca') Oaxaca
                                  option(value='Puebla') Puebla
                                  option(value='Queretaro') Querétaro
                                  option(value='Quintana Roo') Quintana Roo
                                  option(value='San Luis Potosi') San Luis Potosí
                                  option(value='Sinaloa') Sinaloa
                                  option(value='Sonora') Sonora
                                  option(value='Tabasco') Tabasco
                                  option(value='Tamaulipas') Tamaulipas
                                  option(value='Tlaxcala') Tlaxcala
                                  option(value='Veracruz') Veracruz
                                  option(value='Yucatan') Yucatán
                                  option(value='Zacatecas') Zacatecas  
                   #menu2E.tab-pane.fade
                      br
                      .row
                        .col-md-3
                          .form-group
                            .row
                              label(for='modalEditarTelefono') Teléfono:
                            .row
                              .input-group
                                span.input-group-addon.bg-grey
                                  i.glyph-icon.icon-phone
                                input.form-control(type='text', placeholder='Teléfono', ng-model="modificar.Telefono", onkeypress='return event.charCode >= 48 && event.charCode <= 57') 
                        .col-md-3
                          .form-group
                            .row
                              label(for='modalEditarTelefono') Celular:
                            .row
                              .input-group
                                span.input-group-addon.bg-grey
                                  i.glyph-icon.icon-mobile
                                input.form-control(type='text', placeholder='Celular', ng-model="modificar.Celular", onkeypress='return event.charCode >= 48 && event.charCode <= 57') 
                        .col-md-3
                          .form-group
                            .row
                              label(for='modalEditarTelefono') Email:
                            .row
                              .input-group
                                span.input-group-addon.bg-grey
                                  i.glyph-icon.icon-envelope-o
                                input.form-control(type='text', placeholder='Email', ng-model="modificar.Email")
                   #menu3E.tab-pane.fade
                      br
                      .row
                        .col-md-12
                          label(for='modalEditarTelefono') Datos de emergencia:
                      .divider                  
                      .row    
                        .col-md-3
                          .form-group
                            .row
                              label(for='modalEditarTelefono') Contacto Emergencia:
                            .row
                              .input-group
                                span.input-group-addon.bg-grey
                                  i.glyph-icon.icon-plus-square
                                input.form-control(type='text', placeholder='Contacto Emergencia', ng-model="modificar.ContactoE") 
                        .col-md-3
                          .form-group
                            .row
                              label(for='modalEditarTelefono') Telefeno Emergencia:
                            .row
                              .input-group
                                span.input-group-addon.bg-grey
                                  i.glyph-icon.icon-phone
                                input.form-control(type='text', placeholder='Telefeno Emergencia', ng-model="modificar.TelefonoE", onkeypress='return event.charCode >= 48 && event.charCode <= 57') 
                        .col-md-3
                          .form-group
                            .row
                              label(for='modalEditarTelefono') Parentesco:
                            .row
                              .input-group
                                span.input-group-addon.bg-grey
                                  i.glyph-icon.icon-list
                                input.form-control(type='text', placeholder='Parentesco', ng-model="modificar.Parentesco")
                        .col-md-3
                          .form-group
                            .row
                              label(for='modalEditarTelefono') Enfermedad:
                            .row
                              .input-group
                                span.input-group-addon.bg-grey
                                  i.glyph-icon.icon-list
                                input.form-control(type='text', placeholder='Enfermedad', ng-model="modificar.Enfermedad") 
                        .col-md-3
                          .form-group
                            .row
                              label(for='modalEditarTelefono') Tratamiento:
                            .row
                              .input-group
                                span.input-group-addon.bg-grey
                                  i.glyph-icon.icon-list
                                input.form-control(type='text', placeholder='Tratamiento', ng-model="modificar.Tratamiento") 
                        .col-md-3
                          .form-group
                            .row
                              label(for='modalEditarTelefono') Tipo de sangre:
                            .row
                              .input-group
                                span.input-group-addon.bg-grey
                                  i.glyph-icon.icon-list
                                select.form-control(ng-model="modificar.Sangre")
                                  option(value='') Seleccionar tipo
                                  option(value='AB+') AB+
                                  option(value='AB-') AB-
                                  option(value='A+') A+
                                  option(value='A-') A-
                                  option(value='B+') B+
                                  option(value='B-') B-
                                  option(value='O+') O+
                                  option(value='O-') O-
                        .col-md-3
                          .form-group
                            .row
                              label(for='modalEditarTelefono') UMF:
                            .row
                              .input-group
                                span.input-group-addon.bg-grey
                                  i.glyph-icon.icon-list
                                input.form-control(type='text', placeholder='UMF', ng-model="modificar.Umf")                               
            .modal-footer
              button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-success(ng-click="actualizarMaestro(modificar._id, modificar)", data-dismiss='modal' ,ng-disabled="!modificar.FechaIng || !modificar.Nombre || !modificar.Apellidos || !modificar.FechaNac || !modificar.Edad || !modificar.Calle || !modificar.NoExt || !modificar.Colonia || !modificar.Cp || !modificar.Delegacion || !modificar.Entidad || !modificar.Telefono || !modificar.Email || !modificar.ContactoE || !modificar.TelefonoE || !modificar.Parentesco || !modificar.Enfermedad || !modificar.Tratamiento || !modificar.Sangre || !modificar.Umf") Guardar                      
              //{{modificar}}  
              
      #myModalBaja.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title(ng-hide="modificar2.Estatus=='Baja'") Dar de baja al maestro: {{modificar2.Nombre}}
              h4.modal-title(ng-hide="modificar2.Estatus=='Activo'") Activar al maestro: {{modificar2.Nombre}}
            .modal-body
              form
                  .row
                    .col-md-12
                      .form-group
                        .row
                          label(for='modalEditarTelefono' ng-hide="modificar2.Estatus=='Baja'") Motivo de la baja:
                          label(for='modalEditarTelefono' ng-hide="modificar2.Estatus=='Activo'") Motivo de activación:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-list
                            input.form-control(type='text', placeholder='Nombre', ng-model="modificar2.ComentarBaja")
                        .row
                          div(style="overflow:scroll; max-height:150px;overflow-x: hidden;margin-top:5px;")
                            table.table
                              thead
                                tr
                                  th Fecha
                                  th.hidden Empleado
                                  th Comentario
                              tbody
                                tr(ng-repeat="Historial in modificar3")
                                  td {{Historial.Fecha | date:'medium'}}
                                  td {{Historial.Comentario}}                        
            .modal-footer
              button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-success(ng-click="actualizarMaestroBaja(modificar2._id, modificar2)", data-dismiss='modal' ,ng-disabled="!modificar2.ComentarBaja", ng-hide="modificar2.Estatus=='Baja'") Dar de baja
              button.btn.btn-success(ng-click="actualizarMaestroActivar(modificar2._id, modificar2)", data-dismiss='modal' ,ng-disabled="!modificar2.ComentarBaja", ng-hide="modificar2.Estatus=='Activo'") Activar maestro    
              //{{modificar}}               
          
  script(src='/js/modules/maestros/maestros.js')
  script(src='/js/services/maestros.js')      