extends ../layout

block content
  section#content(ng-app="listaSolicitudes" ng-controller="listaSolicitudesController")
    .page
      .pageheader
        h2
          | Mesa de Ayuda 
          span // Mesa de Ayuda
        
      // /.pageheader
      .row
                        a.btn.btn-success(href='/mesaAyuda/nuevaSolicitud')
                          i.fa.fa-plus
                          span  Nueva Solicitud

    h2.text-center Solicitudes Registradas
    .well.well-lg
      .table-responsive
        table.table.table-bordered
          thead
            tr
              th Fecha
              th Empleado
              th Solicitud
              th Nomina
              th Periodo
              th Estatus
              th Comentarios
              th(colspan="2") Opciones
          tbody
            tr(ng-repeat="Solicitud in lista")
              td {{Solicitud.Comentarios[0].Fecha|date:'medium'}}
              td {{Solicitud.Empleado}}
              td {{Solicitud.Solicitud}}
              td {{Solicitud.Nomina}}
              td {{Solicitud.Periodo}}
              td(class="solicitud{{Solicitud.Estatus}}") {{Solicitud.Estatus}}
              td {{Solicitud.Comentarios[0].Comentario}}
              td  
                  button.btn.btn-primary.btn-sm(type='button', data-toggle='modal', data-target='#myModal' ng-click="editar(Solicitud)")  Editar
              td    
                  button.btn.btn-danger.btn-sm(type='button', ng-click="borrarSolicitud(Solicitud._id)")  Eliminar
                    
              
         //h3 Lista - {{lista}}
         
      // Modales
      #Modales
      .modal.fade(id='myModal',tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4#myModalLabel.modal-title Editar Solicitud de {{modificar.Empleado}}
            .modal-body
            table.table
              thead
                tr
                  th Fecha
                  th Empleado
                  th Comentario
              tbody
                tr
                  td {{modificar.Comentarios[0].Fecha | date:'medium'}}
                  td {{modificar.Empleado}}
                  td {{modificar.Comentarios[0].Comentario}}
            form.form-group
              //label Tipo de Solicitud:
              input.form-control(type='hidden', name='Solicitud', ng-model='modificar.Solicitud')
              //label Nomina:
              input.form-control(type='hidden', name='Nomina', ng-model='modificar.Nomina')
              //label Periodo:
              input.form-control(type='hidden', name='Periodo', ng-model='modificar.Periodo')
              //label Estatus:
              input.form-control(type='hidden', name='Estatus', ng-model='modificar.Estatus')
              label Comentario:
              input.form-control(type='text', name='Comentario', ng-model='modificar.Comentarios[0].Comentario')
            .modal-footer
              button.btn.btn-danger(type='button', data-dismiss='modal') Cerrar Ventana
              button.btn.btn-primary(type='button', data-dismiss='modal' ng-click="actualizarSolicitud(modificar._id, modificar)") COMENTAR
              button.btn.btn-success(type='button', data-dismiss='modal' ng-click="aprobarSolicitud(modificar._id, modificar)") APROBAR
              button.btn.btn-danger(type='button', data-dismiss='modal' ng-click="rechazarSolicitud(modificar._id, modificar)") RECHAZAR
              //{{modificar}}


      // /.row
    // /.page
    
  script(src='/js/modules/solicitudAyuda/listaSolicitudes.js')
  script(src='/js/services/solicitudAyuda.js')