extends ../layout

block content
  section#content(ng-app="nuevaSolicitud" ng-controller="nuevaSolicitudController")
    .page
      .pageheader
        h2
          | Mesa de Ayuda 
          span // Nueva Solicitud

      // /.pageheader
      .row

    h2.text-center
     |Formato de Solicitud
    .col-lg-2
    .col-lg-8
      form.form-group
        label(for='sel1') Tipo de Solicitud
        //select.form-control(ng-model='selectedTipo', ng-options="Tipo as Tipo.Name for Tipo in Tipos | orderBy:'Name'")
        input.form-control(type='text', ng-model='nuevaSolicitudModel.Solicitud', required='')
        
        label(for='sel1') Nómina
        //select.form-control(ng-change='SetPeriodosEmpleados();', ng-model='selectedNomina', ng-options="Nomina as Nomina.Name for Nomina in Nominas | orderBy:'Name'")
        input.form-control(type='text', ng-model='nuevaSolicitudModel.Nomina', required='')
        
        label(for='sel1') Período
        //select.form-control(ng-change='filterempleados();', ng-model='selectedPeriodo', ng-options="Periodo as Periodo.Periodo for Periodo in Periodos | orderBy:'Periodo'")
        input.form-control(type='text', ng-model='nuevaSolicitudModel.Periodo', required='')
        
        label(for='sel1') Empleado
        //select.form-control(ng-change='filterempleados();', ng-model='selectedEmpleado', ng-options="Empleado as Empleado.NombreCompleto for Empleado in Empleados | orderBy:'NombreCompleto'")
        input.form-control(type='text', ng-model='nuevaSolicitudModel.Empleado', required='')
        
        //label(for='sel1') Estatus
        //select.form-control(ng-change='filterempleados();', ng-model='selectedEmpleado', ng-options="Empleado as Empleado.NombreCompleto for Empleado in Empleados | orderBy:'NombreCompleto'")
        //input.form-control(type='text', ng-model='nuevaSolicitudModel.Estatus')
        
        //{{nuevaSolicitudModel}}
        .form-group
          p
            br
          label(for='comment') Comentarios:
          //textarea#comment.form-control(ng-model='txtComentarios', rows='5', placeholder='Comentar')
          input.form-control(type='text', ng-model='nuevaSolicitudModel.Comentario', required='')
          
        .aliniar_boton
          button.btn.btn-success(ng-show="Perfil.NuevaSolicitud!='N' && Perfil.NuevaSolicitud!='V'", ng-click='AddSolicitud();', type='submit')  Enviar Solicitud
    .col-lg-2

                  


      // /.row
    // /.page
  script(src='/js/modules/solicitudAyuda/nuevaSolicitud.js')
  script(src='/js/services/solicitudAyuda.js')