doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title +Arte - Login
    link(rel='icon', type='image/ico', href='/images/favicon.ico')
    meta(name='description', content='Ptree')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // libs css files
    link(rel='stylesheet', href='/css/vendor/bootstrap.min.css')
    link(rel='stylesheet', href='/css/vendor/animate.css')
    link(rel='stylesheet', href='/css/vendor/font-awesome.min.css')
    link(rel='stylesheet', href='/js/vendor/animsition/css/animsition.min.css')
    //
      ============================================
      ============== Custom CSS =======================
      =============================================
    link(rel='stylesheet', href='/css/main.css')
    // / stylesheets
    //
      ==========================================
      ================= Modernizr ===================
      ===========================================
    script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
    // / modernizr
  body#minovate.appWrapper(style="background-image:url('/images/fondologin.png');background-repeat:no-repeat;background-position:absoute;background-size:100%;")
    #wrap.animsition
      .page.page-core.page-login(style="padding-top:5px;")
        .text-center(style="margin-top:20px;margin-bottom:-22px;")
          //h3.hidden.text-light.text-white Comanesp
          //img(src='/images/+artelogo.png' style="width:15%")
        .container.w-420.p-15.mt-40.text-center
          h2.text-light.text-greensea.text-white Acceso
          form.form-validation.mt-20(action='/auth/local', name='form', novalidate='' method='post')
            .form-group
              input.form-control(type='text', placeholder='Usuario', name='username')
            .form-group
              input.form-control(type='password', placeholder='Password', name='password')
            .form-group.text-left.mt-20
              button.btn.btn-block.btn-greensea.b-0.br-2.mr-5(type='submit') Ingresar
              a.hidden.pull-right.mt-10(href='forgotpass.html') Olvido su contraseña?
          hr.b-3x
          a.btn.btn-greensea.b-0.br-2.mr-5.hidden(href='/auth/google') Ingresar con Google
          //.bg-slategray.lt.wrap-reset.mt-40
            p.m-0.hidden
              a.text-uppercase(href='/users/new') Crear una Cuenta
    // / Application Content
    // / libs javascripts
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='/js/vendor/bootstrap/bootstrap.min.js')
    script(src='/js/vendor/jRespond/jRespond.min.js')
    script(src='/js/vendor/slimscroll/jquery.slimscroll.min.js')
    script(src='/js/vendor/animsition/js/jquery.animsition.min.js')
    //
      ============================================
      ============== Custom JavaScripts ===============
      =============================================
    script(src='/js/main.js')