extends ../layout

block content
  #page-content-wrapper.rm-transition
    #page-content
      h2 Diferencia aaaa - aaaa
      .divider
      .example-box-wrapper
          .row
              table.table.table-striped.table-bordered.table-hover(cellpadding='0', cellspacing='0', border='0')
                  thead
                    tr
                      th Servicios
                      th Ene-Plan
                      th Ene-Real
                      th Feb-Plan
                      th Feb-Real
                      th Mar-Plan
                      th Mar-Real
                      th Abr-Plan
                      th Abr-Real
                      th May-Plan
                  tbody
                    tr
                      td Subarrendamientos
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                    tr
                      td Luz, telefono, Internet, Correo
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                    
                    tr
                      td Estacionamiento
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                   
                    tr
                      td Servicios insumos(cafetería, limpieza, papeleria)
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                 
                    tr
                      td Mantenimiento Oficinas
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                    
                    tr
                      td Mantenimiento Instalaciones
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                   
                    tr
                      td Publicidad
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                   
                    tr
                      td Contabilidad
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                
                    tr
                      td Nomina
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                   
                    tr
                      td Seguro empresa
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                   
                    tr
                      td Otros pagos
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                    
                    tr
                      td Diferencia total servicios por mes
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                   
                    tr
                      td Diferencia total servicios por año
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")  
          .row
              a.btn.btn-success(style="background-color:#646d72;border-color:#646d72;", href="/presupuesto") Regresar                      