extends ../layout

block content
  #page-content-wrapper.rm-transition
    #page-content
      h2 Asignación de participación de gastos
      .divider
      .example-box-wrapper
        ul#myTab.nav.clearfix.nav-tabs
          li.active
            a(href='#home', data-toggle='tab') Gastos Fijos
          li
            a(href='#profile', data-toggle='tab') Gastos Variables
        #myTabContent.tab-content
          #home.tab-pane.fade.active.in
              .row
                  table.table.table-striped.table-bordered.table-hover(cellpadding='0', cellspacing='0', border='0')
                      thead
                        tr
                          th
                          th Renta de inmueble
                          th Subarrendamiento
                          th Estacionamiento
                          th Seguro empresa
                          th Luz, teléfono, internet
                          th Limpieza
                          th Contabilidad
                          th Nómina
                          th Otros pagos
                          th Total
                      tbody
                        tr
                          td(style='color:white;background-color:black;') Oficina virtual
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="100%")                      
                        tr
                          td(style='color:white;background-color:black;') Oficina fisica
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="100%")                      
                        tr
                          td(style='color:white;background-color:black;') Co-work
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="100%")                      
                        tr
                          td(style='color:white;background-color:black;') Renta
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")  
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="100%")          
          #profile.tab-pane.fade
              .row
                  table.table.table-striped.table-bordered.table-hover(cellpadding='0', cellspacing='0', border='0')
                      thead
                        tr
                          th
                          th Mantenimiento oficinas
                          th Mantenimiento instalaciones
                          th Publicidad para eventos
                          th Cafetería
                          th Papeleria
                          th Luz
                          th Otros Servicios
                          th Total
                      tbody
                        tr
                          td(style='color:white;background-color:black;') Oficina virtual
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="100%")                      
                        tr
                          td(style='color:white;background-color:black;') Oficina fisica
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="100%")                      
                        tr
                          td(style='color:white;background-color:black;') Co-work
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="100%")                      
                        tr
                          td(style='color:white;background-color:black;') Renta
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="%")  
                          td
                            input.form-control(type="text", style='border-color:white;', placeholder="100%")          
          .row
              .col-md-4
              .col-md-4
              .col-md-4
                  .col-md-4
                      a.btn.btn-success(style="background-color:#646d72;border-color:#646d72;", href="/presupuesto") Agregar Servicio
                  .col-md-4(style="text-align:center;")
                      a.btn.btn-success(style="background-color:#646d72;border-color:#646d72;", href="/presupuesto") Modificar
                  .col-md-4
                      a.btn.btn-success(style="background-color:#646d72;border-color:#646d72;", href="/presupuesto") Aceptar