extends ../layout

block content
  #page-content-wrapper.rm-transition
    #page-content
      h2 Control de presupuesto
      .divider
      .example-box-wrapper
          .row
              .col-md-2
                a.btn.btn-success(style="background-color:#646d72;border-color:#646d72;", data-toggle='modal', href="/presupuesto/proyeccion") Nueva proyección
              .col-md-5
                .col-md-3
                  label(for='sel1') Comparativos:
                .col-md-3
                  select.form-control
                    option(value='volvo') 2017
                    option(value='saab') 2016
                    option(value='mercedes') 2017
                    option(value='audi') 2018                
                .col-md-3
                  select.form-control
                    option(value='volvo') 2017
                    option(value='saab') 2016
                    option(value='mercedes') 2017
                    option(value='audi') 2018    
                .col-md-3
                  a.btn.btn-success(style="background-color:#646d72;border-color:#646d72;", data-toggle='modal', href="/presupuesto/comparativo") Ver...                
              .col-md-5
                a.btn.btn-success(style="background-color:#646d72;border-color:#646d72;float:right;", href="/presupuesto/participacion") Participación de Ingresos/Egresos
          .divider
          .row
              table.table.table-striped.table-bordered.table-hover(cellpadding='0', cellspacing='0', border='0')
                  thead
                    tr
                      th Servicios
                      th Ene-Plan
                      th Ene-Real
                      th Feb-Plan
                      th Feb-Real
                      th Mar-Plan
                      th Mar-Real
                      th Abr-Plan
                      th Abr-Real
                      th Acumulado real del servicio
                  tbody
                    tr
                      td Subarrendamientos
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                    tr
                      td Luz, telefono, Internet, Correo
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                    
                    tr
                      td Estacionamiento
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                   
                    tr
                      td Servicios insumos(cafetería, limpieza, papeleria)
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                 
                    tr
                      td Mantenimiento Oficinas
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                    
                    tr
                      td Mantenimiento Instalaciones
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                   
                    tr
                      td Publicidad
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                   
                    tr
                      td Contabilidad
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                
                    tr
                      td Nomina
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                   
                    tr
                      td Seguro empresa
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                   
                    tr
                      td Otros pagos
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                    
                    tr
                      td Total servicios por mes
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                   
                    tr
                      td Acumulado real de servicios al año
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                  