extends ../layout

block content
  #page-content-wrapper.rm-transition
    #page-content
      h2 Proyección 2018
      .divider
      .example-box-wrapper
          .row
              table.table.table-striped.table-bordered.table-hover(cellpadding='0', cellspacing='0', border='0')
                  thead
                    tr
                      th Servicios
                      th Ene
                      th Feb
                      th Mar
                      th Abr
                      th May
                      th Jun
                      th Jul
                      th Ago
                      th Sep
                      th Oct
                      th Nov
                      th Dic
                  tbody
                    tr
                      td Subarrendamientos
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                      
                    tr
                      td Luz, telefono, Internet, Correo
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                    
                    tr
                      td Estacionamiento
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                   
                    tr
                      td Servicios insumos(cafetería, limpieza, papeleria)
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                  
                    tr
                      td Mantenimiento Oficinas
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                    
                    tr
                      td Mantenimiento Instalaciones
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                   
                    tr
                      td Publicidad
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                    
                    tr
                      td Contabilidad
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                 
                    tr
                      td Nomina
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                   
                    tr
                      td Seguro empresa
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                    
                    tr
                      td Otros pagos
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                  
                    tr
                      td Total servicios por mes
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")                    
                    tr
                      td Total Servicios 2018
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")
                      td
                        input.form-control(type="text", style='border-color:white;', placeholder="$")  
          .row
              button.btn.btn-success(style="background-color:#646d72;border-color:#646d72;") Aceptar