extends ../layout

block content
  section#content
    .page
      .pageheader
        h2
          | Historial de Incidencias 
          span // Registro de todas las Incidencias efectuadas en el sistema 
        .page-bar
          ul.page-breadcrumb
            li
              a(href='#')
                i.fa.fa-flag-o
                |  Incidencias
            li
              a(href='#') Historial de Incidencias 
        // /.page-bar
      // /.pageheader
      .row
        .col-md-12
          section.tile.tile-simple
            // tile header
            .tile-header.dvd.dvd-btm
              h1.custom-font
                | Historial de 
                strong  Importacion
            // /tile header
            // tile widget
            .tile-widget.p-30.text-center
              .row
                .tile-body.table-custom
                  table.table
                    thead
                      tr
                        th Fecha
                        th Usuario
                        th Centro de Costos
                        th Empresa
                        th Archivo
                    tbody
                      tr.active
                        td 20/11/2016
                        td
                          strong Pedro Molteni
                        td Centro de costos 1
                        td Empresa 1
                        td
                          a(href='') archivo.xls
                      tr.active
                        td 10/11/2016
                        td
                          strong Julio Sanchez
                        td Centro de costos 1.
                        td Empresa 2
                        td
                          a(href='') archivo2.xls
                      tr.active
                        td 22/10/2016
                        td
                          strong Pedro Molteni
                        td Centro de costos 2
                        td Empresa 2
                        td
                          a(href='') archivo3.xls
                      tr.active
                        td 20/08/2016
                        td
                          strong Julio Sanchez
                        td Centro de costos 2
                        td Empresa 3
                        td
                          a(href='') archivo4.xls
              // /.row
            // /tile widget
            // tile body
        // /.col-md-12
      // /row
    // /.page
  // / CONTENT