doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Inexs - Actualización de Password
    link(rel='icon', type='image/ico', href='/images/favicon.ico')
    meta(name='description', content='Ptree')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // libs css files
    link(rel='stylesheet', href='/css/vendor/bootstrap.min.css')
    link(rel='stylesheet', href='/css/vendor/animate.css')
    link(rel='stylesheet', href='/css/vendor/font-awesome.min.css')
    link(rel='stylesheet', href='/js/vendor/animsition/css/animsition.min.css')
    //
      ============================================
      ============== Custom CSS =======================
      =============================================
    link(rel='stylesheet', href='/css/main.css')
    // / stylesheets
    //
      ==========================================
      ================= Modernizr ===================
      ===========================================
    script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js')
    // / modernizr
  body#minovate.appWrapper(ng-app="actualizarPasswordModule" ng-controller="actualizarPassword")
    actualizar-password
    
    // / Application Content
    // / libs javascripts
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='/js/vendor/bootstrap/bootstrap.min.js')
    script(src='/js/vendor/jRespond/jRespond.min.js')
    script(src='/js/vendor/slimscroll/jquery.slimscroll.min.js')
    script(src='/js/vendor/animsition/js/jquery.animsition.min.js')
    //
      ============================================
      ============== Custom JavaScripts ===============
      =============================================
    script(src='/js/main.js')
    script(src='/js/modules/user/actualizarPassword.js')
    script(src='/js/components/user/actualizarPassword.js')
    script(src='/js/services/user.js')
    script(src='/js/components/generales.js')
    script(src='/js/services/generales.js')