extends ../layout

block content
  section#content(ng-app="list" ng-controller="listaUsersController" style='left:0;right:0;')
    #page-content-wrapper.rm-transition
      #page-content
        h2 Control de usuarios
        .example-box-wrapper
          row
          div.col-md-2
            a.btn.btn-success(href="/ctrlempresas/altaUsuario") Nuevo Usuario
          div.col-md-4
            h3(for='sel1', style="float:right;") Busqueda:
          div.col-md-4
            .input-group
              span.input-group-addon.bg-grey
                i.glyph-icon.icon-search
              input.form-control(type='text', placeholder='Criterio de busqueda', ng-model="filtroNombre")
          div.col-md-2
        .example-box-wrapper
          table.table.table-striped.table-bordered.table-hover(cellpadding='0', cellspacing='0', border='0')
              thead
                tr
                  th Nombre
                  th Email
                  th Franquicia
                  th Rol
                  th(colspan="4") Ajustes
              tbody
                tr(ng-repeat="Usuario in lista | filter: filtroNombre")
                  td {{Usuario.name}}
                  td {{Usuario.email}}
                  td {{Usuario.properties.nombreFranq}}
                  td(ng-show="{{Usuario.role}} == 1") Administrador
                  td(ng-show="{{Usuario.role}} == 2") Usuario
                  td(ng-show="{{Usuario.role}} == 3") Franquiciatario
                  td(ng-show="{{Usuario.role}} == 4") Implementador                  
                  td.hidden {{Usuario.role}} 
                  td  
                      button.btn.btn-primary.btn-sm(type='button', data-toggle='modal', data-target='#myModal' ng-click="editar(Usuario)")  Cambiar Rol
                  td
                      button.btn.btn-warning.btn-sm(type='button', data-toggle='modal', data-target='#myModalPass' ng-click="editarPass(Usuario)")  Cambiar Password
                  td
                      button.btn.btn-secondary.btn-sm(type='button', data-toggle='modal', data-target='#myModalPermisos' ng-click="editarPermisos(Usuario)")  Cambiar de franquicia
                  td
                    button.btn.btn-danger(title="Eliminar", ng-click="borrar(Usuario.email)")
                      span.glyph-icon.icon-remove                        
          // Modales
          #Modales
          .modal.fade(id='myModal',tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                  h4#myModalLabel.modal-title Cambiar rol de {{modificar.name}}
                .modal-body(style="padding:1px")
                  form.form-group
                    div.row(style="margin-top:8px;")
                      div.col-md-6
                        label.text-center Rol actual:
                        h3.text-center(ng-show="modificar.role == 1") Administrador
                        h3.text-center(ng-show="modificar.role == 2") Usuario
                      div.col-md-6
                      label Asigne nuevo Rol:
                        select.form-control(ng-model='modificar2.rol', style="width:210px; margin-top:19px;")
                          option(value='') Seleccione un rol
                          option(value='1') Administrador
                          option(value='2') Usuario
                          option(value='3') Franquiciatario
                          option(value='4') Implementador                          
                .modal-footer
                    button.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
                    button.btn.btn-success(type='button', data-dismiss='modal' ng-click="cambiarRol(modificar.email, modificar, modificar2.rol)" ng-show="!mostrarBoton" ng-disabled="!modificar2.rol") Guardar
                    button.btn.btn-success(type='button', data-dismiss='modal' ng-click="cambiarRolG(modificar.email, modificar, modificar2.rol)" ng-show="mostrarBoton" ng-disabled="!modificar2.rol") Guardar
                    //{{modificar.token}}
                    
          .modal.fade(id='myModalPass',tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                  h4#myModalLabel.modal-title Cambiar contraseña de: {{modificar2.email}}
                .modal-body(style="padding:15px")
                      label(ng-show="mostrarForm") Cuenta google
                      form.form-group(name='form', novalidate='', method='post', ng-show="!mostrarForm")
                        .form-group
                          label Nueva contraseña:
                          input.form-control(type='password', placeholder='Password', name='password', ng-model='password')
                        .form-group
                          label Confirmar contraseña:
                          input.form-control(type='password', placeholder='Confirmar Password', name='confirmacion', ng-model='confirmacion')
                .modal-footer
                    button.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
                    button.btn.btn-success(ng-click='actualizarPassword(password, confirmacion, modificar2.email)' ng-disabled="!password || !confirmacion || password != confirmacion" data-dismiss='modal') Guardar
                    //{{modificar}}
                    
          .modal.fade(id='myModalPermisos',tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                  h4#myModalLabel.modal-title Cambiar de franquicia a: {{modificar3.email}}
                .modal-body(style="padding:15px")
                      label(ng-show="mostrarForm") Cuenta google
                      form.form-group(name='form', novalidate='', method='post', ng-show="!mostrarForm")
                        .form-group
                          //{{modificar3.properties.app1}}
                          .row
                            .col-md-12
                              select.form-control(ng-model='franq', ng-click='demo(franq)')
                                option(value='') Seleccione una franquicia
                                option(ng-repeat='Franquicia in lista2', value='{{Franquicia.No}}:{{Franquicia.Nombre}}') {{Franquicia.Nombre}}
                .modal-footer
                    button.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
                    button.btn.btn-success(data-dismiss='modal', ng-disabled="!franq" ,ng-click='actualizarPermisos(modificar3.email, modificar3.properties.idFranq, modificar3.properties.nombreFranq)') Guardar
                    //{{modificar3}}        

    
  script(src='/js/modules/user/editarUsuarios.js')
  script(src='/js/services/user.js')