<style type="text/css">

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.labelUpload {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

</style>

<form id="uploadForm" enctype="multipart/form-data" method="post">
    <div class="fileUpload btn btn-rounded-20 btn-sm btn-greensea">
        <span>Seleccionar Archivo</span>
        <input type="file" class="upload" accept=".xlsx" file-model="newfile" id="file-empleados" name="file-empleados"/>
        <input type="text" id="empresa" name="empresa" ng-model="selectedEmpresa" value={{selectedEmpresa}} style="display: none;"/>
    </div>
</form>
<div id="subir-div" style="display:none">
    <div>
        <label id="file-name-lb" class="col-sm-2 control-label labelUpload"></label>
    </div>
    <div class="btn btn-rounded-20 btn-sm btn-greensea" ng-click="uploadFile()">
        <span>Subir Archivo</span>
    </div>
</div>