<div id="{{ idmodal }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal splash fade">
  <div class="modal-dialog" style="margin-top: 200px!important;">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title custom-font">{{mensaje}}</h3>
        <h5 ng-repeat="line in detalle">{{line}}</h5>
      </div>
      <div class="modal-footer"><a class="btn btn-default btn-border" 
      data-dismiss="{{funcion?'':'modal'}}" href="{{funcion}}">Ok!</a></div>
    </div>
  </div>
</div>