extends ../layout

block content
  section#content(ng-app="listaMobiliario" ng-controller="listaMobiliarioController")
    #page-content-wrapper.rm-transition
      #page-content
          h2 Administración de mobiliario
          .example-box-wrapper
            //.col-md-4
              //button.btn.btn-primary(style="background-color:#646d72;border-color:#646d72;margin-top:20px;", data-toggle='modal', data-target='#myModalRegistrar', title="Registrar franquicia")
                //span.glyph-icon.icon-plus
                //|  Nuevo mobiliario          
            .col-md-4
              .row
                label(for='sel1') Filtrar por:
              .row
                .input-group
                  span.input-group-addon.bg-grey
                    i.glyph-icon.icon-search
                  input.form-control(type='text', placeholder='Criterio de busqueda', ng-model="filtro")             
            .col-md-4
          .example-box-wrapper
            table.table.table-striped.table-bordered.table-hover(cellpadding='0', cellspacing='0', border='0')
              thead
                tr
                  th Area
                  th Nombre
                  th Cantidad
                  th Costo
                  th Franquicia
                  th Total
                  th(colspan="2") ...
              tbody
                tr(ng-repeat="Mobiliario in lista | filter: filtro")   
                  td {{Mobiliario.Area}}
                  td {{Mobiliario.Nombre}}
                  td {{Mobiliario.Cantidad}}
                  td {{Mobiliario.Costo}}
                  td {{Mobiliario.Costo*Mobiliario.Cantidad}}
                  td {{Mobiliario.nombreFranq}}
                  td(style='width:20px;')
                    button.btn.btn-warning(data-toggle='modal', data-target='#myModalEditar', title="Editar", ng-click="editar(Mobiliario)")
                      span.glyph-icon.icon-pencil  
                  td(style='width:20px;')
                    button.btn.btn-danger(title="Eliminar", ng-click="borrarMobiliario(Mobiliario._id)")
                      span.glyph-icon.icon-remove                        
                      
      //Modales
      #myModalEditar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-lg
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Editar Mobiliario: {{modificar.Nombre}}
            .modal-body
              form
                  .row
                    .col-md-6
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Area:
                        .row
                          .input-group
                            select.form-control(ng-model='modificar.Area')
                              option(value='') Seleccione area
                              option(value='Dibujo/Modelado') Dibujo/Modelado
                              option(value='Chiquitos') Chiquitos
                              option(value='Pintura') Pintura
                              option(value='Recepción') Recepción
                    .col-md-6
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Nombre:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-user
                            input.form-control(type='text', placeholder='Nombre', ng-model="modificar.Nombre")
                    .col-md-6 
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Cantidad:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-pencil
                            input.form-control(type='text', placeholder='Descripcion', ng-model="modificar.Cantidad") 
                    .col-md-6
                          .form-group
                            .row
                              label(for='modalEditarTelefono') Costo:
                            .row
                              .input-group
                                span.input-group-addon.bg-grey
                                  i.glyph-icon.icon-map-marker
                                input.form-control(type='text', placeholder='Existencias', ng-model="modificar.Costo")
                    .col-md-6
                          select.form-control(ng-model='franq', ng-click='demo2(franq)')
                            option(value='') Seleccione una franquicia
                            option(ng-repeat='Franquicia in lista2', value='{{Franquicia.No}}:{{Franquicia.Nombre}}') {{Franquicia.Nombre}}                     
            .modal-footer
              button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-success(ng-click="actualizarMobiliario(modificar._id, modificar)", data-dismiss='modal' ,ng-disabled="!modificar.Area || !modificar.Nombre || !modificar.Cantidad || !modificar.Costo") Guardar                      
              
      #myModalRegistrar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-lg
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Nuevo Mobiliario
            .modal-body
              form
                  .row
                    .col-md-6
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Area:
                        .row
                         .input-group
                            select.form-control(ng-model='nuevoMobiliario.Area')
                              option(value='') Seleccione area
                              option(value='Dibujo/Modelado') Dibujo/Modelado
                              option(value='Chiquitos') Chiquitos
                              option(value='Pintura') Pintura
                              option(value='Recepción') Recepción
                    .col-md-6
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Nombre:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-user
                            input.form-control(type='text', placeholder='Nombre', ng-model="nuevoMobiliario.Nombre")
                    .col-md-6
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Cantidad:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-pencil
                            input.form-control(type='text', placeholder='Cantidad', ng-model="nuevoMobiliario.Cantidad") 
                    .col-md-6
                          .form-group
                            .row
                              label(for='modalEditarTelefono') Costo:
                            .row
                              .input-group
                                span.input-group-addon.bg-grey
                                  i.glyph-icon.icon-map-marker
                                input.form-control(type='text', placeholder='Costo', ng-model="nuevoMobiliario.Costo")
                    .col-md-6
                        .row
                          label(for='modalEditarTelefono') Franquicia:                              
                        .row
                          select.form-control(ng-model='franq', ng-click='demo(franq)')
                            option(value='') Seleccione una franquicia
                            option(ng-repeat='Franquicia in lista2', value='{{Franquicia.No}}:{{Franquicia.Nombre}}') {{Franquicia.Nombre}}                    
            .modal-footer
              button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-success(type="button", ng-click="registrarMobiliario();", data-dismiss='modal', ng-disabled="!nuevoMobiliario.Area || !nuevoMobiliario.Nombre || !nuevoMobiliario.Cantidad || !nuevoMobiliario.Costo || !nuevoMobiliario.idFranq" ) Registrar        
              //{{nuevaFranquicia}}
              
  script(src='/js/modules/mobiliario/mobiliario.js')
  script(src='/js/services/mobiliario.js')    