extends ../layout

block content
  section#content(ng-app="listaMobiliario" ng-controller="listaMobiliarioController")
    #page-content-wrapper.rm-transition
      #page-content
          h2 Entrada de mobiliario
          .example-box-wrapper
            .col-md-4
            .col-md-4
              .row
                label(for='sel1') Filtrar por:
              .row
                .input-group
                  span.input-group-addon.bg-grey
                    i.glyph-icon.icon-search
                  input.form-control(type='text', placeholder='Criterio de busqueda', ng-model="filtro")             
            .col-md-4
          .example-box-wrapper
            table.table.table-striped.table-bordered.table-hover(cellpadding='0', cellspacing='0', border='0')
              thead
                tr
                  th Área
                  th Nombre
                  th Cantidad
                  th Costo
                  th Total
                  th Franquicia
                  th ...
              tbody
                tr(ng-repeat="Mobiliario in lista | filter: filtro")   
                  td {{Mobiliario.Area}}
                  td {{Mobiliario.Nombre}}
                  td {{Mobiliario.Cantidad}}
                  td {{Mobiliario.Costo}}
                  td {{Mobiliario.Costo*Mobiliario.Cantidad}}
                  td {{Mobiliario.nombreFranq}}
                  td(style='width:20px;')
                    button.btn.btn-success(data-toggle='modal', data-target='#myModalEditar', title="Agregar", ng-click="editar(Mobiliario)")
                      span.glyph-icon.icon-plus  
                      
      //Modales
      #myModalEditar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Agrega al inventario mobiliario: {{modificar.Nombre}}
            .modal-body
              form
                  .row
                    .col-md-4
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Piezas actuales: {{modificar.Cantidad}}                    
                    .col-md-6 
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Cantidad:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-pencil
                            input.form-control(type='text', placeholder='Descripcion', ng-model="modificar.Cantidad2") 
                    .col-md-2        
            .modal-footer
              button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-success(ng-click="actualizarStockMobiliario(modificar._id, modificar)", data-dismiss='modal' ,ng-disabled="!modificar.Area || !modificar.Nombre || !modificar.Cantidad2 || !modificar.Costo") Guardar                      
              
              
  script(src='/js/modules/mobiliario/mobiliario.js')
  script(src='/js/services/mobiliario.js')    