extends ../layout

block content
  #page-content-wrapper.rm-transition
    #page-content
      h2 Control de ingresos
      .divider
      h4 Concentrado 2017
      .example-box-wrapper
          .row
              button.btn.btn-success(style="background-color:#646d72;border-color:#646d72;", data-toggle='modal', data-target='#myModalIngreso') Nuevo ingreso
          .divider
          .row
              .col-md-4
                  .col-md-2
                      label(for='sel1') Filtrar por:
                  .col-md-10
                    .input-group
                      span.input-group-addon.bg-grey
                        i.glyph-icon.icon-search
                      input.form-control(type='text', placeholder='Criterio de busqueda')
              .col-md-4
                  .col-md-2
                      label(for='sel1') Estatus:
                  .col-md-10
                      select.form-control
                        option(value='volvo') Pagado
                        option(value='saab') Deudor
              .col-md-4
                  .col-md-2
                      label(for='sel1') Fecha:
                  .col-md-10
                      input.form-control(type="date" placeholder="Criterio de busqueda")            
          .row
              table.table.table-striped.table-bordered.table-hover(cellpadding='0', cellspacing='0', border='0')
                  thead
                    tr
                      th Numero
                      th Razón Social
                      th RFC
                      th Renta
                      th IVA
                      th Total pagado
                      th Total a pagar
                      th(style="background-color:black;color:white;") Estatus
                      th Domicilio
                      th Periodo
                      th Factura
                      th(colspan="2") ...
                  tbody
                    tr
                      td 1
                      td Tecnologia Ambiente Integral SA de CV
                      td TAI-1914515-RAS
                      td 1500
                      td 240
                      td 1740
                      td 1740
                      td(style="background-color:black;color:white;") Pagado
                      td Eugenia 852 Col Del Valle Piso 6
                      td Agosto
                      td 517
                      td(style='width:20px;')
                        button.btn.btn-warning(data-toggle='modal', data-target='#myModalEditar')
                          span.glyph-icon.icon-pencil
                      td(style='width:20px;')
                        button.btn.btn-success(data-toggle='modal', data-target='#myModalPagos')
                          span.glyph-icon.icon-dollar                       
                    tr
                      td 2
                      td Venta de productos
                      td TAI-1914515-RAS
                      td 1500
                      td 240
                      td 1740
                      td 1740
                      td(style="background-color:black;color:white;") Deudor
                      td Eugenia 852 Col Del Valle Piso 6
                      td Agosto
                      td 517
                      td(style='width:20px;')
                        button.btn.btn-warning(data-toggle='modal', data-target='#myModalEditar')
                          span.glyph-icon.icon-pencil 
                      td(style='width:20px;')
                        button.btn.btn-success(data-toggle='modal', data-target='#myModalPagos')
                          span.glyph-icon.icon-dollar                        
                          
      #myModalIngreso.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-lg
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Nuevo Ingreso
            .modal-body(style="padding:6px 34px;")
              form
                .row
                  table.table.table-striped.table-bordered.table-hover(cellpadding='0', cellspacing='0', border='0')
                      thead
                        tr
                          th Razón Social
                          th Cantidad
                          th Referencia de deposito
                          th Mes
                          th IVA
                      tbody
                        tr
                          td
                            select.form-control
                              option(value='volvo') Tecnologia Ambiente Integral SA de CV
                              option(value='saab') Cliente 2
                              option(value='mercedes') Cliente 3
                              option(value='audi') Cliente 4                          
                          td
                              input.form-control(type="text", style='border-color:white;', placeholder="-")
                          td
                              input.form-control(type="text", style='border-color:white;', placeholder="-")
                          td 
                              input.form-control(type="text", style='border-color:white;', placeholder="-")
                          td 16%
            .modal-footer
              button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-success Ingresar            
              
      #myModalPagos.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-lg
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Administrar pagos
            .modal-body(style="padding:6px 34px;")
              form
                .row
                  .col-md-6
                      label(for='sel1') Cliente: Tecnologia Ambiente SA de CV
                  .col-md-6
                      label(for='sel1') RFC: TAI-1914515-RAS
                .row
                  table.table.table-striped.table-bordered.table-hover(cellpadding='0', cellspacing='0', border='0')
                      thead
                        tr
                          th Periodo
                          th Estatus
                          th A pagar
                          th Descripción
                          th Monto
                          th Comprobante
                          th Saldo
                      tbody
                        tr
                          td Ene 18
                          td Pagado
                          td $3000
                          td Renta
                          td $3000
                          td Enlace
                          td $0
            .modal-footer
              button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cerrar
              
      #myModalEditar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Editar registro
            .modal-body
              form
                  .row
                    .col-md-6
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Razón social:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-user
                            input.form-control(type='text', placeholder='Razón social')
                      .form-group
                        .row
                          label(for='modalEditarTelefono') RFC:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-pencil
                            input.form-control(type='text', placeholder='RFC')
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Renta:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-dollar
                            input.form-control(type='text', placeholder='Renta')                         
                      .form-group
                        .row
                          label(for='modalEditarTelefono') IVA:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-dollar
                            input.form-control(type='text', placeholder='IVA')  
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Total pagado:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-dollar
                            input.form-control(type='text', placeholder='Total pagado')  
                    .col-md-6
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Domicilio:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-map-marker
                            input.form-control(type='text', placeholder='Domicilio')  
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Periodo:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-calendar
                            input.form-control(type='text', placeholder='Periodo')  
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Factura:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-file-o
                            input.form-control(type='text', placeholder='Factura')  
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Total a pagar:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-dollar
                            input.form-control(type='text', placeholder='Total a pagar')   
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Estatus:
                        .row
                          select.form-control
                            option(value='volvo') Pagado
                            option(value='saab') Deudor                         
            .modal-footer
              button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-success Guardar                    