extends ../layout

block content

  section#content
    .page
      .pageheader
        h2 Periodos
        .page-bar
          ul.page-breadcrumb
            li
              a(href='#')
                i.fa.fa-calendar
                |  Periodos
        // /.page-bar
      // /.pageheader
      .row
        .col-md-12
          section.tile.tile-simple
            // tile header
            .tile-header.dvd.dvd-btm
              h1.custom-font
                strong  Periodos
            // /tile header
            // tile body
            .tile-body.table-custom
              .filtros
                .col-md-4
                  a.pickDate(role='button', tabindex='0')
                    span October 3, 2016 - November 1, 2016
                    i.fa.fa-angle-down
                // /.col-md-4
                .col-md-4
                  select.form-control.mb-10
                    option Activo
                    option En calculo
                    option En Aprobacion
                    option Pagado
                    option En dispesíon
                    option Terminado
                // /.col-md-4
                .col-md-4
                  select.form-control.mb-10
                    option Ver Semanales
                    option Ver Quincenales
                    option Ver Mensuales
                // /.col-md-4
              table.table
                thead
                  tr
                    th Año
                    th Mes
                    th Descripción
                    th Estatus
                    th Acciones
                tbody
                  tr.active
                    td 2016
                    td Enero
                    td
                      | Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
                    td Terminado
                    td
                      .btn-group
                        button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                          | Acciones 
                          span.caret
                        ul.dropdown-menu(role='menu')
                          li
                            a(href='#') Cargar Incidencias
                          li
                            a(href='#') Ver Recibos
                          li
                            a(href='#') Cargar Pagos
                  tr.success
                    td 2016
                    td Enero
                    td
                      | Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
                    td Activo
                    td
                      .btn-group
                        button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                          | Acciones 
                          span.caret
                        ul.dropdown-menu(role='menu')
                          li
                            a(href='#') Cargar Incidencias
                          li
                            a(href='#') Ver Recibos
                          li
                            a(href='#') Cargar Pagos
                  tr.success
                    td 2016
                    td Enero
                    td
                      | Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
                    td Activo
                    td
                      .btn-group
                        button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                          | Acciones 
                          span.caret
                        ul.dropdown-menu(role='menu')
                          li
                            a(href='#') Cargar Incidencias
                          li
                            a(href='#') Ver Recibos
                          li
                            a(href='#') Cargar Pagos
                  tr.info
                    td 2016
                    td Enero
                    td
                      | Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
                    td En dispersión
                    td
                      .btn-group
                        button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                          | Acciones 
                          span.caret
                        ul.dropdown-menu(role='menu')
                          li
                            a(href='#') Cargar Incidencias
                          li
                            a(href='#') Ver Recibos
                          li
                            a(href='#') Cargar Pagos
                  tr.active
                    td 2016
                    td Enero
                    td
                      | Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
                    td Terminado
                    td
                      .btn-group
                        button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                          | Acciones 
                          span.caret
                        ul.dropdown-menu(role='menu')
                          li
                            a(href='#') Cargar Incidencias
                          li
                            a(href='#') Ver Recibos
                          li
                            a(href='#') Cargar Pagos
                  tr.success
                    td 2016
                    td Enero
                    td
                      | Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
                    td Activo
                    td
                      .btn-group
                        button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                          | Acciones 
                          span.caret
                        ul.dropdown-menu(role='menu')
                          li
                            a(href='#') Cargar Incidencias
                          li
                            a(href='#') Ver Recibos
                          li
                            a(href='#') Cargar Pagos
                  tr.success
                    td 2016
                    td Enero
                    td
                      | Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
                    td Activo
                    td
                      .btn-group
                        button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                          | Acciones 
                          span.caret
                        ul.dropdown-menu(role='menu')
                          li
                            a(href='#') Cargar Incidencias
                          li
                            a(href='#') Ver Recibos
                          li
                            a(href='#') Cargar Pagos
            // /tile body
        // /.col-md-12
      // /row
    // /.page
  // / CONTENT
  