extends ../layout

block content
  section#content(ng-app="listaTalleres" ng-controller="listaTalleresController")
    #page-content-wrapper.rm-transition
      #page-content
          h2 Administración de talleres
            .example-box-wrapper
                .col-md-4
                  button.btn.btn-primary(style="background-color:#646d72;border-color:#646d72;margin-top:20px;", data-toggle='modal', data-target='#myModal', title="Registrar franquicia")
                    span.glyph-icon.icon-plus
                    |  Nuevo Taller           
                .col-md-4
                  .row
                    label(for='sel1') Filtrar por:
                  .row
                    .input-group
                      span.input-group-addon.bg-grey
                        i.glyph-icon.icon-search
                      input.form-control(type='text', placeholder='Criterio de busqueda', ng-model="filtro")             
                .col-md-4
            .example-box-wrapper
            table.table.table-striped.table-bordered.table-hover(cellpadding='0', cellspacing='0', border='0')
              thead
                tr
                  th Nombre del Taller
                  th Tipo Taller
                  th Días
                  th Horario
                  th(colspan="2") Acciones
              tbody
                tr(ng-repeat="taller in lista | filter: filtro")   
                  td {{taller.NombreTaller}}
                  td {{taller.TipoTaller}}
                  td {{taller.Dias}}
                  td {{taller.InicioHorario | date :  "hh:mm" }} - {{taller.FinHorario | date : "hh:mm"}}
                  td(style='width:20px;')
                    button.btn.btn-secondary(data-toggle='modal', data-target='#myModalEditarTaller', title="Editar Taller", ng-click="editarTaller(taller)")
                      span.glyph-icon.icon-pencil-square-o  
                  td(style='width:20px;')
                    button.btn.btn-danger(title="Eliminar", ng-click="borrarTaller(taller._id)")
                      span.glyph-icon.icon-remove   
                      
        #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-lg
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title  Nuevo Taller
            form(ng-submit='registrarTaller()')
              .modal-body
                 ul.nav.nav-pills
                   li.active
                     a(data-toggle='pill', href='#home') Datos Generales
                   li
                     a(data-toggle='pill', href='#menu1') Kits Productos
                 .tab-content
                   #home.tab-pane.fade.in.active
                     br
                     .row
                      .col-md-6
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Nombre Taller: *
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-user
                              input.form-control(type='text', placeholder='Nombre', ng-model="nuevoTaller.NombreTaller", required)
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Tipo Taller: *
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-user
                              input.form-control(type='text', placeholder='Tipo Taller', ng-model="nuevoTaller.TipoTaller" , required)
                        .form-group
                          .row
                            label(for='modalEditarTelefono' style='width:210px') Hora Inicio: *
                            label(for='modalEditarTelefono') Hora Fin: *
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-clock-o
                              input.form-control(type='time', max="20:00:00", min="10:00:00", placeholder='Horario', ng-model="nuevoTaller.InicioHorario")
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-clock-o
                              input.form-control(type='time', max="20:00:00", min="10:00:00", placeholder='Horario', ng-model="nuevoTaller.FinHorario")
                       
                      .col-md-6
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Días: *
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-calendar
                              select.form-control(ng-model="nuevoTaller.Dias", required)
                                option(value='') Seleccione el Día
                                option(value='Lunes a Viernes') Lunes a Viernes
                                option(value='Lunes a Sabado') Lunes a Sabado
                                option(value='Sabado') Sabado
                              //input.form-control(type='text', placeholder='Días', ng-model="nuevoTaller.Dias")
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Cupo de Alumnos: *
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-user
                              input.form-control(type='number', min="1", placeholder='Cupo de Alumnos', ng-model="nuevoTaller.Cupo", required)
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Descripción: *
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-user
                              textarea.form-control(rows='1', cols='50',placeholder='Descripción', ng-model="nuevoTaller.Descripcion", required)
                   #menu1.tab-pane.fade
                     br
                     .row
                       .col-md-6(style="max-height: 250px;overflow-y: auto;")
                          table.table(cellpadding='0', cellspacing='0', border='0')
                             tbody
                               tr(ng-repeat="productos in listaP")
                                 td.text-center
                                    input.form-control(type='number',id="cant-{{productos._id}}" style='width:80px')
                                 td.text-center {{productos.Nombre}}
                                 td
                                    button.btn.btn-success.input-sm(type='button' ng-click='addProductosCarr(productos)') Agregar
                       .col-md-6(style="max-height: 250px;overflow-y: auto;")
                          table.table(cellpadding='0', cellspacing='0', border='0')
                            tbody
                              tr(ng-repeat='cart in carr')
                                td {{cart.cantidadCompra}}
                                td {{cart.Nombre}}
                                td
                                  button.btn.btn-danger.input-sm(type='button' data-toggle='modal', ng-click='eliminarProductosCarr(cart)') Quitar
                         
                                                    
              .modal-footer
                span
                  | (*) Campos Obligatorios
                button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
                input.btn.btn-success(type='submit', value='Guardar')
                //{{nuevoTaller}}
              
              
      #myModalEditarTaller.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-lg
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title  Editar Taller
            .modal-body
              form
                 ul.nav.nav-pills
                   li.active
                     a(data-toggle='pill', href='#edtDG') Datos Generales
                   li
                     a(data-toggle='pill', href='#edtP') Kits Productos
                 .tab-content
                   #edtDG.tab-pane.fade.in.active
                     br
                     .row
                      .col-md-6
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Nombre Taller: *
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-user
                              input.form-control(type='text', placeholder='Nombre', ng-model="modificar.NombreTaller", required)
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Tipo Taller: *
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-user
                              input.form-control(type='text', placeholder='Tipo Taller', ng-model="modificar.TipoTaller" , required)
                        .form-group
                          .row
                            label(for='modalEditarTelefono' style='width:210px') Hora Inicio: *
                            label(for='modalEditarTelefono') Hora Fin: *
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-clock-o
                              input.form-control(type='time', max="20:00:00", min="10:00:00", placeholder='Horario', value="{{modificar.InicioHorario | date:'HH:mm:ss'}}", ng-model="modificar.InicioHorario")
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-clock-o
                              input.form-control(type='time', max="20:00:00", min="10:00:00", placeholder='Horario', value="{{modificar.FinHorario | date:'HH:mm:ss'}}",  ng-model="modificar.FinHorario")
                       
                      .col-md-6
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Días: *
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-calendar
                              select.form-control(ng-model="modificar.Dias", required)
                                option(value='') Seleccione el Día
                                option(value='Lunes a Viernes') Lunes a Viernes
                                option(value='Lunes a Sabado') Lunes a Sabado
                                option(value='Sabado') Sabado
                              //input.form-control(type='text', placeholder='Días', ng-model="nuevoTaller.Dias")
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Cupo de Alumnos: *
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-user
                              input.form-control(type='number', min="1", placeholder='Cupo de Alumnos', value="{{modificar.Cupo}}", ng-model="modificar.Cupo", required)
                        .form-group
                          .row
                            label(for='modalEditarTelefono') Descripción: *
                          .row
                            .input-group
                              span.input-group-addon.bg-grey
                                i.glyph-icon.icon-user
                              textarea.form-control(rows='1', cols='50',placeholder='Descripción', ng-model="modificar.Descripcion", required)
                   #edtP.tab-pane.fade
                     br
                     .row
                       .col-md-6(style="max-height: 250px;overflow-y: auto;")
                          table.table(cellpadding='0', cellspacing='0', border='0', style='height:100px')
                             tbody
                               tr(ng-repeat="productos in listaP")
                                 td.text-center
                                    input.form-control(type='number',id="edtCant-{{productos._id}}" style='width:80px')
                                 td.text-center {{productos.Nombre}}
                                 td
                                    button.btn.btn-success.input-sm(type='button' ng-click='addProductosEdt(productos)') Agregar
                       .col-md-6(style="max-height: 250px;overflow-y: auto;")
                          table.table(cellpadding='0', cellspacing='0', border='0')
                            tbody
                              tr(ng-repeat='cart in modificar.producto')
                                td {{cart.cantidadProducto}}
                                td {{cart.nombreProducto}}
                                td
                                  button.btn.btn-danger.input-sm(type='button' data-toggle='modal', ng-click='eliminarProductosEdt(cart)') Quitar
            .modal-footer
              button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-success(type="button", ng-click="actualizarTaller(modificar._id, modificar)", data-dismiss='modal') Guardar 
              //{{modificar}}
  script(src='/js/modules/taller/taller.js')
  script(src='/js/services/taller.js')              