extends ../layout

block content
  #page-content-wrapper.rm-transition
    #page-content
      h2 Administración de Clientes
      .example-box-wrapper
        .col-md-4
          .row
            label(for='sel1') Enviar solicitud:
          .row
            .col-md-8
              .input-group
                span.input-group-addon.bg-grey
                  i.glyph-icon.icon-envelope-o
                input.form-control(type='text', placeholder='Correo del cliente')
            .col-md-4
              a.btn.btn-success(style="background-color:#646d72;border-color:#646d72;", href='/regservicio') Enviar
        .col-md-4
          .row
            label(for='sel1') Filtrar por:
          .row
            .input-group
              span.input-group-addon.bg-grey
                i.glyph-icon.icon-search
              input.form-control(type='text', placeholder='Criterio de busqueda')
        .col-md-4
      .example-box-wrapper
        table.table.table-striped.table-bordered.table-hover(cellpadding='0', cellspacing='0', border='0')
          thead
            tr
              th Folio (aut)
              th Fecha de Solicitud
              th Denominación/Razón Social
              th Estatus
              th Ubicación solicitada
              th Duración del contrato
              th Anticipo
              th Proveedor
              th(colspan="2") ...
          tbody
            tr
              td 
              td 7/07/17
              td Sandoz
              td Nuevo
              td Colonia
              td 12
              td $1200 (Abierto/Pagado) 
                button.btn.btn-default(data-toggle='modal', data-target='#myModalAnticipo')
                  span.glyph-icon.icon-plus.font-green            
              td Juan
                a(href="#") 
                  span.glyph-icon.icon-remove.font-red            
              td(style='width:20px;')
                button.btn.btn-warning(data-toggle='modal', data-target='#myModalEditar')
                  span.glyph-icon.icon-folder-open
              td(style='width:20px;')
                button.btn.btn-warning(data-toggle='modal', data-target='#myModalEditar2')
                  span.glyph-icon.icon-info-circle                   
            tr
              td 
              td 7/07/17
              td Sandoz
              td Nuevo
              td Colonia
              td 12
              td $1200 (Abierto/Pagado) 
                button.btn.btn-default(data-toggle='modal', data-target='#myModalAnticipo')
                  span.glyph-icon.icon-plus.font-green  
              td Juan
                a(href="#") 
                  span.glyph-icon.icon-remove.font-red            
              td(style='width:20px;')
                button.btn.btn-warning(data-toggle='modal', data-target='#myModalEditar')
                  span.glyph-icon.icon-folder-open
              td(style='width:20px;')
                button.btn.btn-warning(data-toggle='modal', data-target='#myModalEditar2')
                  span.glyph-icon.icon-info-circle                
            tr
              td 
              td 7/07/17
              td Sandoz
              td Nuevo
              td Colonia
              td 12
              td $1200 (Abierto/Pagado) 
                button.btn.btn-default(data-toggle='modal', data-target='#myModalAnticipo')
                  span.glyph-icon.icon-plus.font-green  
              td
                button.btn.btn-success(data-toggle='modal', data-target='#myModalProveedor') Asignar
              td(style='width:20px;')
                button.btn.btn-warning(data-toggle='modal', data-target='#myModalEditar')
                  span.glyph-icon.icon-folder-open
              td(style='width:20px;')
                button.btn.btn-warning(data-toggle='modal', data-target='#myModalEditar2')
                  span.glyph-icon.icon-info-circle                   
            tr
              td 
              td 7/07/17
              td Sandoz
              td Nuevo
              td Colonia
              td 12
              td $1200 (Abierto/Pagado) 
                button.btn.btn-default(data-toggle='modal', data-target='#myModalAnticipo')
                  span.glyph-icon.icon-plus.font-green  
              td Juan
                a(href="#") 
                  span.glyph-icon.icon-remove.font-red            
              td(style='width:20px;')
                button.btn.btn-warning(data-toggle='modal', data-target='#myModalEditar')
                  span.glyph-icon.icon-folder-open
              td(style='width:20px;')
                button.btn.btn-warning(data-toggle='modal', data-target='#myModalEditar2')
                  span.glyph-icon.icon-info-circle                   
            tr
              td 
              td 7/07/17
              td Sandoz
              td Nuevo
              td Colonia
              td 12
              td $1200 (Abierto/Pagado) 
                button.btn.btn-default(data-toggle='modal', data-target='#myModalAnticipo')
                  span.glyph-icon.icon-plus.font-green  
              td Juan
                a(href="#") 
                  span.glyph-icon.icon-remove.font-red
              td(style='width:20px;')
                button.btn.btn-warning(data-toggle='modal', data-target='#myModalEditar')
                  span.glyph-icon.icon-folder-open
              td(style='width:20px;')
                button.btn.btn-warning(data-toggle='modal', data-target='#myModalEditar2')
                  span.glyph-icon.icon-info-circle                   
                
      //modales
  
      #myModalEditar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-lg
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Documentos del cliente
            .modal-body
              form
                .row
                  .col-md-6
                    ul.todo-box
                      li.border-green
                        label(for='todo-6') Acta constitutiva
                        a.btn.btn-xs.btn-success.float-right.tooltip-button(href='#', data-placement='top', title='', data-original-title='Archivo Cargado')
                          i.glyph-icon.icon-cloud-download
                      .divider    
                      li.border-green
                        label(for='todo-6') Poder notarial
                        a.btn.btn-xs.btn-success.float-right.tooltip-button(href='#', data-placement='top', title='', data-original-title='Archivo Cargado')
                          i.glyph-icon.icon-cloud-download
                      .divider       
                      li.border-green
                        label(for='todo-6') Referencias comerciales
                        a.btn.btn-xs.btn-success.float-right.tooltip-button(href='#', data-placement='top', title='', data-original-title='Archivo Cargado')
                          i.glyph-icon.icon-cloud-download
                      .divider       
                      li.border-green
                        label(for='todo-6') RFC
                        a.btn.btn-xs.btn-success.float-right.tooltip-button(href='#', data-placement='top', title='', data-original-title='Archivo Cargado')
                          i.glyph-icon.icon-cloud-download  
                      .divider       
                      li.border-green
                        label(for='todo-6') Contrato de arrendamiento
                        a.btn.btn-xs.btn-success.float-right.tooltip-button(href='#', data-placement='top', title='', data-original-title='Archivo Cargado')
                          i.glyph-icon.icon-cloud-download  
                      .divider       
                      li.border-green
                        label(for='todo-6') Anticipo
                        a.btn.btn-xs.btn-success.float-right.tooltip-button(href='#', data-placement='top', title='', data-original-title='Archivo Cargado')
                          i.glyph-icon.icon-cloud-download                            
                  .col-md-6
                    ul.todo-box
                      li.border-red
                        label(for='todo-6') Comprobante inscripción a hacienda
                        a.btn.btn-xs.btn-danger.float-right.tooltip-button(href='#', data-placement='top', title='', data-original-title='Cargar Archivo')
                          i.glyph-icon.icon-cloud-upload
                      .divider       
                      li.border-green
                        label(for='todo-6') Identificación vigente
                        a.btn.btn-xs.btn-success.float-right.tooltip-button(href='#', data-placement='top', title='', data-original-title='Archivo Cargado')
                          i.glyph-icon.icon-cloud-download
                      .divider       
                      li.border-red
                        label(for='todo-6') Referencias bancarias
                        a.btn.btn-xs.btn-danger.float-right.tooltip-button(href='#', data-placement='top', title='', data-original-title='Cargar Archivo')
                          i.glyph-icon.icon-cloud-upload
                      .divider       
                      li.border-green
                        label(for='todo-6') Comprobante de domicilio
                        a.btn.btn-xs.btn-success.float-right.tooltip-button(href='#', data-placement='top', title='', data-original-title='Archivo Cargado')
                          i.glyph-icon.icon-cloud-download   
                      .divider       
                      li.border-green
                        label(for='todo-6') Alta de SAT
                        a.btn.btn-xs.btn-success.float-right.tooltip-button(href='#', data-placement='top', title='', data-original-title='Archivo Cargado')
                          i.glyph-icon.icon-cloud-download                            
            .modal-footer
              button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-success Guardar     
              
      #myModalEditar2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-lg
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Datos generales del cliente
            .modal-body
              form
                  .row
                    .col-md-6
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Razón social:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-user
                            input.form-control(type='text', placeholder='Razón social')
                      .form-group
                        .row
                          label(for='modalEditarTelefono') RFC:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-pencil
                            input.form-control(type='text', placeholder='RFC') 
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Ubicación solicitada:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-map-marker
                            input.form-control(type='text', placeholder='Ubicación solicitada')                        
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Colonia:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-map-marker
                            input.form-control(type='text', placeholder='Colonia') 
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Estado:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-map-marker
                            input.form-control(type='text', placeholder='Estado')
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Email:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-envelope-o
                            input.form-control(type='text', placeholder='Email') 
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Persona que solicita:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-user
                            input.form-control(type='text', placeholder='Persona que solicita')                       
                    .col-md-6
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Actividad comercial:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-briefcase
                            input.form-control(type='text', placeholder='Actividad Comercial')
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Numero de empleados:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-users
                            input.form-control(type='text', placeholder='Numero de empleados')
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Represante legal:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-user
                            input.form-control(type='text', placeholder='Representante legal')
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Domicilio representante legal:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-map-marker
                            input.form-control(type='text', placeholder='Domicilio representante')
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Nombre del contacto:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-user
                            input.form-control(type='text', placeholder='Nombre del contacto')
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Telefono:
                        .row
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-phone
                            input.form-control(type='text', placeholder='Telefono')                        
            .modal-footer
              button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-success Guardar             
              
      #myModalAnticipo.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-lg
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Anticipo
            .modal-body(style="padding:6px 34px;")
              form
                .row
                  .col-md-12
                    .form-group
                      .row
                        .row
                          label(for='modalEditarTelefono') Folio de Solicitud: CW00517
                        .row
                          label(for='modalEditarTelefono') Razón social: Sandoz
                        .row
                          label(for='modalEditarTelefono') Anticipo asignado: $1200
                  .row
                    .col-md-6
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Pagado:
                        .row
                          .input-group
                            input.form-control(type='text')
                            span.input-group-btn
                              button.btn.btn-primary(type='button') Abonar pago
                    .col-md-6
                      .form-group
                        .row
                          label(for='modalEditarTelefono') A cuenta:
                        .row  
                          .input-group
                            span.input-group-addon.bg-grey
                              i.glyph-icon.icon-dollar
                            input.form-control(type='text', disabled)
                  .row
                    label(for='modalEditarTelefono') Historial de pagos:
            .modal-footer
              button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-success Aceptar     
              
      #myModalProveedor.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Asignar Proveedor
            .modal-body(style="padding:6px 34px;")
              form
                .row
                  .col-md-12
                    .form-group
                      .row
                        .row
                          label(for='modalEditarTelefono') Folio de Solicitud: CW00517
                        .row
                          label(for='modalEditarTelefono') Razón social: Sandoz
                  .row
                    .col-md-12
                      .form-group
                        .row
                          label(for='modalEditarTelefono') Nombre del proveedor:
                        .row
                          select.form-control
                            option(value='volvo') Proveedor 1
                            option(value='saab') Proveedor 2
                            option(value='mercedes') Proveedor 3
                            option(value='audi') Proveedor 4
            .modal-footer
              button#cancelarEditar.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-success Aceptar              