extends ../layout

block content
  div(ng-app='editEmpleado', ng-controller='editEmpleadoController' ng-init="id='#{id}'")
    edit-empleado(id="id")
  script(src='/js/vendor/parsley/parsley.min.js')
  link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css")
  
  //
    ============================================
    ============== Custom JavaScripts ===============
    =============================================
  script(src='/js/modules/editEmpleado.js')
  script(src='/js/components/empleados/editEmpleado.js')
  script(src='/js/components/generales.js')
  script(src='/js/services/empleado.js')
  script(src='/js/services/generales.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js")