extends ../layout

block content
  div(ng-app="importEmpleados" ng-controller="importEmpleadosController")
    section#content
      .page
        .pageheader
          h2
            | Importar Empleados 
            span // carga masiva de empleados, por medio de archios .xls 
          .page-bar
            ul.page-breadcrumb
              li
                a(href='#')
                  i.fa.fa-user
                  |  Empleados
              li
                a(href='#') Importar Empleados 
          // /.page-bar
        // /.pageheader
        .row
          .col-md-12
            section.tile.tile-simple
              // tile header
              .tile-header.dvd.dvd-btm
                h1.custom-font
                  | Pasos de 
                  strong  Importacion
              // /tile header
              .post-container
                .panel.panel-default
                  .panel-heading.bg-white
                    | Ulima Importacion  
                    span.text-muted
                      i.fa.fa-clock-o.mr-5
                      |  {{lastimportacion}}
                    span.pull-right
                      a(href='/empleados/logimport')
                        i.fa.fa.fa-history.mr-5
                        |  Ver historial de importacion
              // tile widget
              .tile-widget.p-30.text-center
                .row
                  .col-md-4
                    .thumb.thumb-xl
                      i.icon-cursor.fa-4x.text-warning(style='line-height: 140px;')
                    h4.mb-0
                      strong
                        | Paso 1 
                        br
                        |  Seleccion de Carcteristicas
                    span.text-muted Seleccione las características de la plantilla que ira a importar.
                    br
                    empresa-catalogo(selected-empresa="selectedEmpresa")
                    cencostos-catalogo(selected-centro="selectedCentro")
                  // /.col-md-4
                  .col-md-4
                    .thumb.thumb-xl
                      i.icon-cloud-download.fa-4x.text-blue(style='line-height: 140px;')
                    h4.mb-0
                      strong
                        | Paso 2 
                        br
                        |  Descargar Plantilla
                    span.text-muted Esta plantilla ".xls" servira como modelo para vuelque de información.
                    br
                    br
                    a.btn.btn-rounded-20.btn-sm.btn-blue(href="/importaciones/api/plantillaEmpleados") Descargar Ejemplo
                  // /.col-md-4
                  .col-md-4
                    .thumb.thumb-xl
                      i.fa.fa-database.fa-4x.text-greensea(style='line-height: 140px;')
                    h4.mb-0
                      strong
                        | Paso 3 
                        br
                        |  Importacion
                    span.text-muted Seleccione la plantilla de importación con la información a incorporar.
                    br
                    upload-file(selected-centro="selectedCentro", 
                                selected-empresa="selectedEmpresa", 
                                errores="errores", empleados-error="empleadosError", 
                                data="data", lastimportacion="lastimportacion",
                                mensaje="mensaje")
                  // /.col-md-4
                // /.row
                //
                  Fin del HTML que hace las
                  llamadas de los mensajes de importacion
              // /tile widget
              // tile body
          // /.col-md-12
        // /row
      // /.page
    // / CONTENT
    mensaje-alerta(idmodal="'imp-ex'" titulo="mensaje.titulo" descripcion="mensaje.descripcion")
    mensaje-error(idmodal="'imp-er'" numerrores="mensaje.numerrores" errores="mensaje.errores")
    mensaje-simple(idmodal="'alert'" mensaje="mensaje")
  // / libs javascripts
  script(src='/js/modules/importEmpleados.js')
  script(src='/js/components/empleados/importEmpleados.js')
  script(src='/js/services/generales.js')
  script(src='/js/services/importacion.js')
  script(src='/js/components/generales.js')