extends ../layout

block content
  div(ng-app="listEmpleados" ng-controller="listEmpleadosController")
    list-empleados(empresas="empresas" centros="centros" nominas="nominas")
  
  
  script(src='/js/modules/listEmpleados.js')
  script(src='/js/components/empleados/listEmpleado.js')
  script(src='/js/services/empleado.js')
  script(src='/js/components/generales.js')
  script(src='/js/services/generales.js')