extends ../layout

block content
  section#content
    .page
      .pageheader
        h2
          | Historial de Importacion 
          span // Registro de todas las importaciones efectuadas en el sistema 
        .page-bar
          ul.page-breadcrumb
            li
              a(href='#')
                i.fa.fa-user
                |  Empleados
            li
              a(href='#') Historial de Importacion
        // /.page-bar
      // /.pageheader
      .row
        .col-md-12
          section.tile.tile-simple
            // tile header
            .tile-header.dvd.dvd-btm
              h1.custom-font
                | Historial de 
                strong  Importacion
            // /tile header
            // tile widget
            .tile-widget.p-30.text-center
              .row
                .tile-body.table-custom
                  table.table
                    thead
                      tr
                        th Fecha
                        th Usuario
                        th Centro de Costos
                        th Empresa
                        th Archivo
                    tbody
                    - for (var id in importaciones) {
                      - var imp = importaciones[id];
                      - var fecha = imp.fimportacion;
                      tr.active
                        td #{fecha.getFullYear()}/#{fecha.getMonth() + 1}/#{fecha.getDate()}
                        td
                          strong #{imp.idUsuario.google.name}
                        td #{importaciones[id].idCentro}
                        td #{importaciones[id].idEmpresa}
                        td
                          a(href='/importaciones/api/download/#{importaciones[id].idDriveArchivo}/#{importaciones[id].archivo}') #{importaciones[id].archivo}
                    - }
              // /.row
            // /tile widget
            // tile body
        // /.col-md-12
      // /row
    // /.page
  // / CONTENT  
